![image.png]()

## **Proyecto Health Analytics para el estudio de la salud pública**

**DESCRIPCIÓN DEL PROYECTO**


Análisis en países desarrollados y subdesarrollados de la relación entre la esperanza de vida, las principales causas de muerte, el gasto en salud, el PIB per cápita, tasas de vacunación, niveles de pobreza, y las tasas de homicidios y suicidios en diferentes países. Este proyecto busca entender cómo los factores socioeconómicos y de salud pública influyen en la calidad y expectativa de vida a nivel global. Además, los resultados del análisis se complementarán con la implementación de un modelo simple que ayude a entender los factores de vida que impactan en la esperanza de vida de un país,  y diseñar un dashboard para la WHO con los principales resultados del análisis.

### 1) Import libraries

In [168]:
# Manipulación y análisis de datos
import pandas as pd
import numpy as np

# Visualización de datos
import matplotlib.pyplot as plt
import plotly.express as px
import seaborn as sns


import warnings
warnings.filterwarnings('ignore')

pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

### 2) Paths & directories

In [169]:
data_folder = 'data/'

annual_number_of_deaths_by_cause_path = data_folder + 'annual_number_of_deaths_by_cause.csv'
death_rate_from_suicides_gho_path = data_folder + 'death_rate_from_suicides_gho.csv'
gdp_per_capita_penn_world_table_path = data_folder + 'gdp_per_capita_penn_world_table.csv'
global_vaccination_coverage_path = data_folder + 'global_vaccination_coverage.csv'
homicide_rate_unodc_path = data_folder + 'homicide_rate_unodc.csv'
life_expectancy_path = data_folder + 'life_expectancy.csv'
poverty_explorer_path = data_folder + 'poverty_explorer.csv'
public_healthcare_spending_share_gdp_path = data_folder + 'public_healthcare_spending_share_gdp.csv'

### 3) Quick data exploration

#### 3.1 Dataset for deaths

In [170]:
# Dataset for deaths: Datos anuales sobre el número de muertes desglosadas por causa
print("Dataset for deaths ")
df_deaths = pd.read_csv(annual_number_of_deaths_by_cause_path)
print(f'Shape of the dataset for deaths: {df_deaths.shape}')

print(f'\nNumber of countries in the data: {df_deaths["Code"].nunique()}')
print(f'Number of years available in the data: {df_deaths["Year"].nunique()}')

display(df_deaths.head())

Dataset for deaths
Shape of the dataset for deaths: (6840, 34)

Number of countries in the data: 205
Number of years available in the data: 30

,Entity,Code,Year,Deaths - Meningitis - Sex: Both - Age: All Ages (Number),Deaths - Alzheimer's disease and other dementias - Sex: Both - Age: All Ages (Number),Deaths - Parkinson's disease - Sex: Both - Age: All Ages (Number),Deaths - Nutritional deficiencies - Sex: Both - Age: All Ages (Number),Deaths - Malaria - Sex: Both - Age: All Ages (Number),Deaths - Drowning - Sex: Both - Age: All Ages (Number),Deaths - Interpersonal violence - Sex: Both - Age: All Ages (Number),Deaths - Maternal disorders - Sex: Both - Age: All Ages (Number),Deaths - HIV/AIDS - Sex: Both - Age: All Ages (Number),Deaths - Drug use disorders - Sex: Both - Age: All Ages (Number),Deaths - Tuberculosis - Sex: Both - Age: All Ages (Number),Deaths - Cardiovascular diseases - Sex: Both - Age: All Ages (Number),Deaths - Lower respiratory infections - Sex: Both - Age: All Ages (Number),Deaths - Neonatal disorders - Sex: Both - Age: All Ages (Number),Deaths - Alcohol use disorders - Sex: Both - Age: All Ages (Number),Deaths - Self-harm - Sex: Both - Age: All Ages (Number),Deaths - Exposure to forces of nature - Sex: Both - Age: All Ages (Number),Deaths - Diarrheal diseases - Sex: Both - Age: All Ages (Number),Deaths - Environmental heat and cold exposure - Sex: Both - Age: All Ages (Number),Deaths - Neoplasms - Sex: Both - Age: All Ages (Number),Deaths - Conflict and terrorism - Sex: Both - Age: All Ages (Number),Deaths - Diabetes mellitus - Sex: Both - Age: All Ages (Number),Deaths - Chronic kidney disease - Sex: Both - Age: All Ages (Number),Deaths - Poisonings - Sex: Both - Age: All Ages (Number),Deaths - Protein-energy malnutrition - Sex: Both - Age: All Ages (Number),Deaths - Road injuries - Sex: Both - Age: All Ages (Number),Deaths - Chronic respiratory diseases - Sex: Both - Age: All Ages (Number),Deaths - Cirrhosis and other chronic liver diseases - Sex: Both - Age: All Ages (Number),Deaths - Digestive diseases - Sex: Both - Age: All Ages (Number),"Deaths - Fire, heat, and hot substances - Sex: Both - Age: All Ages (Number)",Deaths - Acute hepatitis - Sex: Both - Age: All Ages (Number)
0,Afghanistan,AFG,1990,2159,1116,371,2087,93,1370,1538,2655,34,93,4661,44899,23741,15612,72,696,0,4235,175,11580,1490,2108,3709,338,2054,4154,5945,2673,5005,323,2985
1,Afghanistan,AFG,1991,2218,1136,374,2153,189,1391,2001,2885,41,102,4743,45492,24504,17128,75,751,1347,4927,113,11796,3370,2120,3724,351,2119,4472,6050,2728,5120,332,3092
2,Afghanistan,AFG,1992,2475,1162,378,2441,239,1514,2299,3315,48,118,4976,46557,27404,20060,80,855,614,6123,38,12218,4344,2153,3776,386,2404,5106,6223,2830,5335,360,3325
3,Afghanistan,AFG,1993,2812,1187,384,2837,108,1687,2589,3671,56,132,5254,47951,31116,22335,85,943,225,8174,41,12634,4096,2195,3862,425,2797,5681,6445,2943,5568,396,3601
4,Afghanistan,AFG,1994,3027,1211,391,3081,211,1809,2849,3863,63,142,5470,49308,33390,23288,88,993,160,8215,44,12914,8959,2231,3932,451,3038,6001,6664,3027,5739,420,3816

#### 3.2 Dataset for suicides

In [171]:
# Dataset for suicides: Tasa de suicidios
print("Dataset for suicides ")
df_suicides = pd.read_csv(death_rate_from_suicides_gho_path)
print(f'Shape of the dataset for deaths: {df_suicides.shape}')

print(f'\nNumber of countries in the data: {df_suicides["Code"].nunique()}')
print(f'Number of years available in the data: {df_suicides["Year"].nunique()}')

display(df_suicides.head())

Dataset for suicides
Shape of the dataset for deaths: (3880, 4)

Number of countries in the data: 184
Number of years available in the data: 20

        Entity Code  Year  Age-standardized suicide rate - Sex: both sexes
0  Afghanistan  AFG  2000                                             7.71
1  Afghanistan  AFG  2001                                             7.89
2  Afghanistan  AFG  2002                                             7.85
3  Afghanistan  AFG  2003                                             7.72
4  Afghanistan  AFG  2004                                             7.77

#### 3.3 Dataset for GDP_per_capita

In [172]:
# Dataset for GDP_per_capita: PIB per cápita, a partir de la base de datos Penn World Table
print("Dataset for GDP")
df_gdp = pd.read_csv(gdp_per_capita_penn_world_table_path)
print(f'Shape of the dataset for GDP: {df_gdp.shape}')

print(f'\nNumber of countries in the data: {df_gdp["Code"].nunique()}')
print(f'Number of years available in the data: {df_gdp["Year"].nunique()}')

display(df_gdp.head())

Dataset for GDP
Shape of the dataset for GDP: (10108, 4)

Number of countries in the data: 182
Number of years available in the data: 70

    Entity Code  Year  GDP per capita (output, multiple price benchmarks)
0  Albania  ALB  1971                                          3159.8088
1  Albania  ALB  1972                                          3214.6665
2  Albania  ALB  1973                                          3267.8481
3  Albania  ALB  1974                                          3330.0708
4  Albania  ALB  1975                                          3385.2730

#### 3.4 Dataset for vaccination

In [173]:
# Dataset for vaccination: global_vaccination_coverage
print("Dataset for vaccination")
df_vaccination = pd.read_csv(global_vaccination_coverage_path)
print(f'Shape of the dataset for vaccination: {df_vaccination.shape}')

print(f'\nNumber of countries in the data: {df_vaccination["Code"].nunique()}')
print(f'Number of years available in the data: {df_vaccination["Year"].nunique()}')

display(df_vaccination.head())

Dataset for vaccination
Shape of the dataset for vaccination: (7897, 14)

Number of countries in the data: 196
Number of years available in the data: 42

,Entity,Code,Year,BCG (% of one-year-olds immunized),HepB3 (% of one-year-olds immunized),Hib3 (% of one-year-olds immunized),IPV1 (% of one-year-olds immunized),MCV1 (% of one-year-olds immunized),PCV3 (% of one-year-olds immunized),Pol3 (% of one-year-olds immunized),RCV1 (% of one-year-olds immunized),RotaC (% of one-year-olds immunized),YFV (% of one-year-olds immunized),DTP3 (% of one-year-olds immunized)
0,Afghanistan,AFG,1982,10.0,NaN,NaN,NaN,8.0,NaN,5.0,NaN,NaN,NaN,5.0
1,Afghanistan,AFG,1983,10.0,NaN,NaN,NaN,9.0,NaN,5.0,NaN,NaN,NaN,5.0
2,Afghanistan,AFG,1984,11.0,NaN,NaN,NaN,14.0,NaN,16.0,NaN,NaN,NaN,16.0
3,Afghanistan,AFG,1985,17.0,NaN,NaN,NaN,14.0,NaN,15.0,NaN,NaN,NaN,15.0
4,Afghanistan,AFG,1986,18.0,NaN,NaN,NaN,14.0,NaN,11.0,NaN,NaN,NaN,11.0

#### 3.5 Dataset for homicides

In [174]:
# Dataset for homicides: homicide_rate_unodc
print("Dataset for homicides")
df_homicides = pd.read_csv(homicide_rate_unodc_path)
print(f'Shape of the dataset for homicides: {df_homicides.shape}')

print(f'\nNumber of countries in the data: {df_homicides["Code"].nunique()}')
print(f'Number of years available in the data: {df_homicides["Year"].nunique()}')

display(df_homicides.head())

Dataset for homicides
Shape of the dataset for homicides: (4204, 4)

Number of countries in the data: 201
Number of years available in the data: 32

,Entity,Code,Year,"Homicide rate per 100,000 population - Both sexes - All ages"
0,Afghanistan,AFG,2009,4.071527
1,Afghanistan,AFG,2010,3.487093
2,Afghanistan,AFG,2011,4.208668
3,Afghanistan,AFG,2012,6.393913
4,Afghanistan,AFG,2015,9.975262

#### 3.6 Dataset for life_expectancy

In [175]:
# Dataset for life_expectancy: life_expectancy
print("Dataset for life expectancies")
df_life_expec = pd.read_csv(life_expectancy_path)
print(f'Shape of the dataset for life expectancies: {df_life_expec.shape}')

#print(f'\nNumber of countries in the data: {df_life_expec["Code"].nunique()}')
#print(f'Number of years available in the data: {df_life_expec["Year"].nunique()}')

display(df_life_expec.head())

Dataset for life expectancies
Shape of the dataset for life expectancies: (20755, 4)

        Entity Code  Year  Period life expectancy at birth - Sex: all - Age: 0
0  Afghanistan  AFG  1950                                            27.7275
1  Afghanistan  AFG  1951                                            27.9634
2  Afghanistan  AFG  1952                                            28.4456
3  Afghanistan  AFG  1953                                            28.9304
4  Afghanistan  AFG  1954                                            29.2258

#### 3.7 Dataset for poverty

In [176]:
# Dataset for poverty: Datos sobre pobreza
print("Dataset for poverty")
df_poverty = pd.read_csv(poverty_explorer_path)
print(f'Shape of the dataset for poverty: {df_poverty.shape}')

print(f'\nNumber of countries in the data: {df_poverty["Country"].nunique()}')
print(f'Number of years available in the data: {df_poverty["Year"].nunique()}')


display(df_poverty.head())

Dataset for poverty
Shape of the dataset for poverty: (2602, 109)

Number of countries in the data: 192
Number of years available in the data: 60

,Country,Year,Share below $1 a day,Share below $2.15 a day,Share below $3.65 a day,Share below $6.85 a day,Share below $10 a day,Share below $20 a day,Share below $30 a day,Share below $40 a day,Number below $1 a day,Number below $2.15 a day,Number below $3.65 a day,Number below $6.85 a day,Number below $10 a day,Number below $20 a day,Number below $30 a day,Number below $40 a day,40% of median - share of population below poverty line,50% of median - share of population below poverty line,60% of median - share of population below poverty line,40% of median - total number of people below poverty line,50% of median - total number of people below poverty line,60% of median - total number of people below poverty line,Mean income or consumption per day,Median income or consumption per day,Threshold income or consumption per day marking the poorest decile,Threshold income or consumption per day marking the richest decile,mld,gini,polarization,decile1_share,decile2_share,decile3_share,decile4_share,decile5_share,decile6_share,decile7_share,decile8_share,decile9_share,decile10_share,decile2_thr,decile3_thr,decile4_thr,decile5_thr,decile6_thr,decile7_thr,decile8_thr,income_gap_ratio_40_median,income_gap_ratio_50_median,income_gap_ratio_60_median,poverty_gap_index_40_median,poverty_gap_index_50_median,poverty_gap_index_60_median,avg_shortfall_40_median,avg_shortfall_50_median,avg_shortfall_60_median,total_shortfall_40_median,total_shortfall_50_median,total_shortfall_60_median,income_gap_ratio_100,income_gap_ratio_1000,income_gap_ratio_2000,income_gap_ratio_215,income_gap_ratio_3000,income_gap_ratio_365,income_gap_ratio_4000,income_gap_ratio_685,poverty_gap_index_100,poverty_gap_index_1000,poverty_gap_index_2000,poverty_gap_index_215,poverty_gap_index_3000,poverty_gap_index_365,poverty_gap_index_4000,poverty_gap_index_685,avg_shortfall_100,avg_shortfall_1000,avg_shortfall_2000,avg_shortfall_215,avg_shortfall_3000,avg_shortfall_365,avg_shortfall_4000,avg_shortfall_685,total_shortfall_100,total_shortfall_1000,total_shortfall_2000,total_shortfall_215,total_shortfall_3000,total_shortfall_365,total_shortfall_4000,total_shortfall_685,decile1_avg,decile2_avg,decile3_avg,decile4_avg,decile5_avg,decile6_avg,decile7_avg,decile8_avg,decile9_avg,decile10_avg,bottom50_share,middle40_share,palma_ratio,s80_s20_ratio,p90_p10_ratio,p90_p50_ratio,p50_p10_ratio
0,Albania,1996,0.057416,0.534846,8.898443,47.879143,75.623880,98.702095,99.89742,99.951650,1819,16944,281906,1516827,2395790,3126915,3164783,3166501,2.768821,7.548123,14.802514,87717,239127,468949,7.933157,6.972103,3.691232,13.164797,0.119104,0.270103,0.241293,3.863286,5.289347,6.378684,7.322042,8.379662,9.354903,10.823087,12.473869,14.899548,21.215572,4.687306,5.399629,6.228325,6.971433,8.039671,9.178580,10.682603,14.954244,17.344930,19.693201,0.414055,1.309217,2.915092,0.417050,0.604653,0.823818,36582.383,144588.90,386328.72,3.924362,38.960340,61.430424,18.363249,73.68916,18.084910,80.22638,28.927036,0.002253,29.463327,60.633118,0.098215,73.61356,1.609277,80.187584,13.850017,0.039244,3.896034,12.286085,0.394810,22.106749,0.660099,32.090553,1.981502,71.384155,9334079.0,38417544.0,6689.6580,69963064.0,186085.92,101614760.0,3005595.8,3.064805,4.196122,5.060310,5.808691,6.647718,7.421392,8.586125,9.895717,11.820045,16.830648,31.233019,47.551407,0.928335,3.945872,3.566505,1.888392,1.888647
1,Albania,2002,0.046371,1.092647,11.388324,52.090965,76.705050,96.528860,98.94813,99.762024,1415,33337,347459,1589301,2340279,2945105,3018917,3043749,3.212283,8.406373,16.020554,98007,256479,488789,8.108229,6.688141,3.501889,13.990763,0.164812,0.317390,0.268982,3.494002,4.859444,5.842059,6.738204,7.653102,8.839459,10.228584,11.984428,14.925079,25.435638,4.370816,5.093828,5.858262,6.687111,7.662466,8.913951,10.652152,17.543550,18.595226,20.580732,0.563548,1.563182,3.297149,0.469335,0.621838,0.825881,45998.117,159488.27,403681.56,43.873215,41.387882,63.137640,17.337124,74.09592,19.966413,80.05450,31.078033,0.020348,31.746600,60.946040,0.189435,73.31651,2.273840,79.863976,16.188852,0.438732,4.138788,12.627528,0.372748,22.228775,0.728774,32.021797,2.128845,620.805970,9685919.0,37189396.0,12426.3060,67106824.0,253219.12,97466320.0,3383376.0,2.833017,3.940148,4.736875,5.463489,6.205310,7.167236,8.293570,9.717249,12.101596,20.623796,28.586811,45.977550,1.215056,4.831625,3.995204,2.092198,1.909572
2,Albania,2005,0.000000,0.591086,7.289305,40.428430,68.453090,95.405670,98.85736,99.546940,0,17800,219516,1217497,2061456,2873129,2977077,2997843,4.095002,8.991532,16.675770,123320,270779,502189,9.165975,7.799791,3.983527,15.433521,0.154413,0.305957,0.254529,3.482536,4.920109,5.977283,6.921183,7.988159,9.037068,10.372144,12.126408,14.833943,24.341167,5.039332,5.949700,6.793219,7.796200,8.827788,10.280450,12.068591,16.876627,20.329166,21.973644,0.691096,1.827905,3.664277,0.526537,0.792816,1.028339,64932.500,214678.00,516420.56,NaN,37.084915,58.724280,15.179814,70.71589,19.209354,77.61802,28.443775,0.000000,25.385770,56.026287,0.089723,69.90787,1.400225,77.266360,11.499372,NaN,3.708491,11.744856,0.326366,21.214766,0.701141,31.047207,1.948399,0.000000,7644891.5,33744490.0,5809.3154,63157990.0,153911.77,93074660.0,2372169.5,3.192084,4.509759,5.478762,6.343938,7.321926,8.283354,9.507081,11.115035,13.596755,22.311052,29.289268,46.369564,1.142718,4.662236,3.874336,1.979621,1.957110
3,Albania,2008,0.000000,0.199925,3.902613,33.431850,62.768870,94.582830,98.50923,99.344450,0,5892,115022,985342,1849996,2787653,2903376,2927993,2.118535,7.227715,14.137155,62440,213023,416666,10.038169,8.400200,4.598464,16.435902,0.148893,0.299847,0.247311,3.733625,5.136781,6.088472,6.983584,7.912078,8.924132,10.298735,11.929075,14.535205,24.458311,5.667837,6.554397,7.485383,8.395616,9.562263,11.150203,12.968081,15.433302,16.522570,19.235218,0.326960,1.194202,2.719310,0.518571,0.693964,0.969478,32379.590,147830.39,403948.53,NaN,33.673496,55.581460,19.829390,68.46280,13.493116,75.83295,24.404856,0.000000,21.136477,52.570515,0.039641,67.44217,0.526583,75.335830,8.158998,NaN,3.367350,11.116292,0.426332,20.538840,0.492499,30.333180,1.671733,0.000000,6229583.0,30988364.0,2511.9475,59631972.0,56648.19,88815336.0,1647228.4,3.747876,5.156388,6.111711,7.010240,7.942278,8.958195,10.338044,11.974607,14.590684,24.551666,29.854542,45.687150,1.114657,4.395911,3.574216,1.957677,1.825743
4,Albania,2012,0.024101,0.620691,4.805442,36.667750,65.062386,95.520160,99.07353,99.742485,699,18003,139377,1063512,1887070,2770468,2873530,2892932,3.510522,7.753112,14.795234,101819,224871,429121,9.517231,8.240385,4.410012,16.009024,0.138417,0.289605,0.249988,3.659527,5.193095,6.143644,7.030725,8.083832,9.256943,10.515455,12.293301,14.889137,22.934340,5.427883,6.244149,7.160211,8.240385,9.336886,10.757146,12.696908,19.908410,20.938734,21.696527,0.698888,1.623401,3.210051,0.656212,0.862716,1.072726,66814.836,193999.86,460329.44,16.883530,34.893830,56.502230,21.087643,69.22244,21.463728,76.50663,25.827150,0.004069,22.702759,53.971027,0.130893,68.58113,1.031426,76.309616,9.470237,0.168835,3.489383,11.300446,0.453384,20.766733,0.783426,30.602654,1.769160,118.015870,6584710.0,31307524.0,8162.2783,59673830.0,109191.58,88531390.0,1881522.8,3.482856,4.942388,5.847048,6.691304,7.693570,8.810046,10.007802,11.699819,14.170336,21.827140,30.110823,46.954838,1.041193,4.272574,3.630154,1.942752,1.868563

#### 3.8 Dataset for public healthcare spending

In [177]:
# Dataset for public healthcare spending: Porcentaje del PIB destinado al gasto en sanidad pública
print("Dataset for public healthcare spending")
df_public_health_spend = pd.read_csv(public_healthcare_spending_share_gdp_path)
print(f'Shape of the dataset for poverty: {df_public_health_spend.shape}')

print(f'\nNumber of countries in the data: {df_public_health_spend["Code"].nunique()}')
print(f'Number of years available in the data: {df_public_health_spend["Year"].nunique()}')


display(df_public_health_spend.head())

Dataset for public healthcare spending
Shape of the dataset for poverty: (4014, 4)

Number of countries in the data: 191
Number of years available in the data: 20

,Entity,Code,Year,Domestic general government health expenditure (% of GDP)
0,Afghanistan,AFG,2002,0.084181
1,Afghanistan,AFG,2003,0.650963
2,Afghanistan,AFG,2004,0.542926
3,Afghanistan,AFG,2005,0.529184
4,Afghanistan,AFG,2006,0.497840

### 4) Funciones

In [178]:
def exploracion_inicial(df, tipo = None):
    if tipo == 'version_lite':
        print("Calculamos cuántas filas y columnas hay en el conjunto de datos")
        num_filas, num_columnas = df.shape
        print("\tHay {:,} filas y {:,} columnas.".format(num_filas, num_columnas))

        print("Mostramos las primeras dos filas del conjunto de datos")
        display(df.head(2))
        print('\n########################################################################################')
    else:
        print("Calculamos cuántas filas y columnas hay en el conjunto de datos")
        num_filas, num_columnas = df.shape
        print("\tHay {:,} filas y {:,} columnas.".format(num_filas, num_columnas))
        print('\n########################################################################################')

        print("Mostramos las primeras cinco filas del conjunto de datos")
        display(df.head())
        print('\n########################################################################################')

        print("Estas son las últimas cinco filas del conjunto de datos:")
        display(df.tail())
        print('\n########################################################################################')

        print("Obtenemos una muestra aleatoria de filas del conjunto de datos con una semilla para obtener el mismo resultado")
        display(df.sample(n = 5))
        print('\n########################################################################################')

        print("Identificamos las columnas del conjunto de datos")
        for i in list(df.columns):
            print('\t - ' + i)
        print('\n########################################################################################')

        print("Identificamos el tipo de datos de cada columna")
        print(df.dtypes)
        print('\n########################################################################################')

        print("Mostramos el total de columnas que hay de cada tipo de datos")
        print(df.dtypes.value_counts())
        print('\n########################################################################################')

        print("Obtenemos información más completa sobre la estructura y el contenido del DataFrame")
        print(df.info())
        print('\n########################################################################################')

        print("Mostramos valores únicos tiene cada columna")
        print(df.nunique())
        print('\n########################################################################################')

        print("Estas son las estadísticas descriptivas básicas de todas las columnas:")
        display(df.describe(include = 'all').fillna(''))
        print('\n########################################################################################')

        print("Observamos los valores nulos en el conjunto de datos")
        print(df.isnull().sum().sort_values(ascending = False))
        print('\n########################################################################################')

        print("Calculamos el porcentaje de valores nulos en cada columna")
        print(round((df.isnull().sum()/len(df)*100), 2).sort_values(ascending = False))
        print('\n########################################################################################')

In [179]:
def renombrar_columnas(df, mapeo_columnas):
    df = df.rename(columns=mapeo_columnas)
    return df

## 5) Analisis Exploratorio de datos

#### 5.1 DF DEATHS

In [180]:
exploracion_inicial(df_deaths)

Calculamos cuántas filas y columnas hay en el conjunto de datos
	Hay 6,840 filas y 34 columnas.

########################################################################################
Mostramos las primeras cinco filas del conjunto de datos

,Entity,Code,Year,Deaths - Meningitis - Sex: Both - Age: All Ages (Number),Deaths - Alzheimer's disease and other dementias - Sex: Both - Age: All Ages (Number),Deaths - Parkinson's disease - Sex: Both - Age: All Ages (Number),Deaths - Nutritional deficiencies - Sex: Both - Age: All Ages (Number),Deaths - Malaria - Sex: Both - Age: All Ages (Number),Deaths - Drowning - Sex: Both - Age: All Ages (Number),Deaths - Interpersonal violence - Sex: Both - Age: All Ages (Number),Deaths - Maternal disorders - Sex: Both - Age: All Ages (Number),Deaths - HIV/AIDS - Sex: Both - Age: All Ages (Number),Deaths - Drug use disorders - Sex: Both - Age: All Ages (Number),Deaths - Tuberculosis - Sex: Both - Age: All Ages (Number),Deaths - Cardiovascular diseases - Sex: Both - Age: All Ages (Number),Deaths - Lower respiratory infections - Sex: Both - Age: All Ages (Number),Deaths - Neonatal disorders - Sex: Both - Age: All Ages (Number),Deaths - Alcohol use disorders - Sex: Both - Age: All Ages (Number),Deaths - Self-harm - Sex: Both - Age: All Ages (Number),Deaths - Exposure to forces of nature - Sex: Both - Age: All Ages (Number),Deaths - Diarrheal diseases - Sex: Both - Age: All Ages (Number),Deaths - Environmental heat and cold exposure - Sex: Both - Age: All Ages (Number),Deaths - Neoplasms - Sex: Both - Age: All Ages (Number),Deaths - Conflict and terrorism - Sex: Both - Age: All Ages (Number),Deaths - Diabetes mellitus - Sex: Both - Age: All Ages (Number),Deaths - Chronic kidney disease - Sex: Both - Age: All Ages (Number),Deaths - Poisonings - Sex: Both - Age: All Ages (Number),Deaths - Protein-energy malnutrition - Sex: Both - Age: All Ages (Number),Deaths - Road injuries - Sex: Both - Age: All Ages (Number),Deaths - Chronic respiratory diseases - Sex: Both - Age: All Ages (Number),Deaths - Cirrhosis and other chronic liver diseases - Sex: Both - Age: All Ages (Number),Deaths - Digestive diseases - Sex: Both - Age: All Ages (Number),"Deaths - Fire, heat, and hot substances - Sex: Both - Age: All Ages (Number)",Deaths - Acute hepatitis - Sex: Both - Age: All Ages (Number)
0,Afghanistan,AFG,1990,2159,1116,371,2087,93,1370,1538,2655,34,93,4661,44899,23741,15612,72,696,0,4235,175,11580,1490,2108,3709,338,2054,4154,5945,2673,5005,323,2985
1,Afghanistan,AFG,1991,2218,1136,374,2153,189,1391,2001,2885,41,102,4743,45492,24504,17128,75,751,1347,4927,113,11796,3370,2120,3724,351,2119,4472,6050,2728,5120,332,3092
2,Afghanistan,AFG,1992,2475,1162,378,2441,239,1514,2299,3315,48,118,4976,46557,27404,20060,80,855,614,6123,38,12218,4344,2153,3776,386,2404,5106,6223,2830,5335,360,3325
3,Afghanistan,AFG,1993,2812,1187,384,2837,108,1687,2589,3671,56,132,5254,47951,31116,22335,85,943,225,8174,41,12634,4096,2195,3862,425,2797,5681,6445,2943,5568,396,3601
4,Afghanistan,AFG,1994,3027,1211,391,3081,211,1809,2849,3863,63,142,5470,49308,33390,23288,88,993,160,8215,44,12914,8959,2231,3932,451,3038,6001,6664,3027,5739,420,3816

########################################################################################
Estas son las últimas cinco filas del conjunto de datos:

,Entity,Code,Year,Deaths - Meningitis - Sex: Both - Age: All Ages (Number),Deaths - Alzheimer's disease and other dementias - Sex: Both - Age: All Ages (Number),Deaths - Parkinson's disease - Sex: Both - Age: All Ages (Number),Deaths - Nutritional deficiencies - Sex: Both - Age: All Ages (Number),Deaths - Malaria - Sex: Both - Age: All Ages (Number),Deaths - Drowning - Sex: Both - Age: All Ages (Number),Deaths - Interpersonal violence - Sex: Both - Age: All Ages (Number),Deaths - Maternal disorders - Sex: Both - Age: All Ages (Number),Deaths - HIV/AIDS - Sex: Both - Age: All Ages (Number),Deaths - Drug use disorders - Sex: Both - Age: All Ages (Number),Deaths - Tuberculosis - Sex: Both - Age: All Ages (Number),Deaths - Cardiovascular diseases - Sex: Both - Age: All Ages (Number),Deaths - Lower respiratory infections - Sex: Both - Age: All Ages (Number),Deaths - Neonatal disorders - Sex: Both - Age: All Ages (Number),Deaths - Alcohol use disorders - Sex: Both - Age: All Ages (Number),Deaths - Self-harm - Sex: Both - Age: All Ages (Number),Deaths - Exposure to forces of nature - Sex: Both - Age: All Ages (Number),Deaths - Diarrheal diseases - Sex: Both - Age: All Ages (Number),Deaths - Environmental heat and cold exposure - Sex: Both - Age: All Ages (Number),Deaths - Neoplasms - Sex: Both - Age: All Ages (Number),Deaths - Conflict and terrorism - Sex: Both - Age: All Ages (Number),Deaths - Diabetes mellitus - Sex: Both - Age: All Ages (Number),Deaths - Chronic kidney disease - Sex: Both - Age: All Ages (Number),Deaths - Poisonings - Sex: Both - Age: All Ages (Number),Deaths - Protein-energy malnutrition - Sex: Both - Age: All Ages (Number),Deaths - Road injuries - Sex: Both - Age: All Ages (Number),Deaths - Chronic respiratory diseases - Sex: Both - Age: All Ages (Number),Deaths - Cirrhosis and other chronic liver diseases - Sex: Both - Age: All Ages (Number),Deaths - Digestive diseases - Sex: Both - Age: All Ages (Number),"Deaths - Fire, heat, and hot substances - Sex: Both - Age: All Ages (Number)",Deaths - Acute hepatitis - Sex: Both - Age: All Ages (Number)
6835,Zimbabwe,ZWE,2015,1439,754,215,3019,2518,770,1302,1355,29162,104,11214,16649,12974,9278,48,2235,16,5102,37,11161,13,3176,2108,381,2990,2373,2751,1956,4202,632,146
6836,Zimbabwe,ZWE,2016,1457,767,219,3056,2050,801,1342,1338,27141,110,10998,16937,13024,9065,49,2296,31,5002,37,11465,6,3259,2160,393,3027,2436,2788,1962,4264,648,146
6837,Zimbabwe,ZWE,2017,1460,781,223,2990,2116,818,1363,1312,24846,115,10762,17187,12961,8901,50,2338,251,4948,37,11744,5,3313,2196,398,2962,2473,2818,2007,4342,654,144
6838,Zimbabwe,ZWE,2018,1450,795,227,2918,2088,825,1396,1294,22106,121,10545,17460,12860,8697,51,2372,0,4745,37,12038,9,3381,2240,400,2890,2509,2849,2030,4377,657,139
6839,Zimbabwe,ZWE,2019,1450,812,232,2884,2068,827,1434,1294,20722,127,10465,17810,12897,8609,53,2403,660,4635,37,12353,11,3460,2292,405,2855,2554,2891,2065,4437,662,136

########################################################################################
Obtenemos una muestra aleatoria de filas del conjunto de datos con una semilla para obtener el mismo resultado

,Entity,Code,Year,Deaths - Meningitis - Sex: Both - Age: All Ages (Number),Deaths - Alzheimer's disease and other dementias - Sex: Both - Age: All Ages (Number),Deaths - Parkinson's disease - Sex: Both - Age: All Ages (Number),Deaths - Nutritional deficiencies - Sex: Both - Age: All Ages (Number),Deaths - Malaria - Sex: Both - Age: All Ages (Number),Deaths - Drowning - Sex: Both - Age: All Ages (Number),Deaths - Interpersonal violence - Sex: Both - Age: All Ages (Number),Deaths - Maternal disorders - Sex: Both - Age: All Ages (Number),Deaths - HIV/AIDS - Sex: Both - Age: All Ages (Number),Deaths - Drug use disorders - Sex: Both - Age: All Ages (Number),Deaths - Tuberculosis - Sex: Both - Age: All Ages (Number),Deaths - Cardiovascular diseases - Sex: Both - Age: All Ages (Number),Deaths - Lower respiratory infections - Sex: Both - Age: All Ages (Number),Deaths - Neonatal disorders - Sex: Both - Age: All Ages (Number),Deaths - Alcohol use disorders - Sex: Both - Age: All Ages (Number),Deaths - Self-harm - Sex: Both - Age: All Ages (Number),Deaths - Exposure to forces of nature - Sex: Both - Age: All Ages (Number),Deaths - Diarrheal diseases - Sex: Both - Age: All Ages (Number),Deaths - Environmental heat and cold exposure - Sex: Both - Age: All Ages (Number),Deaths - Neoplasms - Sex: Both - Age: All Ages (Number),Deaths - Conflict and terrorism - Sex: Both - Age: All Ages (Number),Deaths - Diabetes mellitus - Sex: Both - Age: All Ages (Number),Deaths - Chronic kidney disease - Sex: Both - Age: All Ages (Number),Deaths - Poisonings - Sex: Both - Age: All Ages (Number),Deaths - Protein-energy malnutrition - Sex: Both - Age: All Ages (Number),Deaths - Road injuries - Sex: Both - Age: All Ages (Number),Deaths - Chronic respiratory diseases - Sex: Both - Age: All Ages (Number),Deaths - Cirrhosis and other chronic liver diseases - Sex: Both - Age: All Ages (Number),Deaths - Digestive diseases - Sex: Both - Age: All Ages (Number),"Deaths - Fire, heat, and hot substances - Sex: Both - Age: All Ages (Number)",Deaths - Acute hepatitis - Sex: Both - Age: All Ages (Number)
2642,Iceland,ISL,1992,3,68,18,1,0,4,3,0,3,6,4,768,104,12,5,38,0,1,1,456,0,17,13,1,1,27,73,13,49,2,0
6614,World,OWID_WRL,2004,363658,909696,227822,394175,961129,338599,441673,265466,1844490,81873,1559197,14753751,2698805,2649140,180550,819584,242938,2167428,67154,7508315,70562,1019233,923527,91491,345736,1259242,3464172,1267253,2189105,123748,127996
1143,China,CHN,1993,33396,100822,34129,35265,1327,142119,37525,12866,4830,34848,152896,2519098,489064,266041,9287,213364,1573,71456,10139,1559122,6,74000,100190,20976,33447,227370,1364268,169199,320315,16377,22477
6787,Zambia,ZMB,1997,3733,325,108,3793,9149,436,699,1082,50296,20,10665,9848,13159,9288,72,812,0,14087,81,5572,1,1529,1196,297,3659,1716,1823,2944,4389,304,316
5704,Sudan,SDN,1994,2097,1465,425,3872,4320,2770,235,3076,791,129,2662,57194,16844,36535,76,1415,8,24696,70,9342,827,1243,2869,1020,3768,7195,6940,3401,5139,1940,3445

########################################################################################
Identificamos las columnas del conjunto de datos
	 - Entity
	 - Code
	 - Year
	 - Deaths - Meningitis - Sex: Both - Age: All Ages (Number)
	 - Deaths - Alzheimer's disease and other dementias - Sex: Both - Age: All Ages (Number)
	 - Deaths - Parkinson's disease - Sex: Both - Age: All Ages (Number)
	 - Deaths - Nutritional deficiencies - Sex: Both - Age: All Ages (Number)
	 - Deaths - Malaria - Sex: Both - Age: All Ages (Number)
	 - Deaths - Drowning - Sex: Both - Age: All Ages (Number)
	 - Deaths - Interpersonal violence - Sex: Both - Age: All Ages (Number)
	 - Deaths - Maternal disorders - Sex: Both - Age: All Ages (Number)
	 - Deaths - HIV/AIDS - Sex: Both - Age: All Ages (Number)
	 - Deaths - Drug use disorders - Sex: Both - Age: All Ages (Number)
	 - Deaths - Tuberculosis - Sex: Both - Age: All Ages (Number)
	 - Deaths - Cardiovascular diseases - Sex: Both - Age: All Ages (Number)
	 - Deaths - Lower respiratory infections - Sex: Both - Age: All Ages (Number)
	 - Deaths - Neonatal disorders - Sex: Both - Age: All Ages (Number)
	 - Deaths - Alcohol use disorders - Sex: Both - Age: All Ages (Number)
	 - Deaths - Self-harm - Sex: Both - Age: All Ages (Number)
	 - Deaths - Exposure to forces of nature - Sex: Both - Age: All Ages (Number)
	 - Deaths - Diarrheal diseases - Sex: Both - Age: All Ages (Number)
	 - Deaths - Environmental heat and cold exposure - Sex: Both - Age: All Ages (Number)
	 - Deaths - Neoplasms - Sex: Both - Age: All Ages (Number)
	 - Deaths - Conflict and terrorism - Sex: Both - Age: All Ages (Number)
	 - Deaths - Diabetes mellitus - Sex: Both - Age: All Ages (Number)
	 - Deaths - Chronic kidney disease - Sex: Both - Age: All Ages (Number)
	 - Deaths - Poisonings - Sex: Both - Age: All Ages (Number)
	 - Deaths - Protein-energy malnutrition - Sex: Both - Age: All Ages (Number)
	 - Deaths - Road injuries - Sex: Both - Age: All Ages (Number)
	 - Deaths - Chronic respiratory diseases - Sex: Both - Age: All Ages (Number)
	 - Deaths - Cirrhosis and other chronic liver diseases - Sex: Both - Age: All Ages (Number)
	 - Deaths - Digestive diseases - Sex: Both - Age: All Ages (Number)
	 - Deaths - Fire, heat, and hot substances - Sex: Both - Age: All Ages (Number)
	 - Deaths - Acute hepatitis - Sex: Both - Age: All Ages (Number)

########################################################################################
Identificamos el tipo de datos de cada columna
Entity                                                                                      object
Code                                                                                        object
Year                                                                                         int64
Deaths - Meningitis - Sex: Both - Age: All Ages (Number)                                     int64
Deaths - Alzheimer's disease and other dementias - Sex: Both - Age: All Ages (Number)        int64
Deaths - Parkinson's disease - Sex: Both - Age: All Ages (Number)                            int64
Deaths - Nutritional deficiencies - Sex: Both - Age: All Ages (Number)                       int64
Deaths - Malaria - Sex: Both - Age: All Ages (Number)                                        int64
Deaths - Drowning - Sex: Both - Age: All Ages (Number)                                       int64
Deaths - Interpersonal violence - Sex: Both - Age: All Ages (Number)                         int64
Deaths - Maternal disorders - Sex: Both - Age: All Ages (Number)                             int64
Deaths - HIV/AIDS - Sex: Both - Age: All Ages (Number)                                       int64
Deaths - Drug use disorders - Sex: Both - Age: All Ages (Number)                             int64
Deaths - Tuberculosis - Sex: Both - Age: All Ages (Number)                                   int64
Deaths - Cardiovascular diseases - Sex: Both - Age: All Ages (Number)                        int64
Deaths - Lower respiratory infections - Sex: Both - Age: All Ages (Number)                   int64
Deaths - Neonatal disorders - Sex: Both - Age: All Ages (Number)                             int64
Deaths - Alcohol use disorders - Sex: Both - Age: All Ages (Number)                          int64
Deaths - Self-harm - Sex: Both - Age: All Ages (Number)                                      int64
Deaths - Exposure to forces of nature - Sex: Both - Age: All Ages (Number)                   int64
Deaths - Diarrheal diseases - Sex: Both - Age: All Ages (Number)                             int64
Deaths - Environmental heat and cold exposure - Sex: Both - Age: All Ages (Number)           int64
Deaths - Neoplasms - Sex: Both - Age: All Ages (Number)                                      int64
Deaths - Conflict and terrorism - Sex: Both - Age: All Ages (Number)                         int64
Deaths - Diabetes mellitus - Sex: Both - Age: All Ages (Number)                              int64
Deaths - Chronic kidney disease - Sex: Both - Age: All Ages (Number)                         int64
Deaths - Poisonings - Sex: Both - Age: All Ages (Number)                                     int64
Deaths - Protein-energy malnutrition - Sex: Both - Age: All Ages (Number)                    int64
Deaths - Road injuries - Sex: Both - Age: All Ages (Number)                                  int64
Deaths - Chronic respiratory diseases - Sex: Both - Age: All Ages (Number)                   int64
Deaths - Cirrhosis and other chronic liver diseases - Sex: Both - Age: All Ages (Number)     int64
Deaths - Digestive diseases - Sex: Both - Age: All Ages (Number)                             int64
Deaths - Fire, heat, and hot substances - Sex: Both - Age: All Ages (Number)                 int64
Deaths - Acute hepatitis - Sex: Both - Age: All Ages (Number)                                int64
dtype: object

########################################################################################
Mostramos el total de columnas que hay de cada tipo de datos
int64     32
object     2
Name: count, dtype: int64

########################################################################################
Obtenemos información más completa sobre la estructura y el contenido del DataFrame
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6840 entries, 0 to 6839
Data columns (total 34 columns):
 #   Column                                                                                    Non-Null Count  Dtype
---  ------                                                                                    --------------  -----
 0   Entity                                                                                    6840 non-null   object
 1   Code                                                                                      6150 non-null   object
 2   Year                                                                                      6840 non-null   int64
 3   Deaths - Meningitis - Sex: Both - Age: All Ages (Number)                                  6840 non-null   int64
 4   Deaths - Alzheimer's disease and other dementias - Sex: Both - Age: All Ages (Number)     6840 non-null   int64
 5   Deaths - Parkinson's disease - Sex: Both - Age: All Ages (Number)                         6840 non-null   int64
 6   Deaths - Nutritional deficiencies - Sex: Both - Age: All Ages (Number)                    6840 non-null   int64
 7   Deaths - Malaria - Sex: Both - Age: All Ages (Number)                                     6840 non-null   int64
 8   Deaths - Drowning - Sex: Both - Age: All Ages (Number)                                    6840 non-null   int64
 9   Deaths - Interpersonal violence - Sex: Both - Age: All Ages (Number)                      6840 non-null   int64
 10  Deaths - Maternal disorders - Sex: Both - Age: All Ages (Number)                          6840 non-null   int64
 11  Deaths - HIV/AIDS - Sex: Both - Age: All Ages (Number)                                    6840 non-null   int64
 12  Deaths - Drug use disorders - Sex: Both - Age: All Ages (Number)                          6840 non-null   int64
 13  Deaths - Tuberculosis - Sex: Both - Age: All Ages (Number)                                6840 non-null   int64
 14  Deaths - Cardiovascular diseases - Sex: Both - Age: All Ages (Number)                     6840 non-null   int64
 15  Deaths - Lower respiratory infections - Sex: Both - Age: All Ages (Number)                6840 non-null   int64
 16  Deaths - Neonatal disorders - Sex: Both - Age: All Ages (Number)                          6840 non-null   int64
 17  Deaths - Alcohol use disorders - Sex: Both - Age: All Ages (Number)                       6840 non-null   int64
 18  Deaths - Self-harm - Sex: Both - Age: All Ages (Number)                                   6840 non-null   int64
 19  Deaths - Exposure to forces of nature - Sex: Both - Age: All Ages (Number)                6840 non-null   int64
 20  Deaths - Diarrheal diseases - Sex: Both - Age: All Ages (Number)                          6840 non-null   int64
 21  Deaths - Environmental heat and cold exposure - Sex: Both - Age: All Ages (Number)        6840 non-null   int64
 22  Deaths - Neoplasms - Sex: Both - Age: All Ages (Number)                                   6840 non-null   int64
 23  Deaths - Conflict and terrorism - Sex: Both - Age: All Ages (Number)                      6840 non-null   int64
 24  Deaths - Diabetes mellitus - Sex: Both - Age: All Ages (Number)                           6840 non-null   int64
 25  Deaths - Chronic kidney disease - Sex: Both - Age: All Ages (Number)                      6840 non-null   int64
 26  Deaths - Poisonings - Sex: Both - Age: All Ages (Number)                                  6840 non-null   int64
 27  Deaths - Protein-energy malnutrition - Sex: Both - Age: All Ages (Number)                 6840 non-null   int64
 28  Deaths - Road injuries - Sex: Both - Age: All Ages (Number)                               6840 non-null   int64
 29  Deaths - Chronic respiratory diseases - Sex: Both - Age: All Ages (Number)                6840 non-null   int64
 30  Deaths - Cirrhosis and other chronic liver diseases - Sex: Both - Age: All Ages (Number)  6840 non-null   int64
 31  Deaths - Digestive diseases - Sex: Both - Age: All Ages (Number)                          6840 non-null   int64
 32  Deaths - Fire, heat, and hot substances - Sex: Both - Age: All Ages (Number)              6840 non-null   int64
 33  Deaths - Acute hepatitis - Sex: Both - Age: All Ages (Number)                             6840 non-null   int64
dtypes: int64(32), object(2)
memory usage: 1.8+ MB
None

########################################################################################
Mostramos valores únicos tiene cada columna
Entity                                                                                       228
Code                                                                                         205
Year                                                                                          30
Deaths - Meningitis - Sex: Both - Age: All Ages (Number)                                    2596
Deaths - Alzheimer's disease and other dementias - Sex: Both - Age: All Ages (Number)       3696
Deaths - Parkinson's disease - Sex: Both - Age: All Ages (Number)                           2445
Deaths - Nutritional deficiencies - Sex: Both - Age: All Ages (Number)                      2735
Deaths - Malaria - Sex: Both - Age: All Ages (Number)                                       2138
Deaths - Drowning - Sex: Both - Age: All Ages (Number)                                      2471
Deaths - Interpersonal violence - Sex: Both - Age: All Ages (Number)                        2742
Deaths - Maternal disorders - Sex: Both - Age: All Ages (Number)                            2365
Deaths - HIV/AIDS - Sex: Both - Age: All Ages (Number)                                      3005
Deaths - Drug use disorders - Sex: Both - Age: All Ages (Number)                            1486
Deaths - Tuberculosis - Sex: Both - Age: All Ages (Number)                                  3435
Deaths - Cardiovascular diseases - Sex: Both - Age: All Ages (Number)                       5935
Deaths - Lower respiratory infections - Sex: Both - Age: All Ages (Number)                  4796
Deaths - Neonatal disorders - Sex: Both - Age: All Ages (Number)                            4174
Deaths - Alcohol use disorders - Sex: Both - Age: All Ages (Number)                         1878
Deaths - Self-harm - Sex: Both - Age: All Ages (Number)                                     3386
Deaths - Exposure to forces of nature - Sex: Both - Age: All Ages (Number)                   953
Deaths - Diarrheal diseases - Sex: Both - Age: All Ages (Number)                            3482
Deaths - Environmental heat and cold exposure - Sex: Both - Age: All Ages (Number)          1274
Deaths - Neoplasms - Sex: Both - Age: All Ages (Number)                                     5514
Deaths - Conflict and terrorism - Sex: Both - Age: All Ages (Number)                        1444
Deaths - Diabetes mellitus - Sex: Both - Age: All Ages (Number)                             4001
Deaths - Chronic kidney disease - Sex: Both - Age: All Ages (Number)                        3877
Deaths - Poisonings - Sex: Both - Age: All Ages (Number)                                    1672
Deaths - Protein-energy malnutrition - Sex: Both - Age: All Ages (Number)                   2675
Deaths - Road injuries - Sex: Both - Age: All Ages (Number)                                 4016
Deaths - Chronic respiratory diseases - Sex: Both - Age: All Ages (Number)                  4483
Deaths - Cirrhosis and other chronic liver diseases - Sex: Both - Age: All Ages (Number)    4093
Deaths - Digestive diseases - Sex: Both - Age: All Ages (Number)                            4704
Deaths - Fire, heat, and hot substances - Sex: Both - Age: All Ages (Number)                1999
Deaths - Acute hepatitis - Sex: Both - Age: All Ages (Number)                               1592
dtype: int64

########################################################################################
Estas son las estadísticas descriptivas básicas de todas las columnas:

,Entity,Code,Year,Deaths - Meningitis - Sex: Both - Age: All Ages (Number),Deaths - Alzheimer's disease and other dementias - Sex: Both - Age: All Ages (Number),Deaths - Parkinson's disease - Sex: Both - Age: All Ages (Number),Deaths - Nutritional deficiencies - Sex: Both - Age: All Ages (Number),Deaths - Malaria - Sex: Both - Age: All Ages (Number),Deaths - Drowning - Sex: Both - Age: All Ages (Number),Deaths - Interpersonal violence - Sex: Both - Age: All Ages (Number),Deaths - Maternal disorders - Sex: Both - Age: All Ages (Number),Deaths - HIV/AIDS - Sex: Both - Age: All Ages (Number),Deaths - Drug use disorders - Sex: Both - Age: All Ages (Number),Deaths - Tuberculosis - Sex: Both - Age: All Ages (Number),Deaths - Cardiovascular diseases - Sex: Both - Age: All Ages (Number),Deaths - Lower respiratory infections - Sex: Both - Age: All Ages (Number),Deaths - Neonatal disorders - Sex: Both - Age: All Ages (Number),Deaths - Alcohol use disorders - Sex: Both - Age: All Ages (Number),Deaths - Self-harm - Sex: Both - Age: All Ages (Number),Deaths - Exposure to forces of nature - Sex: Both - Age: All Ages (Number),Deaths - Diarrheal diseases - Sex: Both - Age: All Ages (Number),Deaths - Environmental heat and cold exposure - Sex: Both - Age: All Ages (Number),Deaths - Neoplasms - Sex: Both - Age: All Ages (Number),Deaths - Conflict and terrorism - Sex: Both - Age: All Ages (Number),Deaths - Diabetes mellitus - Sex: Both - Age: All Ages (Number),Deaths - Chronic kidney disease - Sex: Both - Age: All Ages (Number),Deaths - Poisonings - Sex: Both - Age: All Ages (Number),Deaths - Protein-energy malnutrition - Sex: Both - Age: All Ages (Number),Deaths - Road injuries - Sex: Both - Age: All Ages (Number),Deaths - Chronic respiratory diseases - Sex: Both - Age: All Ages (Number),Deaths - Cirrhosis and other chronic liver diseases - Sex: Both - Age: All Ages (Number),Deaths - Digestive diseases - Sex: Both - Age: All Ages (Number),"Deaths - Fire, heat, and hot substances - Sex: Both - Age: All Ages (Number)",Deaths - Acute hepatitis - Sex: Both - Age: All Ages (Number)
count,6840,6150,6840.0,6840.0,6840.0,6840.0,6840.0,6840.0,6840.0,6840.0,6840.0,6840.0,6840.0,6840.0,6840.0,6840.0,6840.0,6840.0,6840.0,6840.0,6840.0,6840.0,6840.0,6840.0,6840.0,6840.0,6840.0,6840.0,6840.0,6840.0,6840.0,6840.0,6840.0,6840.0
unique,228,205,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
top,Afghanistan,AFG,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
freq,30,30,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
mean,,,2004.5,8213.149561,27363.188158,6493.627339,11006.353947,18903.160234,8619.055117,10636.648684,6131.066959,28141.249415,2449.07076,37153.226608,391007.961404,69343.833187,61315.166813,4247.575,20775.57076,1178.546345,53212.579386,1535.191813,206852.320614,2439.892544,27143.007018,25068.928801,2145.455848,9531.528801,30634.95614,91303.897661,31898.919006,56525.512135,3006.043275,3112.06652
std,,,8.656074,34982.933895,111314.606169,25767.447063,48289.6871,97346.78057,35879.40601,40888.793762,26355.21037,139197.345227,10384.17195,159572.076404,1508195.406995,260451.367923,253261.152334,17271.834644,81125.862901,11508.672592,241001.995279,6525.996581,813454.784177,17740.186931,103375.178904,96008.39114,8433.507625,41689.675155,116699.865828,377201.308879,119438.677613,210988.351746,11211.885249,14440.219516
min,,,1990.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
25%,,,1997.0,19.0,128.75,37.0,11.0,0.0,39.0,48.0,6.0,14.0,5.0,43.0,2888.25,459.0,148.0,12.0,128.0,0.0,28.0,3.0,1167.75,0.0,286.0,214.0,8.0,6.0,207.75,368.5,204.75,400.0,21.0,2.0
50%,,,2004.5,150.5,845.5,209.0,159.0,0.0,253.0,342.0,70.5,187.0,31.0,550.0,14925.0,3073.5,1362.0,99.0,642.5,0.0,478.0,33.0,7008.5,1.0,1324.0,1080.0,72.0,120.0,1239.5,2104.0,1541.0,2778.5,152.0,21.5
75%,,,2012.0,1622.25,4251.0,984.0,2204.0,1017.25,1014.25,1391.25,1244.5,3836.5,206.0,5256.0,67475.5,16650.75,12319.5,470.0,2792.0,25.0,7587.25,141.0,30678.25,77.0,4743.75,4497.5,371.0,2120.0,5786.25,9013.25,5670.5,9594.0,593.25,264.0
max,,,2019.0,432524.0,1623276.0,362907.0,757152.0,961129.0,460665.0,463129.0,302586.0,1844490.0,128083.0,1808478.0,18562510.0,3320008.0,3005945.0,181768.0,841164.0,248861.0,2904396.0,72653.0,10079637.0,566518.0,1551170.0,1427232.0,92101.0,656314.0,1285039.0,3974315.0,1472012.0,2557689.0,129705.0,166405.0

########################################################################################
Observamos los valores nulos en el conjunto de datos
Code                                                                                        690
Entity                                                                                        0
Year                                                                                          0
Deaths - Meningitis - Sex: Both - Age: All Ages (Number)                                      0
Deaths - Alzheimer's disease and other dementias - Sex: Both - Age: All Ages (Number)         0
Deaths - Parkinson's disease - Sex: Both - Age: All Ages (Number)                             0
Deaths - Nutritional deficiencies - Sex: Both - Age: All Ages (Number)                        0
Deaths - Malaria - Sex: Both - Age: All Ages (Number)                                         0
Deaths - Drowning - Sex: Both - Age: All Ages (Number)                                        0
Deaths - Interpersonal violence - Sex: Both - Age: All Ages (Number)                          0
Deaths - Maternal disorders - Sex: Both - Age: All Ages (Number)                              0
Deaths - HIV/AIDS - Sex: Both - Age: All Ages (Number)                                        0
Deaths - Drug use disorders - Sex: Both - Age: All Ages (Number)                              0
Deaths - Tuberculosis - Sex: Both - Age: All Ages (Number)                                    0
Deaths - Cardiovascular diseases - Sex: Both - Age: All Ages (Number)                         0
Deaths - Lower respiratory infections - Sex: Both - Age: All Ages (Number)                    0
Deaths - Neonatal disorders - Sex: Both - Age: All Ages (Number)                              0
Deaths - Alcohol use disorders - Sex: Both - Age: All Ages (Number)                           0
Deaths - Self-harm - Sex: Both - Age: All Ages (Number)                                       0
Deaths - Exposure to forces of nature - Sex: Both - Age: All Ages (Number)                    0
Deaths - Diarrheal diseases - Sex: Both - Age: All Ages (Number)                              0
Deaths - Environmental heat and cold exposure - Sex: Both - Age: All Ages (Number)            0
Deaths - Neoplasms - Sex: Both - Age: All Ages (Number)                                       0
Deaths - Conflict and terrorism - Sex: Both - Age: All Ages (Number)                          0
Deaths - Diabetes mellitus - Sex: Both - Age: All Ages (Number)                               0
Deaths - Chronic kidney disease - Sex: Both - Age: All Ages (Number)                          0
Deaths - Poisonings - Sex: Both - Age: All Ages (Number)                                      0
Deaths - Protein-energy malnutrition - Sex: Both - Age: All Ages (Number)                     0
Deaths - Road injuries - Sex: Both - Age: All Ages (Number)                                   0
Deaths - Chronic respiratory diseases - Sex: Both - Age: All Ages (Number)                    0
Deaths - Cirrhosis and other chronic liver diseases - Sex: Both - Age: All Ages (Number)      0
Deaths - Digestive diseases - Sex: Both - Age: All Ages (Number)                              0
Deaths - Fire, heat, and hot substances - Sex: Both - Age: All Ages (Number)                  0
Deaths - Acute hepatitis - Sex: Both - Age: All Ages (Number)                                 0
dtype: int64

########################################################################################
Calculamos el porcentaje de valores nulos en cada columna
Code                                                                                        10.09
Entity                                                                                       0.00
Year                                                                                         0.00
Deaths - Meningitis - Sex: Both - Age: All Ages (Number)                                     0.00
Deaths - Alzheimer's disease and other dementias - Sex: Both - Age: All Ages (Number)        0.00
Deaths - Parkinson's disease - Sex: Both - Age: All Ages (Number)                            0.00
Deaths - Nutritional deficiencies - Sex: Both - Age: All Ages (Number)                       0.00
Deaths - Malaria - Sex: Both - Age: All Ages (Number)                                        0.00
Deaths - Drowning - Sex: Both - Age: All Ages (Number)                                       0.00
Deaths - Interpersonal violence - Sex: Both - Age: All Ages (Number)                         0.00
Deaths - Maternal disorders - Sex: Both - Age: All Ages (Number)                             0.00
Deaths - HIV/AIDS - Sex: Both - Age: All Ages (Number)                                       0.00
Deaths - Drug use disorders - Sex: Both - Age: All Ages (Number)                             0.00
Deaths - Tuberculosis - Sex: Both - Age: All Ages (Number)                                   0.00
Deaths - Cardiovascular diseases - Sex: Both - Age: All Ages (Number)                        0.00
Deaths - Lower respiratory infections - Sex: Both - Age: All Ages (Number)                   0.00
Deaths - Neonatal disorders - Sex: Both - Age: All Ages (Number)                             0.00
Deaths - Alcohol use disorders - Sex: Both - Age: All Ages (Number)                          0.00
Deaths - Self-harm - Sex: Both - Age: All Ages (Number)                                      0.00
Deaths - Exposure to forces of nature - Sex: Both - Age: All Ages (Number)                   0.00
Deaths - Diarrheal diseases - Sex: Both - Age: All Ages (Number)                             0.00
Deaths - Environmental heat and cold exposure - Sex: Both - Age: All Ages (Number)           0.00
Deaths - Neoplasms - Sex: Both - Age: All Ages (Number)                                      0.00
Deaths - Conflict and terrorism - Sex: Both - Age: All Ages (Number)                         0.00
Deaths - Diabetes mellitus - Sex: Both - Age: All Ages (Number)                              0.00
Deaths - Chronic kidney disease - Sex: Both - Age: All Ages (Number)                         0.00
Deaths - Poisonings - Sex: Both - Age: All Ages (Number)                                     0.00
Deaths - Protein-energy malnutrition - Sex: Both - Age: All Ages (Number)                    0.00
Deaths - Road injuries - Sex: Both - Age: All Ages (Number)                                  0.00
Deaths - Chronic respiratory diseases - Sex: Both - Age: All Ages (Number)                   0.00
Deaths - Cirrhosis and other chronic liver diseases - Sex: Both - Age: All Ages (Number)     0.00
Deaths - Digestive diseases - Sex: Both - Age: All Ages (Number)                             0.00
Deaths - Fire, heat, and hot substances - Sex: Both - Age: All Ages (Number)                 0.00
Deaths - Acute hepatitis - Sex: Both - Age: All Ages (Number)                                0.00
dtype: float64

########################################################################################

##### 5.1.1 Nulos: identificación y tratamiento

In [181]:
# Comprobamo a que paises corresponden los nulos de la columna Code
df_deaths.groupby('Entity')['Code'].apply(lambda x: x.isnull().sum())

Entity
Afghanistan                            0
African Region (WHO)                  30
Albania                                0
Algeria                                0
American Samoa                         0
Andorra                                0
Angola                                 0
Antigua and Barbuda                    0
Argentina                              0
Armenia                                0
Australia                              0
Austria                                0
Azerbaijan                             0
Bahamas                                0
Bahrain                                0
Bangladesh                             0
Barbados                               0
Belarus                                0
Belgium                                0
Belize                                 0
Benin                                  0
Bermuda                                0
Bhutan                                 0
Bolivia                                0
Bosnia and Herzegovina                 0
Botswana                               0
Brazil                                 0
Brunei                                 0
Bulgaria                               0
Burkina Faso                           0
Burundi                                0
Cambodia                               0
Cameroon                               0
Canada                                 0
Cape Verde                             0
Central African Republic               0
Chad                                   0
Chile                                  0
China                                  0
Colombia                               0
Comoros                                0
Congo                                  0
Cook Islands                           0
Costa Rica                             0
Cote d'Ivoire                          0
Croatia                                0
Cuba                                   0
Cyprus                                 0
Czechia                                0
Democratic Republic of Congo           0
Denmark                                0
Djibouti                               0
Dominica                               0
Dominican Republic                     0
East Asia & Pacific (WB)              30
East Timor                             0
Eastern Mediterranean Region (WHO)    30
Ecuador                                0
Egypt                                  0
El Salvador                            0
England                               30
Equatorial Guinea                      0
Eritrea                                0
Estonia                                0
Eswatini                               0
Ethiopia                               0
Europe & Central Asia (WB)            30
European Region (WHO)                 30
Fiji                                   0
Finland                                0
France                                 0
G20                                   30
Gabon                                  0
Gambia                                 0
Georgia                                0
Germany                                0
Ghana                                  0
Greece                                 0
Greenland                              0
Grenada                                0
Guam                                   0
Guatemala                              0
Guinea                                 0
Guinea-Bissau                          0
Guyana                                 0
Haiti                                  0
Honduras                               0
Hungary                                0
Iceland                                0
India                                  0
Indonesia                              0
Iran                                   0
Iraq                                   0
Ireland                                0
Israel                                 0
Italy                                  0
Jamaica                                0
Japan                                  0
Jordan                                 0
Kazakhstan                             0
Kenya                                  0
Kiribati                               0
Kuwait                                 0
Kyrgyzstan                             0
Laos                                   0
Latin America & Caribbean (WB)        30
Latvia                                 0
Lebanon                                0
Lesotho                                0
Liberia                                0
Libya                                  0
Lithuania                              0
Luxembourg                             0
Madagascar                             0
Malawi                                 0
Malaysia                               0
Maldives                               0
Mali                                   0
Malta                                  0
Marshall Islands                       0
Mauritania                             0
Mauritius                              0
Mexico                                 0
Micronesia (country)                   0
Middle East & North Africa (WB)       30
Moldova                                0
Monaco                                 0
Mongolia                               0
Montenegro                             0
Morocco                                0
Mozambique                             0
Myanmar                                0
Namibia                                0
Nauru                                  0
Nepal                                  0
Netherlands                            0
New Zealand                            0
Nicaragua                              0
Niger                                  0
Nigeria                                0
Niue                                   0
North America (WB)                    30
North Korea                            0
North Macedonia                        0
Northern Ireland                      30
Northern Mariana Islands               0
Norway                                 0
OECD Countries                        30
Oman                                   0
Pakistan                               0
Palau                                  0
Palestine                              0
Panama                                 0
Papua New Guinea                       0
Paraguay                               0
Peru                                   0
Philippines                            0
Poland                                 0
Portugal                               0
Puerto Rico                            0
Qatar                                  0
Region of the Americas (WHO)          30
Romania                                0
Russia                                 0
Rwanda                                 0
Saint Kitts and Nevis                  0
Saint Lucia                            0
Saint Vincent and the Grenadines       0
Samoa                                  0
San Marino                             0
Sao Tome and Principe                  0
Saudi Arabia                           0
Scotland                              30
Senegal                                0
Serbia                                 0
Seychelles                             0
Sierra Leone                           0
Singapore                              0
Slovakia                               0
Slovenia                               0
Solomon Islands                        0
Somalia                                0
South Africa                           0
South Asia (WB)                       30
South Korea                            0
South Sudan                            0
South-East Asia Region (WHO)          30
Spain                                  0
Sri Lanka                              0
Sub-Saharan Africa (WB)               30
Sudan                                  0
Suriname                               0
Sweden                                 0
Switzerland                            0
Syria                                  0
Taiwan                                 0
Tajikistan                             0
Tanzania                               0
Thailand                               0
Togo                                   0
Tokelau                                0
Tonga                                  0
Trinidad and Tobago                    0
Tunisia                                0
Turkey                                 0
Turkmenistan                           0
Tuvalu                                 0
Uganda                                 0
Ukraine                                0
United Arab Emirates                   0
United Kingdom                         0
United States                          0
United States Virgin Islands           0
Uruguay                                0
Uzbekistan                             0
Vanuatu                                0
Venezuela                              0
Vietnam                                0
Wales                                 30
Western Pacific Region (WHO)          30
World                                  0
World Bank High Income                30
World Bank Low Income                 30
World Bank Lower Middle Income        30
World Bank Upper Middle Income        30
Yemen                                  0
Zambia                                 0
Zimbabwe                               0
Name: Code, dtype: int64

Tras verificar a qué paises pertenecen los códigos nulos, vemos que pertenecen a grupos regionales, económicos o políticos.

La lista de los nulos en "Code" es: 

        African Region (WHO)
        East Asia & Pacific (WB) 
        Eastern Mediterranean Region (WHO)
        Europe & Central Asia (WB)      
        European Region (WHO) 
        G20
        Latin America & Caribbean (WB)
        Middle East & North Africa (WB)  
        North America (WB) 
        Northern Ireland 
        OECD Countries 
        Region of the Americas (WHO) 
        Scotland
        South Asia (WB) 
        South-East Asia Region (WHO)
        Sub-Saharan Africa (WB)
        Western Pacific Region (WHO)  
        World Bank High Income
        World Bank Low Income
        World Bank Lower Middle Income
        World Bank Upper Middle Income

Estos pueden ser agrupaciones o categorías supra-nacionales usadas por organizaciones internacionales como:

* Organización Mundial de la Salud (WHO).
* Banco Mundial (WB).
* Organización para la Cooperación y el Desarrollo Económico (OECD).
* G20 (Grupo de los 20 principales economías del mundo).
* Escocia/north irland: forma parte de Reino Unido, ya que no se trata de un país soberano independiente sino de nación constitutiva 

Así que hemos consensuado de que en caso de trabajar con estos, lo haremos directamente con el nombre que tienen en la columna "Entity". 

+++ Hemos decidido fijar el foco del estudio en un análisis país por país, por lo tanto, dejamos de lado estas regiones puesto que en ella se cuentan de nuevo.
Aun que a priori, las vayamos a dejar fuera de nuesto análisis, lo que haremos es cread dos DF: 

* df_deaths_paises: en este dejaremos solo los paises
* df_deaths_regiones: este nos servirá para almacenar dichas regiones sin los paises

In [182]:
# Creamos el DataFrame para almacenar los países
df_deaths_paises = df_deaths[df_deaths['Code'].notnull()]

In [183]:
# Comprobamos que no haya ningun nulo en la columna 'Code'
df_deaths_paises['Code'].isnull().sum()

np.int64(0)

In [184]:
# Creamos el DataFrame para almacenar las regiones antes mencionadas
df_deaths_regiones = df_deaths[df_deaths['Code'].isnull()]

In [185]:
# Comprobamos que hay el mismo numero de nulos que en el DF original (df_deaths)
df_deaths_regiones['Code'].isnull().sum()

np.int64(690)

In [186]:
# Contabilizamos las filas de los DataFrames para comprobar que no perdemos datos
len(df_deaths) == (len(df_deaths_paises) + len(df_deaths_regiones))

True

##### 5.1.2 Normalización del nombre de las columnas

In [187]:
# Creamos un diccionario con los nombres antiguos como "key" y los nuevos como "values"
mapeo_deaths = {
    "Entity": "entidad",
    "Code": "codigo",
    "Year": "año",
    "Deaths - Meningitis - Sex: Both - Age: All Ages (Number)": "meningitis",
    "Deaths - Alzheimer's disease and other dementias - Sex: Both - Age: All Ages (Number)": "alzheimer",
    "Deaths - Parkinson's disease - Sex: Both - Age: All Ages (Number)": "parkinson",
    "Deaths - Nutritional deficiencies - Sex: Both - Age: All Ages (Number)": "deficiencias_nutricionales",
    "Deaths - Malaria - Sex: Both - Age: All Ages (Number)": "malaria",
    "Deaths - Drowning - Sex: Both - Age: All Ages (Number)": "ahogamiento",
    "Deaths - Interpersonal violence - Sex: Both - Age: All Ages (Number)": "violencia_interpersonal",
    "Deaths - Maternal disorders - Sex: Both - Age: All Ages (Number)": "transtornos_maternos",
    "Deaths - HIV/AIDS - Sex: Both - Age: All Ages (Number)": "VIH_SIDA",
    "Deaths - Drug use disorders - Sex: Both - Age: All Ages (Number)": "transtornos_drogas",
    "Deaths - Tuberculosis - Sex: Both - Age: All Ages (Number)": "tuberculosis",
    "Deaths - Cardiovascular diseases - Sex: Both - Age: All Ages (Number)": "enf_cardiovasculares",
    "Deaths - Lower respiratory infections - Sex: Both - Age: All Ages (Number)": "infecciones_respiratorias_leves",
    "Deaths - Neonatal disorders - Sex: Both - Age: All Ages (Number)": "transtornos_neonatales",
    "Deaths - Alcohol use disorders - Sex: Both - Age: All Ages (Number)": "alcohol",
    "Deaths - Self-harm - Sex: Both - Age: All Ages (Number)": "autolesiones",
    "Deaths - Exposure to forces of nature - Sex: Both - Age: All Ages (Number)": "fuerzas_naturaleza",
    "Deaths - Diarrheal diseases - Sex: Both - Age: All Ages (Number)": "enfermedades_diarreicas",
    "Deaths - Environmental heat and cold exposure - Sex: Both - Age: All Ages (Number)": "temperatura_ambiental",
    "Deaths - Neoplasms - Sex: Both - Age: All Ages (Number)": "muertes",
    "Deaths - Conflict and terrorism - Sex: Both - Age: All Ages (Number)": "conflictos-y_terrorismo",
    "Deaths - Diabetes mellitus - Sex: Both - Age: All Ages (Number)": "diabetes_mellitus",
    "Deaths - Chronic kidney disease - Sex: Both - Age: All Ages (Number)": "enfermedad_renal_cronica",
    "Deaths - Poisonings - Sex: Both - Age: All Ages (Number)": "envenenamientos",
    "Deaths - Protein-energy malnutrition - Sex: Both - Age: All Ages (Number)": "desnutricion_energético_proteica",
    "Deaths - Road injuries - Sex: Both - Age: All Ages (Number)": "lesiones_accidentes_trafico",
    "Deaths - Chronic respiratory diseases - Sex: Both - Age: All Ages (Number)": "enfermedades_respiratorias_crónicas",
    "Deaths - Cirrhosis and other chronic liver diseases - Sex: Both - Age: All Ages (Number)": "cirrosis_enferemedades_higado",
    "Deaths - Digestive diseases - Sex: Both - Age: All Ages (Number)": "enf_digestivas",
    "Deaths - Fire, heat, and hot substances - Sex: Both - Age: All Ages (Number)": "incendios_calor_sustancias_calientes",
    "Deaths - Acute hepatitis - Sex: Both - Age: All Ages (Number)": "hepatitis_aguda"
}

In [188]:
# Llamamos a la función de cambio de nombre y le pasamos el DataFrame a actualizar y el diccionario que debe tomar en cuenta
df_deaths_paises = renombrar_columnas(df_deaths_paises, mapeo_deaths) 
df_deaths_regiones = renombrar_columnas(df_deaths_regiones, mapeo_deaths)

In [189]:
# Comrpobamos que el cambio se haya realizado correctamente
df_deaths_paises.columns

Index(['entidad', 'codigo', 'año', 'meningitis', 'alzheimer', 'parkinson',
       'deficiencias_nutricionales', 'malaria', 'ahogamiento',
       'violencia_interpersonal', 'transtornos_maternos', 'VIH_SIDA',
       'transtornos_drogas', 'tuberculosis', 'enf_cardiovasculares',
       'infecciones_respiratorias_leves', 'transtornos_neonatales', 'alcohol',
       'autolesiones', 'fuerzas_naturaleza', 'enfermedades_diarreicas',
       'temperatura_ambiental', 'muertes', 'conflictos-y_terrorismo',
       'diabetes_mellitus', 'enfermedad_renal_cronica', 'envenenamientos',
       'desnutricion_energético_proteica', 'lesiones_accidentes_trafico',
       'enfermedades_respiratorias_crónicas', 'cirrosis_enferemedades_higado',
       'enf_digestivas', 'incendios_calor_sustancias_calientes',
       'hepatitis_aguda'],
      dtype='object')

##### 5.1.3 Analisis Exploratorio DF PAISES

In [190]:
# Realizamos la exploración de datos del DataFrame "df_deaths_paises"
exploracion_inicial(df_deaths_paises)

Calculamos cuántas filas y columnas hay en el conjunto de datos
	Hay 6,150 filas y 34 columnas.

########################################################################################
Mostramos las primeras cinco filas del conjunto de datos

,entidad,codigo,año,meningitis,alzheimer,parkinson,deficiencias_nutricionales,malaria,ahogamiento,violencia_interpersonal,transtornos_maternos,VIH_SIDA,transtornos_drogas,tuberculosis,enf_cardiovasculares,infecciones_respiratorias_leves,transtornos_neonatales,alcohol,autolesiones,fuerzas_naturaleza,enfermedades_diarreicas,temperatura_ambiental,muertes,conflictos-y_terrorismo,diabetes_mellitus,enfermedad_renal_cronica,envenenamientos,desnutricion_energético_proteica,lesiones_accidentes_trafico,enfermedades_respiratorias_crónicas,cirrosis_enferemedades_higado,enf_digestivas,incendios_calor_sustancias_calientes,hepatitis_aguda
0,Afghanistan,AFG,1990,2159,1116,371,2087,93,1370,1538,2655,34,93,4661,44899,23741,15612,72,696,0,4235,175,11580,1490,2108,3709,338,2054,4154,5945,2673,5005,323,2985
1,Afghanistan,AFG,1991,2218,1136,374,2153,189,1391,2001,2885,41,102,4743,45492,24504,17128,75,751,1347,4927,113,11796,3370,2120,3724,351,2119,4472,6050,2728,5120,332,3092
2,Afghanistan,AFG,1992,2475,1162,378,2441,239,1514,2299,3315,48,118,4976,46557,27404,20060,80,855,614,6123,38,12218,4344,2153,3776,386,2404,5106,6223,2830,5335,360,3325
3,Afghanistan,AFG,1993,2812,1187,384,2837,108,1687,2589,3671,56,132,5254,47951,31116,22335,85,943,225,8174,41,12634,4096,2195,3862,425,2797,5681,6445,2943,5568,396,3601
4,Afghanistan,AFG,1994,3027,1211,391,3081,211,1809,2849,3863,63,142,5470,49308,33390,23288,88,993,160,8215,44,12914,8959,2231,3932,451,3038,6001,6664,3027,5739,420,3816

########################################################################################
Estas son las últimas cinco filas del conjunto de datos:

,entidad,codigo,año,meningitis,alzheimer,parkinson,deficiencias_nutricionales,malaria,ahogamiento,violencia_interpersonal,transtornos_maternos,VIH_SIDA,transtornos_drogas,tuberculosis,enf_cardiovasculares,infecciones_respiratorias_leves,transtornos_neonatales,alcohol,autolesiones,fuerzas_naturaleza,enfermedades_diarreicas,temperatura_ambiental,muertes,conflictos-y_terrorismo,diabetes_mellitus,enfermedad_renal_cronica,envenenamientos,desnutricion_energético_proteica,lesiones_accidentes_trafico,enfermedades_respiratorias_crónicas,cirrosis_enferemedades_higado,enf_digestivas,incendios_calor_sustancias_calientes,hepatitis_aguda
6835,Zimbabwe,ZWE,2015,1439,754,215,3019,2518,770,1302,1355,29162,104,11214,16649,12974,9278,48,2235,16,5102,37,11161,13,3176,2108,381,2990,2373,2751,1956,4202,632,146
6836,Zimbabwe,ZWE,2016,1457,767,219,3056,2050,801,1342,1338,27141,110,10998,16937,13024,9065,49,2296,31,5002,37,11465,6,3259,2160,393,3027,2436,2788,1962,4264,648,146
6837,Zimbabwe,ZWE,2017,1460,781,223,2990,2116,818,1363,1312,24846,115,10762,17187,12961,8901,50,2338,251,4948,37,11744,5,3313,2196,398,2962,2473,2818,2007,4342,654,144
6838,Zimbabwe,ZWE,2018,1450,795,227,2918,2088,825,1396,1294,22106,121,10545,17460,12860,8697,51,2372,0,4745,37,12038,9,3381,2240,400,2890,2509,2849,2030,4377,657,139
6839,Zimbabwe,ZWE,2019,1450,812,232,2884,2068,827,1434,1294,20722,127,10465,17810,12897,8609,53,2403,660,4635,37,12353,11,3460,2292,405,2855,2554,2891,2065,4437,662,136

########################################################################################
Obtenemos una muestra aleatoria de filas del conjunto de datos con una semilla para obtener el mismo resultado

,entidad,codigo,año,meningitis,alzheimer,parkinson,deficiencias_nutricionales,malaria,ahogamiento,violencia_interpersonal,transtornos_maternos,VIH_SIDA,transtornos_drogas,tuberculosis,enf_cardiovasculares,infecciones_respiratorias_leves,transtornos_neonatales,alcohol,autolesiones,fuerzas_naturaleza,enfermedades_diarreicas,temperatura_ambiental,muertes,conflictos-y_terrorismo,diabetes_mellitus,enfermedad_renal_cronica,envenenamientos,desnutricion_energético_proteica,lesiones_accidentes_trafico,enfermedades_respiratorias_crónicas,cirrosis_enferemedades_higado,enf_digestivas,incendios_calor_sustancias_calientes,hepatitis_aguda
6838,Zimbabwe,ZWE,2018,1450,795,227,2918,2088,825,1396,1294,22106,121,10545,17460,12860,8697,51,2372,0,4745,37,12038,9,3381,2240,400,2890,2509,2849,2030,4377,657,139
1237,Congo,COG,1997,453,123,46,500,2714,149,192,427,7578,14,2844,4906,2408,2149,37,367,0,3840,22,2002,10447,709,463,69,469,1327,900,762,1244,85,50
502,Barbados,BRB,2012,3,86,22,6,0,10,32,2,28,1,2,728,139,23,7,13,0,4,0,660,0,245,99,0,4,28,50,37,91,4,0
5836,Syria,SYR,2006,336,1011,266,122,0,210,393,139,24,130,96,32950,2105,2741,56,364,6,206,25,6364,1003,1262,1994,98,93,2156,2548,1499,1982,207,16
925,Burundi,BDI,2015,1255,419,103,2371,6349,347,94,1236,4182,13,8131,9547,6610,8746,75,702,37,9616,82,4624,666,1287,924,249,2305,1782,2169,1676,3129,267,195

########################################################################################
Identificamos las columnas del conjunto de datos
	 - entidad
	 - codigo
	 - año
	 - meningitis
	 - alzheimer
	 - parkinson
	 - deficiencias_nutricionales
	 - malaria
	 - ahogamiento
	 - violencia_interpersonal
	 - transtornos_maternos
	 - VIH_SIDA
	 - transtornos_drogas
	 - tuberculosis
	 - enf_cardiovasculares
	 - infecciones_respiratorias_leves
	 - transtornos_neonatales
	 - alcohol
	 - autolesiones
	 - fuerzas_naturaleza
	 - enfermedades_diarreicas
	 - temperatura_ambiental
	 - muertes
	 - conflictos-y_terrorismo
	 - diabetes_mellitus
	 - enfermedad_renal_cronica
	 - envenenamientos
	 - desnutricion_energético_proteica
	 - lesiones_accidentes_trafico
	 - enfermedades_respiratorias_crónicas
	 - cirrosis_enferemedades_higado
	 - enf_digestivas
	 - incendios_calor_sustancias_calientes
	 - hepatitis_aguda

########################################################################################
Identificamos el tipo de datos de cada columna
entidad                                 object
codigo                                  object
año                                      int64
meningitis                               int64
alzheimer                                int64
parkinson                                int64
deficiencias_nutricionales               int64
malaria                                  int64
ahogamiento                              int64
violencia_interpersonal                  int64
transtornos_maternos                     int64
VIH_SIDA                                 int64
transtornos_drogas                       int64
tuberculosis                             int64
enf_cardiovasculares                     int64
infecciones_respiratorias_leves          int64
transtornos_neonatales                   int64
alcohol                                  int64
autolesiones                             int64
fuerzas_naturaleza                       int64
enfermedades_diarreicas                  int64
temperatura_ambiental                    int64
muertes                                  int64
conflictos-y_terrorismo                  int64
diabetes_mellitus                        int64
enfermedad_renal_cronica                 int64
envenenamientos                          int64
desnutricion_energético_proteica         int64
lesiones_accidentes_trafico              int64
enfermedades_respiratorias_crónicas      int64
cirrosis_enferemedades_higado            int64
enf_digestivas                           int64
incendios_calor_sustancias_calientes     int64
hepatitis_aguda                          int64
dtype: object

########################################################################################
Mostramos el total de columnas que hay de cada tipo de datos
int64     32
object     2
Name: count, dtype: int64

########################################################################################
Obtenemos información más completa sobre la estructura y el contenido del DataFrame
<class 'pandas.core.frame.DataFrame'>
Index: 6150 entries, 0 to 6839
Data columns (total 34 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   entidad                               6150 non-null   object
 1   codigo                                6150 non-null   object
 2   año                                   6150 non-null   int64
 3   meningitis                            6150 non-null   int64
 4   alzheimer                             6150 non-null   int64
 5   parkinson                             6150 non-null   int64
 6   deficiencias_nutricionales            6150 non-null   int64
 7   malaria                               6150 non-null   int64
 8   ahogamiento                           6150 non-null   int64
 9   violencia_interpersonal               6150 non-null   int64
 10  transtornos_maternos                  6150 non-null   int64
 11  VIH_SIDA                              6150 non-null   int64
 12  transtornos_drogas                    6150 non-null   int64
 13  tuberculosis                          6150 non-null   int64
 14  enf_cardiovasculares                  6150 non-null   int64
 15  infecciones_respiratorias_leves       6150 non-null   int64
 16  transtornos_neonatales                6150 non-null   int64
 17  alcohol                               6150 non-null   int64
 18  autolesiones                          6150 non-null   int64
 19  fuerzas_naturaleza                    6150 non-null   int64
 20  enfermedades_diarreicas               6150 non-null   int64
 21  temperatura_ambiental                 6150 non-null   int64
 22  muertes                               6150 non-null   int64
 23  conflictos-y_terrorismo               6150 non-null   int64
 24  diabetes_mellitus                     6150 non-null   int64
 25  enfermedad_renal_cronica              6150 non-null   int64
 26  envenenamientos                       6150 non-null   int64
 27  desnutricion_energético_proteica      6150 non-null   int64
 28  lesiones_accidentes_trafico           6150 non-null   int64
 29  enfermedades_respiratorias_crónicas   6150 non-null   int64
 30  cirrosis_enferemedades_higado         6150 non-null   int64
 31  enf_digestivas                        6150 non-null   int64
 32  incendios_calor_sustancias_calientes  6150 non-null   int64
 33  hepatitis_aguda                       6150 non-null   int64
dtypes: int64(32), object(2)
memory usage: 1.6+ MB
None

########################################################################################
Mostramos valores únicos tiene cada columna
entidad                                  205
codigo                                   205
año                                       30
meningitis                              2050
alzheimer                               3067
parkinson                               1847
deficiencias_nutricionales              2177
malaria                                 1753
ahogamiento                             1905
violencia_interpersonal                 2172
transtornos_maternos                    1848
VIH_SIDA                                2442
transtornos_drogas                       906
tuberculosis                            2873
enf_cardiovasculares                    5255
infecciones_respiratorias_leves         4136
transtornos_neonatales                  3583
alcohol                                 1317
autolesiones                            2788
fuerzas_naturaleza                       508
enfermedades_diarreicas                 2904
temperatura_ambiental                    744
muertes                                 4844
conflictos-y_terrorismo                  948
diabetes_mellitus                       3396
enfermedad_renal_cronica                3276
envenenamientos                         1117
desnutricion_energético_proteica        2121
lesiones_accidentes_trafico             3423
enfermedades_respiratorias_crónicas     3833
cirrosis_enferemedades_higado           3473
enf_digestivas                          4053
incendios_calor_sustancias_calientes    1436
hepatitis_aguda                         1089
dtype: int64

########################################################################################
Estas son las estadísticas descriptivas básicas de todas las columnas:

,entidad,codigo,año,meningitis,alzheimer,parkinson,deficiencias_nutricionales,malaria,ahogamiento,violencia_interpersonal,transtornos_maternos,VIH_SIDA,transtornos_drogas,tuberculosis,enf_cardiovasculares,infecciones_respiratorias_leves,transtornos_neonatales,alcohol,autolesiones,fuerzas_naturaleza,enfermedades_diarreicas,temperatura_ambiental,muertes,conflictos-y_terrorismo,diabetes_mellitus,enfermedad_renal_cronica,envenenamientos,desnutricion_energético_proteica,lesiones_accidentes_trafico,enfermedades_respiratorias_crónicas,cirrosis_enferemedades_higado,enf_digestivas,incendios_calor_sustancias_calientes,hepatitis_aguda
count,6150,6150,6150.0,6150.0,6150.0,6150.0,6150.0,6150.0,6150.0,6150.0,6150.0,6150.0,6150.0,6150.0,6150.0,6150.0,6150.0,6150.0,6150.0,6150.0,6150.0,6150.0,6150.0,6150.0,6150.0,6150.0,6150.0,6150.0,6150.0,6150.0,6150.0,6150.0,6150.0,6150.0
unique,205,205,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
top,Afghanistan,AFG,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
freq,30,30,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
mean,,,2004.5,3423.639675,9683.673496,2335.548943,4486.367154,8242.927154,3351.127805,4151.457236,2513.731057,11831.072033,863.911707,14913.983089,145645.79626,27250.711707,25001.596911,1567.466992,7713.353333,486.102276,21544.736748,581.808618,74737.344715,1071.625528,10232.736748,9405.269268,846.067642,3913.897724,11807.082276,34024.413171,12191.752846,21351.725041,1172.139675,1231.042764
std,,,8.656145,25578.692671,74540.530288,17821.571447,35677.646036,61813.290367,25942.498643,30357.542437,19020.454835,91564.00099,6878.515628,114046.254367,1082683.279332,200526.756338,187616.47195,11738.165596,57874.525122,7662.896173,169123.979795,4509.865472,561681.574665,12181.872147,76773.396806,71089.056676,6350.366404,30949.767359,87385.076263,263984.687769,89573.954204,156857.1838,8613.047956,9890.803814
min,,,1990.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
25%,,,1997.0,16.0,91.25,27.0,9.0,0.0,34.25,41.0,5.0,11.0,3.0,35.25,2065.5,351.0,132.25,9.0,96.25,0.0,21.0,2.0,826.0,0.0,239.0,148.25,6.0,5.0,176.25,292.0,155.0,288.0,17.0,2.0
50%,,,2004.5,112.0,674.5,166.0,121.0,0.0,179.0,273.0,55.0,139.0,21.0,424.0,11902.5,2146.0,931.0,81.0,537.0,0.0,305.0,21.0,5657.5,0.0,1099.0,837.5,54.0,93.0,984.0,1713.0,1234.0,2205.0,127.0,15.0
75%,,,2012.0,886.75,2500.0,618.75,1201.75,426.75,707.0,885.75,750.75,1957.5,132.0,3024.5,43722.25,10374.0,7598.25,323.0,1909.5,12.0,4089.25,111.0,20554.25,24.0,3005.75,2989.25,262.0,1081.75,3534.25,5382.5,3614.0,6184.75,455.0,166.0
max,,,2019.0,432524.0,1623276.0,362907.0,757152.0,961129.0,460665.0,463129.0,302586.0,1844490.0,128083.0,1808478.0,18562510.0,3320008.0,3005945.0,181768.0,841164.0,248861.0,2904396.0,72653.0,10079637.0,566518.0,1551170.0,1427232.0,92101.0,656314.0,1285039.0,3974315.0,1472012.0,2557689.0,129705.0,166405.0

########################################################################################
Observamos los valores nulos en el conjunto de datos
entidad                                 0
codigo                                  0
año                                     0
meningitis                              0
alzheimer                               0
parkinson                               0
deficiencias_nutricionales              0
malaria                                 0
ahogamiento                             0
violencia_interpersonal                 0
transtornos_maternos                    0
VIH_SIDA                                0
transtornos_drogas                      0
tuberculosis                            0
enf_cardiovasculares                    0
infecciones_respiratorias_leves         0
transtornos_neonatales                  0
alcohol                                 0
autolesiones                            0
fuerzas_naturaleza                      0
enfermedades_diarreicas                 0
temperatura_ambiental                   0
muertes                                 0
conflictos-y_terrorismo                 0
diabetes_mellitus                       0
enfermedad_renal_cronica                0
envenenamientos                         0
desnutricion_energético_proteica        0
lesiones_accidentes_trafico             0
enfermedades_respiratorias_crónicas     0
cirrosis_enferemedades_higado           0
enf_digestivas                          0
incendios_calor_sustancias_calientes    0
hepatitis_aguda                         0
dtype: int64

########################################################################################
Calculamos el porcentaje de valores nulos en cada columna
entidad                                 0.0
codigo                                  0.0
año                                     0.0
meningitis                              0.0
alzheimer                               0.0
parkinson                               0.0
deficiencias_nutricionales              0.0
malaria                                 0.0
ahogamiento                             0.0
violencia_interpersonal                 0.0
transtornos_maternos                    0.0
VIH_SIDA                                0.0
transtornos_drogas                      0.0
tuberculosis                            0.0
enf_cardiovasculares                    0.0
infecciones_respiratorias_leves         0.0
transtornos_neonatales                  0.0
alcohol                                 0.0
autolesiones                            0.0
fuerzas_naturaleza                      0.0
enfermedades_diarreicas                 0.0
temperatura_ambiental                   0.0
muertes                                 0.0
conflictos-y_terrorismo                 0.0
diabetes_mellitus                       0.0
enfermedad_renal_cronica                0.0
envenenamientos                         0.0
desnutricion_energético_proteica        0.0
lesiones_accidentes_trafico             0.0
enfermedades_respiratorias_crónicas     0.0
cirrosis_enferemedades_higado           0.0
enf_digestivas                          0.0
incendios_calor_sustancias_calientes    0.0
hepatitis_aguda                         0.0
dtype: float64

########################################################################################

#### 5.2 DF Suicides

In [191]:
exploracion_inicial(df_suicides)

Calculamos cuántas filas y columnas hay en el conjunto de datos
	Hay 3,880 filas y 4 columnas.

########################################################################################
Mostramos las primeras cinco filas del conjunto de datos

        Entity Code  Year  Age-standardized suicide rate - Sex: both sexes
0  Afghanistan  AFG  2000                                             7.71
1  Afghanistan  AFG  2001                                             7.89
2  Afghanistan  AFG  2002                                             7.85
3  Afghanistan  AFG  2003                                             7.72
4  Afghanistan  AFG  2004                                             7.77

########################################################################################
Estas son las últimas cinco filas del conjunto de datos:

        Entity Code  Year  Age-standardized suicide rate - Sex: both sexes
3875  Zimbabwe  ZWE  2015                                          30.7352
3876  Zimbabwe  ZWE  2016                                          28.6973
3877  Zimbabwe  ZWE  2017                                          25.8514
3878  Zimbabwe  ZWE  2018                                          23.8676
3879  Zimbabwe  ZWE  2019                                          23.6286

########################################################################################
Obtenemos una muestra aleatoria de filas del conjunto de datos con una semilla para obtener el mismo resultado

,Entity,Code,Year,Age-standardized suicide rate - Sex: both sexes
3836,Yemen,YEM,2016,6.98
3601,United Arab Emirates,ARE,2001,7.89
1632,Indonesia,IDN,2012,2.76
1722,Italy,ITA,2002,5.41
3535,Turkey,TUR,2015,2.26

########################################################################################
Identificamos las columnas del conjunto de datos
	 - Entity
	 - Code
	 - Year
	 - Age-standardized suicide rate - Sex: both sexes

########################################################################################
Identificamos el tipo de datos de cada columna
Entity                                              object
Code                                                object
Year                                                 int64
Age-standardized suicide rate - Sex: both sexes    float64
dtype: object

########################################################################################
Mostramos el total de columnas que hay de cada tipo de datos
object     2
int64      1
float64    1
Name: count, dtype: int64

########################################################################################
Obtenemos información más completa sobre la estructura y el contenido del DataFrame
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3880 entries, 0 to 3879
Data columns (total 4 columns):
 #   Column                                           Non-Null Count  Dtype
---  ------                                           --------------  -----
 0   Entity                                           3880 non-null   object
 1   Code                                             3680 non-null   object
 2   Year                                             3880 non-null   int64
 3   Age-standardized suicide rate - Sex: both sexes  3880 non-null   float64
dtypes: float64(1), int64(1), object(2)
memory usage: 121.4+ KB
None

########################################################################################
Mostramos valores únicos tiene cada columna
Entity                                              194
Code                                                184
Year                                                 20
Age-standardized suicide rate - Sex: both sexes    2679
dtype: int64

########################################################################################
Estas son las estadísticas descriptivas básicas de todas las columnas:

,Entity,Code,Year,Age-standardized suicide rate - Sex: both sexes
count,3880,3680,3880.0,3880.0
unique,194,184,,
top,Afghanistan,AFG,,
freq,20,20,,
mean,,,2009.5,11.711984
std,,,5.767025,9.58546
min,,,2000.0,0.0
25%,,,2004.75,5.8075
50%,,,2009.5,9.9
75%,,,2014.25,14.60265
max,,,2019.0,116.1953

########################################################################################
Observamos los valores nulos en el conjunto de datos
Code                                               200
Entity                                               0
Year                                                 0
Age-standardized suicide rate - Sex: both sexes      0
dtype: int64

########################################################################################
Calculamos el porcentaje de valores nulos en cada columna
Code                                               5.15
Entity                                             0.00
Year                                               0.00
Age-standardized suicide rate - Sex: both sexes    0.00
dtype: float64

########################################################################################

##### 5.2.1 Nulos: identificación y tratamiento

In [192]:
# Identificamos a qué pais/región pertenecen los nulos
df_suicides.groupby('Entity')['Code'].apply(lambda x: x.isnull().sum())

Entity
Afghanistan                          0
Africa                              20
Albania                              0
Algeria                              0
Americas                            20
Angola                               0
Antigua and Barbuda                  0
Argentina                            0
Armenia                              0
Australia                            0
Austria                              0
Azerbaijan                           0
Bahamas                              0
Bahrain                              0
Bangladesh                           0
Barbados                             0
Belarus                              0
Belgium                              0
Belize                               0
Benin                                0
Bhutan                               0
Bolivia                              0
Bosnia and Herzegovina               0
Botswana                             0
Brazil                               0
Brunei                               0
Bulgaria                             0
Burkina Faso                         0
Burundi                              0
Cambodia                             0
Cameroon                             0
Canada                               0
Cape Verde                           0
Central African Republic             0
Chad                                 0
Chile                                0
China                                0
Colombia                             0
Comoros                              0
Congo                                0
Costa Rica                           0
Cote d'Ivoire                        0
Croatia                              0
Cuba                                 0
Cyprus                               0
Czechia                              0
Democratic Republic of Congo         0
Denmark                              0
Djibouti                             0
Dominican Republic                   0
East Timor                           0
Eastern Mediterranean               20
Ecuador                              0
Egypt                                0
El Salvador                          0
Equatorial Guinea                    0
Eritrea                              0
Estonia                              0
Eswatini                             0
Ethiopia                             0
Europe                              20
Fiji                                 0
Finland                              0
France                               0
Gabon                                0
Gambia                               0
Georgia                              0
Germany                              0
Ghana                                0
Greece                               0
Grenada                              0
Guatemala                            0
Guinea                               0
Guinea-Bissau                        0
Guyana                               0
Haiti                                0
High-income                         20
Honduras                             0
Hungary                              0
Iceland                              0
India                                0
Indonesia                            0
Iran                                 0
Iraq                                 0
Ireland                              0
Israel                               0
Italy                                0
Jamaica                              0
Japan                                0
Jordan                               0
Kazakhstan                           0
Kenya                                0
Kiribati                             0
Kuwait                               0
Kyrgyzstan                           0
Laos                                 0
Latvia                               0
Lebanon                              0
Lesotho                              0
Liberia                              0
Libya                                0
Lithuania                            0
Low-income                          20
Lower-middle-income                 20
Luxembourg                           0
Madagascar                           0
Malawi                               0
Malaysia                             0
Maldives                             0
Mali                                 0
Malta                                0
Mauritania                           0
Mauritius                            0
Mexico                               0
Micronesia (country)                 0
Moldova                              0
Mongolia                             0
Montenegro                           0
Morocco                              0
Mozambique                           0
Myanmar                              0
Namibia                              0
Nepal                                0
Netherlands                          0
New Zealand                          0
Nicaragua                            0
Niger                                0
Nigeria                              0
North Korea                          0
North Macedonia                      0
Norway                               0
Oman                                 0
Pakistan                             0
Panama                               0
Papua New Guinea                     0
Paraguay                             0
Peru                                 0
Philippines                          0
Poland                               0
Portugal                             0
Qatar                                0
Romania                              0
Russia                               0
Rwanda                               0
Saint Lucia                          0
Saint Vincent and the Grenadines     0
Samoa                                0
Sao Tome and Principe                0
Saudi Arabia                         0
Senegal                              0
Serbia                               0
Seychelles                           0
Sierra Leone                         0
Singapore                            0
Slovakia                             0
Slovenia                             0
Solomon Islands                      0
Somalia                              0
South Africa                         0
South Korea                          0
South Sudan                          0
South-East Asia                     20
Spain                                0
Sri Lanka                            0
Sudan                                0
Suriname                             0
Sweden                               0
Switzerland                          0
Syria                                0
Tajikistan                           0
Tanzania                             0
Thailand                             0
Togo                                 0
Tonga                                0
Trinidad and Tobago                  0
Tunisia                              0
Turkey                               0
Turkmenistan                         0
Uganda                               0
Ukraine                              0
United Arab Emirates                 0
United Kingdom                       0
United States                        0
Upper-middle-income                 20
Uruguay                              0
Uzbekistan                           0
Vanuatu                              0
Venezuela                            0
Vietnam                              0
Western Pacific                     20
World                                0
Yemen                                0
Zambia                               0
Zimbabwe                             0
Name: Code, dtype: int64

Como hemos observado en el dataset "df_deaths" los nulos corresponden a grupos/agregaciones que usa la ONU para agrupar países de acuerdo a su ubicación continental o subcontinental. 

De modo que podemos afirmar lo siguiente: 

* No son paises individuales
* Duplican información puesto que paises que ya aparecen en nuestra tabla forman parte de esas regiones. 

Procedemos exactamente de la misma manera que en el primer dataset y procedemos a crear una tabla de regiones y otra de paises.

In [193]:
# Creamos el DataFrame para almacenar los países
df_suicides_paises = df_suicides[df_suicides['Code'].notnull()]

In [194]:
# Verificamos que no hay ningún nulo en la columna ['codigo']
df_suicides_paises['Code'].isnull().sum()

np.int64(0)

In [195]:
# Creamos el DataFrame para almacenar las regiones antes mencionadas
df_suicides_regiones = df_suicides[df_suicides['Code'].isnull()]

In [196]:
# Verificamos que tenemos los 200 nulos en la columna ['codigo']
df_suicides_regiones['Code'].isnull().sum()

np.int64(200)

##### 5.2.2 Normalización del nombre de las columnas

In [197]:
mapeo_suicides = {
    "Entity": "entidad",
	"Code": "codigo",
	"Year": "año",
	"Age-standardized suicide rate - Sex: both sexes": "ratio_por_suicidios"
}

In [198]:
# Tratamos el renombre de las columnas con la funcion creada anteriormente
df_suicides_paises = renombrar_columnas(df_suicides_paises, mapeo_suicides)
df_suicides_regiones = renombrar_columnas(df_suicides_regiones, mapeo_suicides)

In [199]:
# Comprobamos el resultado del renombre
df_suicides_paises.columns

Index(['entidad', 'codigo', 'año', 'ratio_por_suicidios'], dtype='object')

In [200]:
# Comprobamos el resultado del renombre
df_suicides_regiones.columns

Index(['entidad', 'codigo', 'año', 'ratio_por_suicidios'], dtype='object')

##### 5.2.3 Análisis exploratorio de df_suicides_paises

In [201]:
exploracion_inicial(df_suicides_paises)

Calculamos cuántas filas y columnas hay en el conjunto de datos
	Hay 3,680 filas y 4 columnas.

########################################################################################
Mostramos las primeras cinco filas del conjunto de datos

       entidad codigo   año  ratio_por_suicidios
0  Afghanistan    AFG  2000                 7.71
1  Afghanistan    AFG  2001                 7.89
2  Afghanistan    AFG  2002                 7.85
3  Afghanistan    AFG  2003                 7.72
4  Afghanistan    AFG  2004                 7.77

########################################################################################
Estas son las últimas cinco filas del conjunto de datos:

       entidad codigo   año  ratio_por_suicidios
3875  Zimbabwe    ZWE  2015              30.7352
3876  Zimbabwe    ZWE  2016              28.6973
3877  Zimbabwe    ZWE  2017              25.8514
3878  Zimbabwe    ZWE  2018              23.8676
3879  Zimbabwe    ZWE  2019              23.6286

########################################################################################
Obtenemos una muestra aleatoria de filas del conjunto de datos con una semilla para obtener el mismo resultado

              entidad codigo   año  ratio_por_suicidios
2597  North Macedonia    MKD  2017               7.2300
2301          Moldova    MDA  2001              17.6774
2401          Myanmar    MMR  2001               4.8600
1588          Iceland    ISL  2008              13.3457
421           Bolivia    BOL  2001               8.0500

########################################################################################
Identificamos las columnas del conjunto de datos
	 - entidad
	 - codigo
	 - año
	 - ratio_por_suicidios

########################################################################################
Identificamos el tipo de datos de cada columna
entidad                 object
codigo                  object
año                      int64
ratio_por_suicidios    float64
dtype: object

########################################################################################
Mostramos el total de columnas que hay de cada tipo de datos
object     2
int64      1
float64    1
Name: count, dtype: int64

########################################################################################
Obtenemos información más completa sobre la estructura y el contenido del DataFrame
<class 'pandas.core.frame.DataFrame'>
Index: 3680 entries, 0 to 3879
Data columns (total 4 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   entidad              3680 non-null   object
 1   codigo               3680 non-null   object
 2   año                  3680 non-null   int64
 3   ratio_por_suicidios  3680 non-null   float64
dtypes: float64(1), int64(1), object(2)
memory usage: 143.8+ KB
None

########################################################################################
Mostramos valores únicos tiene cada columna
entidad                 184
codigo                  184
año                      20
ratio_por_suicidios    2538
dtype: int64

########################################################################################
Estas son las estadísticas descriptivas básicas de todas las columnas:

            entidad codigo       año ratio_por_suicidios
count          3680   3680    3680.0              3680.0
unique          184    184
top     Afghanistan    AFG
freq             20     20
mean                          2009.5           11.741173
std                         5.767065            9.820774
min                           2000.0                 0.0
25%                          2004.75              5.5875
50%                           2009.5               9.765
75%                          2014.25             14.8499
max                           2019.0            116.1953

########################################################################################
Observamos los valores nulos en el conjunto de datos
entidad                0
codigo                 0
año                    0
ratio_por_suicidios    0
dtype: int64

########################################################################################
Calculamos el porcentaje de valores nulos en cada columna
entidad                0.0
codigo                 0.0
año                    0.0
ratio_por_suicidios    0.0
dtype: float64

########################################################################################

#### 5.3 DF GDP_per_capita

In [202]:
exploracion_inicial(df_gdp)

Calculamos cuántas filas y columnas hay en el conjunto de datos
	Hay 10,108 filas y 4 columnas.

########################################################################################
Mostramos las primeras cinco filas del conjunto de datos

    Entity Code  Year  GDP per capita (output, multiple price benchmarks)
0  Albania  ALB  1971                                          3159.8088
1  Albania  ALB  1972                                          3214.6665
2  Albania  ALB  1973                                          3267.8481
3  Albania  ALB  1974                                          3330.0708
4  Albania  ALB  1975                                          3385.2730

########################################################################################
Estas son las últimas cinco filas del conjunto de datos:

         Entity Code  Year  GDP per capita (output, multiple price benchmarks)
10103  Zimbabwe  ZWE  2015                                          2880.9058
10104  Zimbabwe  ZWE  2016                                          2919.6170
10105  Zimbabwe  ZWE  2017                                          3112.8750
10106  Zimbabwe  ZWE  2018                                          3007.2370
10107  Zimbabwe  ZWE  2019                                          2787.6590

########################################################################################
Obtenemos una muestra aleatoria de filas del conjunto de datos con una semilla para obtener el mismo resultado

,Entity,Code,Year,"GDP per capita (output, multiple price benchmarks)"
4339,Hungary,HUN,2019,29236.400
8174,Seychelles,SYC,1977,16861.970
7771,Rwanda,RWA,1974,1095.663
10059,Zimbabwe,ZWE,1971,3048.605
1201,Botswana,BWA,2010,14527.120

########################################################################################
Identificamos las columnas del conjunto de datos
	 - Entity
	 - Code
	 - Year
	 - GDP per capita (output, multiple price benchmarks)

########################################################################################
Identificamos el tipo de datos de cada columna
Entity                                                 object
Code                                                   object
Year                                                    int64
GDP per capita (output, multiple price benchmarks)    float64
dtype: object

########################################################################################
Mostramos el total de columnas que hay de cada tipo de datos
object     2
int64      1
float64    1
Name: count, dtype: int64

########################################################################################
Obtenemos información más completa sobre la estructura y el contenido del DataFrame
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10108 entries, 0 to 10107
Data columns (total 4 columns):
 #   Column                                              Non-Null Count  Dtype
---  ------                                              --------------  -----
 0   Entity                                              10108 non-null  object
 1   Code                                                10108 non-null  object
 2   Year                                                10108 non-null  int64
 3   GDP per capita (output, multiple price benchmarks)  10108 non-null  float64
dtypes: float64(1), int64(1), object(2)
memory usage: 316.0+ KB
None

########################################################################################
Mostramos valores únicos tiene cada columna
Entity                                                  182
Code                                                    182
Year                                                     70
GDP per capita (output, multiple price benchmarks)    10108
dtype: int64

########################################################################################
Estas son las estadísticas descriptivas básicas de todas las columnas:

,Entity,Code,Year,"GDP per capita (output, multiple price benchmarks)"
count,10108,10108,10108.0,10108.0
unique,182,182,,
top,Australia,AUS,,
freq,70,70,,
mean,,,1989.576078,13121.751931
std,,,18.56453,17131.658623
min,,,1950.0,246.74171
25%,,,1975.0,2617.814225
50%,,,1991.0,6723.8973
75%,,,2005.0,16650.07
max,,,2019.0,169200.27

########################################################################################
Observamos los valores nulos en el conjunto de datos
Entity                                                0
Code                                                  0
Year                                                  0
GDP per capita (output, multiple price benchmarks)    0
dtype: int64

########################################################################################
Calculamos el porcentaje de valores nulos en cada columna
Entity                                                0.0
Code                                                  0.0
Year                                                  0.0
GDP per capita (output, multiple price benchmarks)    0.0
dtype: float64

########################################################################################

##### 5.3.1 Nulos: identificación y tratamiento

En este caso no se aprecian valores nulos, por lo tanto vamos a crear un DF auxiliar para no tratar los datos del DF original

In [203]:
df_gdp_aux = df_gdp

##### 5.3.2 Normalización del nombre de las columnas

In [204]:
mapeo_gdp = {
    "Entity": "entidad",
	"Code": "codigo",
	"Year": "año",
	"GDP per capita (output, multiple price benchmarks)": "gdp_per_capita"
}

In [205]:
df_gdp_aux = renombrar_columnas(df_gdp_aux, mapeo_gdp)

In [206]:
# Comprobamos la modificiacion de las columnas
df_gdp_aux.columns

Index(['entidad', 'codigo', 'año', 'gdp_per_capita'], dtype='object')

##### 5.3.3 Análisis exploratorio de df_gdp_aux

In [207]:
exploracion_inicial(df_gdp_aux)

Calculamos cuántas filas y columnas hay en el conjunto de datos
	Hay 10,108 filas y 4 columnas.

########################################################################################
Mostramos las primeras cinco filas del conjunto de datos

   entidad codigo   año  gdp_per_capita
0  Albania    ALB  1971       3159.8088
1  Albania    ALB  1972       3214.6665
2  Albania    ALB  1973       3267.8481
3  Albania    ALB  1974       3330.0708
4  Albania    ALB  1975       3385.2730

########################################################################################
Estas son las últimas cinco filas del conjunto de datos:

        entidad codigo   año  gdp_per_capita
10103  Zimbabwe    ZWE  2015       2880.9058
10104  Zimbabwe    ZWE  2016       2919.6170
10105  Zimbabwe    ZWE  2017       3112.8750
10106  Zimbabwe    ZWE  2018       3007.2370
10107  Zimbabwe    ZWE  2019       2787.6590

########################################################################################
Obtenemos una muestra aleatoria de filas del conjunto de datos con una semilla para obtener el mismo resultado

          entidad codigo   año  gdp_per_capita
3332      Finland    FIN  1952       7420.9785
2147     Colombia    COL  2009      10974.3970
6845        Niger    NER  1970       2124.3464
7873  Saint Lucia    LCA  1976       6728.3960
2683      Denmark    DNK  2010      48860.0550

########################################################################################
Identificamos las columnas del conjunto de datos
	 - entidad
	 - codigo
	 - año
	 - gdp_per_capita

########################################################################################
Identificamos el tipo de datos de cada columna
entidad            object
codigo             object
año                 int64
gdp_per_capita    float64
dtype: object

########################################################################################
Mostramos el total de columnas que hay de cada tipo de datos
object     2
int64      1
float64    1
Name: count, dtype: int64

########################################################################################
Obtenemos información más completa sobre la estructura y el contenido del DataFrame
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10108 entries, 0 to 10107
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   entidad         10108 non-null  object
 1   codigo          10108 non-null  object
 2   año             10108 non-null  int64
 3   gdp_per_capita  10108 non-null  float64
dtypes: float64(1), int64(1), object(2)
memory usage: 316.0+ KB
None

########################################################################################
Mostramos valores únicos tiene cada columna
entidad             182
codigo              182
año                  70
gdp_per_capita    10108
dtype: int64

########################################################################################
Estas son las estadísticas descriptivas básicas de todas las columnas:

          entidad codigo          año gdp_per_capita
count       10108  10108      10108.0        10108.0
unique        182    182
top     Australia    AUS
freq           70     70
mean                      1989.576078   13121.751931
std                          18.56453   17131.658623
min                            1950.0      246.74171
25%                            1975.0    2617.814225
50%                            1991.0      6723.8973
75%                            2005.0       16650.07
max                            2019.0      169200.27

########################################################################################
Observamos los valores nulos en el conjunto de datos
entidad           0
codigo            0
año               0
gdp_per_capita    0
dtype: int64

########################################################################################
Calculamos el porcentaje de valores nulos en cada columna
entidad           0.0
codigo            0.0
año               0.0
gdp_per_capita    0.0
dtype: float64

########################################################################################

#### 5.4 DF Vaccination

In [208]:
exploracion_inicial(df_vaccination)

Calculamos cuántas filas y columnas hay en el conjunto de datos
	Hay 7,897 filas y 14 columnas.

########################################################################################
Mostramos las primeras cinco filas del conjunto de datos

,Entity,Code,Year,BCG (% of one-year-olds immunized),HepB3 (% of one-year-olds immunized),Hib3 (% of one-year-olds immunized),IPV1 (% of one-year-olds immunized),MCV1 (% of one-year-olds immunized),PCV3 (% of one-year-olds immunized),Pol3 (% of one-year-olds immunized),RCV1 (% of one-year-olds immunized),RotaC (% of one-year-olds immunized),YFV (% of one-year-olds immunized),DTP3 (% of one-year-olds immunized)
0,Afghanistan,AFG,1982,10.0,NaN,NaN,NaN,8.0,NaN,5.0,NaN,NaN,NaN,5.0
1,Afghanistan,AFG,1983,10.0,NaN,NaN,NaN,9.0,NaN,5.0,NaN,NaN,NaN,5.0
2,Afghanistan,AFG,1984,11.0,NaN,NaN,NaN,14.0,NaN,16.0,NaN,NaN,NaN,16.0
3,Afghanistan,AFG,1985,17.0,NaN,NaN,NaN,14.0,NaN,15.0,NaN,NaN,NaN,15.0
4,Afghanistan,AFG,1986,18.0,NaN,NaN,NaN,14.0,NaN,11.0,NaN,NaN,NaN,11.0

########################################################################################
Estas son las últimas cinco filas del conjunto de datos:

,Entity,Code,Year,BCG (% of one-year-olds immunized),HepB3 (% of one-year-olds immunized),Hib3 (% of one-year-olds immunized),IPV1 (% of one-year-olds immunized),MCV1 (% of one-year-olds immunized),PCV3 (% of one-year-olds immunized),Pol3 (% of one-year-olds immunized),RCV1 (% of one-year-olds immunized),RotaC (% of one-year-olds immunized),YFV (% of one-year-olds immunized),DTP3 (% of one-year-olds immunized)
7892,Zimbabwe,ZWE,2017,95.0,89.0,89.0,NaN,90.0,89.0,89.0,90.0,91.0,NaN,89.0
7893,Zimbabwe,ZWE,2018,95.0,89.0,89.0,NaN,88.0,89.0,89.0,88.0,90.0,NaN,89.0
7894,Zimbabwe,ZWE,2019,95.0,90.0,90.0,65.0,85.0,90.0,90.0,85.0,92.0,NaN,90.0
7895,Zimbabwe,ZWE,2020,88.0,86.0,86.0,86.0,85.0,86.0,86.0,85.0,88.0,NaN,86.0
7896,Zimbabwe,ZWE,2021,88.0,86.0,86.0,86.0,85.0,86.0,86.0,85.0,88.0,NaN,86.0

########################################################################################
Obtenemos una muestra aleatoria de filas del conjunto de datos con una semilla para obtener el mismo resultado

,Entity,Code,Year,BCG (% of one-year-olds immunized),HepB3 (% of one-year-olds immunized),Hib3 (% of one-year-olds immunized),IPV1 (% of one-year-olds immunized),MCV1 (% of one-year-olds immunized),PCV3 (% of one-year-olds immunized),Pol3 (% of one-year-olds immunized),RCV1 (% of one-year-olds immunized),RotaC (% of one-year-olds immunized),YFV (% of one-year-olds immunized),DTP3 (% of one-year-olds immunized)
5473,Papua New Guinea,PNG,2020,52.0,39.0,39.0,39.0,47.0,39.0,41.0,47.0,NaN,NaN,39.0
4448,Mauritius,MUS,2021,95.0,92.0,92.0,93.0,77.0,94.0,93.0,77.0,86.0,NaN,92.0
5543,Peru,PER,2006,96.0,94.0,94.0,NaN,93.0,NaN,94.0,93.0,NaN,91.0,94.0
5481,Paraguay,PRY,1986,51.0,NaN,NaN,NaN,46.0,NaN,90.0,NaN,NaN,NaN,53.0
5745,Region of the Americas (WHO),NaN,1998,95.0,31.0,33.0,NaN,91.0,NaN,87.0,61.0,NaN,22.0,88.0

########################################################################################
Identificamos las columnas del conjunto de datos
	 - Entity
	 - Code
	 - Year
	 - BCG (% of one-year-olds immunized)
	 - HepB3 (% of one-year-olds immunized)
	 - Hib3 (% of one-year-olds immunized)
	 - IPV1 (% of one-year-olds immunized)
	 - MCV1 (% of one-year-olds immunized)
	 - PCV3 (% of one-year-olds immunized)
	 - Pol3 (% of one-year-olds immunized)
	 - RCV1 (% of one-year-olds immunized)
	 - RotaC (% of one-year-olds immunized)
	 - YFV (% of one-year-olds immunized)
	 - DTP3 (% of one-year-olds immunized)

########################################################################################
Identificamos el tipo de datos de cada columna
Entity                                   object
Code                                     object
Year                                      int64
BCG (% of one-year-olds immunized)      float64
HepB3 (% of one-year-olds immunized)    float64
Hib3 (% of one-year-olds immunized)     float64
IPV1 (% of one-year-olds immunized)     float64
MCV1 (% of one-year-olds immunized)     float64
PCV3 (% of one-year-olds immunized)     float64
Pol3 (% of one-year-olds immunized)     float64
RCV1 (% of one-year-olds immunized)     float64
RotaC (% of one-year-olds immunized)    float64
YFV (% of one-year-olds immunized)      float64
DTP3 (% of one-year-olds immunized)     float64
dtype: object

########################################################################################
Mostramos el total de columnas que hay de cada tipo de datos
float64    11
object      2
int64       1
Name: count, dtype: int64

########################################################################################
Obtenemos información más completa sobre la estructura y el contenido del DataFrame
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7897 entries, 0 to 7896
Data columns (total 14 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   Entity                                7897 non-null   object
 1   Code                                  7645 non-null   object
 2   Year                                  7897 non-null   int64
 3   BCG (% of one-year-olds immunized)    6497 non-null   float64
 4   HepB3 (% of one-year-olds immunized)  4436 non-null   float64
 5   Hib3 (% of one-year-olds immunized)   3629 non-null   float64
 6   IPV1 (% of one-year-olds immunized)   1297 non-null   float64
 7   MCV1 (% of one-year-olds immunized)   7728 non-null   float64
 8   PCV3 (% of one-year-olds immunized)   1497 non-null   float64
 9   Pol3 (% of one-year-olds immunized)   7855 non-null   float64
 10  RCV1 (% of one-year-olds immunized)   4198 non-null   float64
 11  RotaC (% of one-year-olds immunized)  1039 non-null   float64
 12  YFV (% of one-year-olds immunized)    824 non-null    float64
 13  DTP3 (% of one-year-olds immunized)   7854 non-null   float64
dtypes: float64(11), int64(1), object(2)
memory usage: 863.9+ KB
None

########################################################################################
Mostramos valores únicos tiene cada columna
Entity                                  202
Code                                    196
Year                                     42
BCG (% of one-year-olds immunized)      100
HepB3 (% of one-year-olds immunized)    100
Hib3 (% of one-year-olds immunized)     100
IPV1 (% of one-year-olds immunized)      95
MCV1 (% of one-year-olds immunized)     100
PCV3 (% of one-year-olds immunized)      99
Pol3 (% of one-year-olds immunized)     100
RCV1 (% of one-year-olds immunized)      97
RotaC (% of one-year-olds immunized)     97
YFV (% of one-year-olds immunized)       99
DTP3 (% of one-year-olds immunized)      99
dtype: int64

########################################################################################
Estas son las estadísticas descriptivas básicas de todas las columnas:

,Entity,Code,Year,BCG (% of one-year-olds immunized),HepB3 (% of one-year-olds immunized),Hib3 (% of one-year-olds immunized),IPV1 (% of one-year-olds immunized),MCV1 (% of one-year-olds immunized),PCV3 (% of one-year-olds immunized),Pol3 (% of one-year-olds immunized),RCV1 (% of one-year-olds immunized),RotaC (% of one-year-olds immunized),YFV (% of one-year-olds immunized),DTP3 (% of one-year-olds immunized)
count,7897,7645,7897.0,6497.0,4436.0,3629.0,1297.0,7728.0,1497.0,7855.0,4198.0,1039.0,824.0,7854.0
unique,202,196,,,,,,,,,,,,
top,Afghanistan,AFG,,,,,,,,,,,,
freq,42,42,,,,,,,,,,,,
mean,,,2001.586299,84.010312,82.326195,83.14825,82.730146,78.443323,77.035404,80.095226,85.676513,69.495669,54.274272,79.543672
std,,,11.76932,20.009474,21.924247,22.032865,22.68534,21.895398,24.897693,22.11455,21.010275,28.137731,28.903746,22.220256
min,,,1980.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
25%,,,1992.0,79.0,77.0,80.0,76.0,68.0,69.0,72.0,85.0,58.0,35.0,71.0
50%,,,2002.0,92.0,91.0,92.0,94.0,87.0,87.0,89.0,93.0,80.0,60.0,88.0
75%,,,2012.0,98.0,96.0,96.0,98.0,95.0,94.0,96.0,97.0,90.0,79.25,96.0
max,,,2021.0,99.0,99.0,99.0,99.0,99.0,99.0,99.0,99.0,99.0,99.0,99.0

########################################################################################
Observamos los valores nulos en el conjunto de datos
YFV (% of one-year-olds immunized)      7073
RotaC (% of one-year-olds immunized)    6858
IPV1 (% of one-year-olds immunized)     6600
PCV3 (% of one-year-olds immunized)     6400
Hib3 (% of one-year-olds immunized)     4268
RCV1 (% of one-year-olds immunized)     3699
HepB3 (% of one-year-olds immunized)    3461
BCG (% of one-year-olds immunized)      1400
Code                                     252
MCV1 (% of one-year-olds immunized)      169
DTP3 (% of one-year-olds immunized)       43
Pol3 (% of one-year-olds immunized)       42
Year                                       0
Entity                                     0
dtype: int64

########################################################################################
Calculamos el porcentaje de valores nulos en cada columna
YFV (% of one-year-olds immunized)      89.57
RotaC (% of one-year-olds immunized)    86.84
IPV1 (% of one-year-olds immunized)     83.58
PCV3 (% of one-year-olds immunized)     81.04
Hib3 (% of one-year-olds immunized)     54.05
RCV1 (% of one-year-olds immunized)     46.84
HepB3 (% of one-year-olds immunized)    43.83
BCG (% of one-year-olds immunized)      17.73
Code                                     3.19
MCV1 (% of one-year-olds immunized)      2.14
DTP3 (% of one-year-olds immunized)      0.54
Pol3 (% of one-year-olds immunized)      0.53
Year                                     0.00
Entity                                   0.00
dtype: float64

########################################################################################

In [209]:
df_vaccination.head(75)

,Entity,Code,Year,BCG (% of one-year-olds immunized),HepB3 (% of one-year-olds immunized),Hib3 (% of one-year-olds immunized),IPV1 (% of one-year-olds immunized),MCV1 (% of one-year-olds immunized),PCV3 (% of one-year-olds immunized),Pol3 (% of one-year-olds immunized),RCV1 (% of one-year-olds immunized),RotaC (% of one-year-olds immunized),YFV (% of one-year-olds immunized),DTP3 (% of one-year-olds immunized)
0,Afghanistan,AFG,1982,10.0,NaN,NaN,NaN,8.0,NaN,5.0,NaN,NaN,NaN,5.0
1,Afghanistan,AFG,1983,10.0,NaN,NaN,NaN,9.0,NaN,5.0,NaN,NaN,NaN,5.0
2,Afghanistan,AFG,1984,11.0,NaN,NaN,NaN,14.0,NaN,16.0,NaN,NaN,NaN,16.0
3,Afghanistan,AFG,1985,17.0,NaN,NaN,NaN,14.0,NaN,15.0,NaN,NaN,NaN,15.0
4,Afghanistan,AFG,1986,18.0,NaN,NaN,NaN,14.0,NaN,11.0,NaN,NaN,NaN,11.0
5,Afghanistan,AFG,1987,27.0,NaN,NaN,NaN,31.0,NaN,25.0,NaN,NaN,NaN,25.0
6,Afghanistan,AFG,1988,40.0,NaN,NaN,NaN,34.0,NaN,35.0,NaN,NaN,NaN,35.0
7,Afghanistan,AFG,1989,38.0,NaN,NaN,NaN,22.0,NaN,33.0,NaN,NaN,NaN,33.0
8,Afghanistan,AFG,1990,30.0,NaN,NaN,NaN,20.0,NaN,25.0,NaN,NaN,NaN,25.0
9,Afghanistan,AFG,1991,21.0,NaN,NaN,NaN,19.0,NaN,23.0,NaN,NaN,NaN,23.0
10,Afghanistan,AFG,1992,19.0,NaN,NaN,NaN,22.0,NaN,21.0,NaN,NaN,NaN,21.0
11,Afghanistan,AFG,1993,17.0,NaN,NaN,NaN,25.0,NaN,18.0,NaN,NaN,NaN,18.0
12,Afghanistan,AFG,1994,15.0,NaN,NaN,NaN,40.0,NaN,8.0,NaN,NaN,NaN,12.0
13,Afghanistan,AFG,1995,31.0,NaN,NaN,NaN,41.0,NaN,20.0,NaN,NaN,NaN,20.0
14,Afghanistan,AFG,1996,47.0,NaN,NaN,NaN,42.0,NaN,31.0,NaN,NaN,NaN,31.0
15,Afghanistan,AFG,1997,43.0,NaN,NaN,NaN,38.0,NaN,28.0,NaN,NaN,NaN,28.0
16,Afghanistan,AFG,1998,35.0,NaN,NaN,NaN,31.0,NaN,28.0,NaN,NaN,NaN,27.0
17,Afghanistan,AFG,1999,38.0,NaN,NaN,NaN,31.0,NaN,27.0,NaN,NaN,NaN,27.0
18,Afghanistan,AFG,2000,30.0,NaN,NaN,NaN,27.0,NaN,24.0,NaN,NaN,NaN,24.0
19,Afghanistan,AFG,2001,43.0,NaN,NaN,NaN,37.0,NaN,35.0,NaN,NaN,NaN,33.0
20,Afghanistan,AFG,2002,46.0,NaN,NaN,NaN,35.0,NaN,36.0,NaN,NaN,NaN,36.0
21,Afghanistan,AFG,2003,44.0,NaN,NaN,NaN,39.0,NaN,41.0,NaN,NaN,NaN,41.0
22,Afghanistan,AFG,2004,51.0,NaN,NaN,NaN,48.0,NaN,50.0,NaN,NaN,NaN,50.0
23,Afghanistan,AFG,2005,57.0,NaN,NaN,NaN,50.0,NaN,58.0,NaN,NaN,NaN,58.0
24,Afghanistan,AFG,2006,60.0,NaN,NaN,NaN,53.0,NaN,58.0,NaN,NaN,NaN,58.0
25,Afghanistan,AFG,2007,60.0,63.0,NaN,NaN,55.0,NaN,63.0,NaN,NaN,NaN,63.0
26,Afghanistan,AFG,2008,66.0,64.0,NaN,NaN,59.0,NaN,64.0,NaN,NaN,NaN,64.0
27,Afghanistan,AFG,2009,64.0,63.0,63.0,NaN,60.0,NaN,63.0,NaN,NaN,NaN,63.0
28,Afghanistan,AFG,2010,68.0,66.0,66.0,NaN,62.0,NaN,66.0,NaN,NaN,NaN,66.0
29,Afghanistan,AFG,2011,71.0,68.0,68.0,NaN,64.0,NaN,68.0,NaN,NaN,NaN,68.0
30,Afghanistan,AFG,2012,78.0,67.0,67.0,NaN,59.0,NaN,67.0,NaN,NaN,NaN,67.0
31,Afghanistan,AFG,2013,72.0,64.0,64.0,NaN,57.0,NaN,64.0,NaN,NaN,NaN,64.0
32,Afghanistan,AFG,2014,74.0,62.0,62.0,NaN,60.0,49.0,62.0,NaN,NaN,NaN,62.0
33,Afghanistan,AFG,2015,76.0,64.0,64.0,NaN,62.0,65.0,67.0,NaN,NaN,NaN,64.0
34,Afghanistan,AFG,2016,78.0,66.0,66.0,66.0,64.0,62.0,71.0,NaN,NaN,NaN,66.0
35,Afghanistan,AFG,2017,84.0,66.0,66.0,65.0,67.0,66.0,71.0,NaN,NaN,NaN,66.0
36,Afghanistan,AFG,2018,89.0,72.0,72.0,71.0,71.0,69.0,76.0,NaN,45.0,NaN,72.0
37,Afghanistan,AFG,2019,86.0,72.0,72.0,70.0,64.0,68.0,75.0,NaN,58.0,NaN,72.0
38,Afghanistan,AFG,2020,87.0,70.0,70.0,65.0,66.0,68.0,75.0,NaN,62.0,NaN,70.0
39,Afghanistan,AFG,2021,84.0,66.0,66.0,67.0,63.0,65.0,71.0,NaN,59.0,NaN,66.0
40,Afghanistan,AFG,1980,NaN,NaN,NaN,NaN,11.0,NaN,NaN,NaN,NaN,NaN,4.0
41,Afghanistan,AFG,1981,NaN,NaN,NaN,NaN,NaN,NaN,3.0,NaN,NaN,NaN,3.0
42,African Region (WHO),NaN,1980,9.0,NaN,NaN,NaN,6.0,NaN,6.0,0.0,NaN,NaN,5.0
43,African Region (WHO),NaN,1981,24.0,NaN,NaN,NaN,12.0,NaN,11.0,0.0,NaN,NaN,11.0
44,African Region (WHO),NaN,1982,25.0,NaN,NaN,NaN,14.0,NaN,13.0,0.0,NaN,NaN,12.0
45,African Region (WHO),NaN,1983,32.0,NaN,NaN,NaN,21.0,NaN,19.0,0.0,NaN,NaN,18.0
46,African Region (WHO),NaN,1984,35.0,NaN,NaN,NaN,26.0,NaN,24.0,0.0,NaN,NaN,24.0
47,African Region (WHO),NaN,1985,46.0,0.0,NaN,NaN,35.0,NaN,32.0,0.0,NaN,NaN,32.0
48,African Region (WHO),NaN,1986,52.0,0.0,NaN,NaN,42.0,NaN,37.0,0.0,NaN,NaN,37.0
49,African Region (WHO),NaN,1987,59.0,0.0,NaN,NaN,46.0,NaN,43.0,0.0,NaN,NaN,43.0
50,African Region (WHO),NaN,1988,61.0,0.0,NaN,NaN,50.0,NaN,46.0,0.0,NaN,NaN,46.0
51,African Region (WHO),NaN,1989,67.0,0.0,NaN,NaN,56.0,NaN,51.0,0.0,NaN,NaN,51.0
52,African Region (WHO),NaN,1990,74.0,0.0,0.0,NaN,58.0,NaN,58.0,0.0,NaN,NaN,57.0
53,African Region (WHO),NaN,1991,64.0,0.0,0.0,NaN,54.0,NaN,51.0,0.0,NaN,NaN,49.0
54,African Region (WHO),NaN,1992,64.0,0.0,0.0,NaN,51.0,NaN,50.0,0.0,NaN,NaN,50.0
55,African Region (WHO),NaN,1993,66.0,0.0,0.0,NaN,52.0,NaN,50.0,0.0,NaN,NaN,50.0
56,African Region (WHO),NaN,1994,70.0,0.0,0.0,NaN,56.0,NaN,55.0,0.0,NaN,NaN,55.0
57,African Region (WHO),NaN,1995,67.0,0.0,0.0,NaN,55.0,NaN,54.0,0.0,NaN,NaN,54.0
58,African Region (WHO),NaN,1996,65.0,1.0,0.0,NaN,54.0,NaN,53.0,0.0,NaN,NaN,51.0
59,African Region (WHO),NaN,1997,63.0,4.0,0.0,NaN,54.0,NaN,53.0,0.0,NaN,5.0,50.0
60,African Region (WHO),NaN,1998,66.0,4.0,0.0,NaN,53.0,NaN,52.0,0.0,NaN,6.0,51.0
61,African Region (WHO),NaN,1999,67.0,4.0,0.0,NaN,51.0,NaN,52.0,0.0,NaN,7.0,49.0
62,African Region (WHO),NaN,2000,69.0,5.0,3.0,NaN,53.0,NaN,54.0,0.0,NaN,9.0,52.0
63,African Region (WHO),NaN,2001,68.0,5.0,3.0,NaN,53.0,NaN,55.0,0.0,NaN,9.0,52.0
64,African Region (WHO),NaN,2002,68.0,24.0,12.0,NaN,54.0,NaN,59.0,0.0,NaN,11.0,53.0
65,African Region (WHO),NaN,2003,69.0,28.0,13.0,NaN,57.0,NaN,61.0,0.0,NaN,14.0,56.0
66,African Region (WHO),NaN,2004,72.0,33.0,16.0,NaN,59.0,NaN,62.0,0.0,NaN,25.0,60.0
67,African Region (WHO),NaN,2005,74.0,41.0,18.0,NaN,61.0,NaN,65.0,0.0,NaN,32.0,63.0
68,African Region (WHO),NaN,2006,76.0,46.0,22.0,NaN,63.0,NaN,66.0,0.0,0.0,35.0,65.0
69,African Region (WHO),NaN,2007,78.0,62.0,30.0,NaN,65.0,NaN,69.0,0.0,0.0,39.0,67.0
70,African Region (WHO),NaN,2008,81.0,64.0,37.0,NaN,68.0,0.0,71.0,0.0,0.0,38.0,70.0
71,African Region (WHO),NaN,2009,84.0,72.0,59.0,NaN,72.0,0.0,74.0,0.0,1.0,43.0,73.0
72,African Region (WHO),NaN,2010,82.0,70.0,60.0,NaN,72.0,3.0,72.0,0.0,2.0,39.0,71.0
73,African Region (WHO),NaN,2011,79.0,70.0,61.0,NaN,70.0,11.0,70.0,0.0,2.0,34.0,71.0
74,African Region (WHO),NaN,2012,80.0,69.0,63.0,NaN,71.0,22.0,71.0,0.0,5.0,35.0,70.0

##### 5.4.1 Nulos: identificación y tratamiento

In [210]:
df_vaccination.groupby('Entity')['Code'].apply(lambda x: x.isnull().sum())

Entity
Afghanistan                            0
African Region (WHO)                  42
Albania                                0
Algeria                                0
Andorra                                0
Angola                                 0
Antigua and Barbuda                    0
Argentina                              0
Armenia                                0
Australia                              0
Austria                                0
Azerbaijan                             0
Bahamas                                0
Bahrain                                0
Bangladesh                             0
Barbados                               0
Belarus                                0
Belgium                                0
Belize                                 0
Benin                                  0
Bhutan                                 0
Bolivia                                0
Bosnia and Herzegovina                 0
Botswana                               0
Brazil                                 0
Brunei                                 0
Bulgaria                               0
Burkina Faso                           0
Burundi                                0
Cambodia                               0
Cameroon                               0
Canada                                 0
Cape Verde                             0
Central African Republic               0
Chad                                   0
Chile                                  0
China                                  0
Colombia                               0
Comoros                                0
Congo                                  0
Cook Islands                           0
Costa Rica                             0
Cote d'Ivoire                          0
Croatia                                0
Cuba                                   0
Cyprus                                 0
Czechia                                0
Democratic Republic of Congo           0
Denmark                                0
Djibouti                               0
Dominica                               0
Dominican Republic                     0
East Timor                             0
Eastern Mediterranean Region (WHO)    42
Ecuador                                0
Egypt                                  0
El Salvador                            0
Equatorial Guinea                      0
Eritrea                                0
Estonia                                0
Eswatini                               0
Ethiopia                               0
European Region (WHO)                 42
Fiji                                   0
Finland                                0
France                                 0
Gabon                                  0
Gambia                                 0
Georgia                                0
Germany                                0
Ghana                                  0
Greece                                 0
Grenada                                0
Guatemala                              0
Guinea                                 0
Guinea-Bissau                          0
Guyana                                 0
Haiti                                  0
Honduras                               0
Hungary                                0
Iceland                                0
India                                  0
Indonesia                              0
Iran                                   0
Iraq                                   0
Ireland                                0
Israel                                 0
Italy                                  0
Jamaica                                0
Japan                                  0
Jordan                                 0
Kazakhstan                             0
Kenya                                  0
Kiribati                               0
Kuwait                                 0
Kyrgyzstan                             0
Laos                                   0
Latvia                                 0
Lebanon                                0
Lesotho                                0
Liberia                                0
Libya                                  0
Lithuania                              0
Luxembourg                             0
Madagascar                             0
Malawi                                 0
Malaysia                               0
Maldives                               0
Mali                                   0
Malta                                  0
Marshall Islands                       0
Mauritania                             0
Mauritius                              0
Mexico                                 0
Micronesia (country)                   0
Moldova                                0
Monaco                                 0
Mongolia                               0
Montenegro                             0
Morocco                                0
Mozambique                             0
Myanmar                                0
Namibia                                0
Nauru                                  0
Nepal                                  0
Netherlands                            0
New Zealand                            0
Nicaragua                              0
Niger                                  0
Nigeria                                0
Niue                                   0
North Korea                            0
North Macedonia                        0
Norway                                 0
Oman                                   0
Pakistan                               0
Palau                                  0
Palestine                              0
Panama                                 0
Papua New Guinea                       0
Paraguay                               0
Peru                                   0
Philippines                            0
Poland                                 0
Portugal                               0
Qatar                                  0
Region of the Americas (WHO)          42
Romania                                0
Russia                                 0
Rwanda                                 0
Saint Kitts and Nevis                  0
Saint Lucia                            0
Saint Vincent and the Grenadines       0
Samoa                                  0
San Marino                             0
Sao Tome and Principe                  0
Saudi Arabia                           0
Senegal                                0
Serbia                                 0
Seychelles                             0
Sierra Leone                           0
Singapore                              0
Slovakia                               0
Slovenia                               0
Solomon Islands                        0
Somalia                                0
South Africa                           0
South Korea                            0
South Sudan                            0
South-East Asia Region (WHO)          42
Spain                                  0
Sri Lanka                              0
Sudan                                  0
Suriname                               0
Sweden                                 0
Switzerland                            0
Syria                                  0
Tajikistan                             0
Tanzania                               0
Thailand                               0
Togo                                   0
Tonga                                  0
Trinidad and Tobago                    0
Tunisia                                0
Turkey                                 0
Turkmenistan                           0
Tuvalu                                 0
Uganda                                 0
Ukraine                                0
United Arab Emirates                   0
United Kingdom                         0
United States                          0
Uruguay                                0
Uzbekistan                             0
Vanuatu                                0
Venezuela                              0
Vietnam                                0
Western Pacific Region (WHO)          42
World                                  0
Yemen                                  0
Zambia                                 0
Zimbabwe                               0
Name: Code, dtype: int64

In [211]:
df_vaccination_paises = df_vaccination[df_vaccination['Code'].notnull()]
df_vaccination_regiones = df_vaccination[df_vaccination['Code'].isnull()]

In [212]:
df_vaccination_paises['Code'].isnull().sum()

np.int64(0)

In [213]:
df_vaccination_regiones['Code'].isnull().sum()

np.int64(252)

##### 5.4.2 Normalización del nombre de las columnas

In [214]:
mapeo_vacunacion = {
    "Entity": "entidad",
	"Code": "codigo",
	"Year": "año",
    "BCG (% of one-year-olds immunized)": "tuberculosis", 
	"HepB3 (% of one-year-olds immunized)": "hepatitis_B",
	"Hib3 (% of one-year-olds immunized)": "haemophilus_influenzae_tipo_b",
	"IPV1 (% of one-year-olds immunized)": "polio_primera_dosis",
	"MCV1 (% of one-year-olds immunized)": "sarampion_primera_dosis",
	"PCV3 (% of one-year-olds immunized)": "vacuna_antineumocócica",
	"Pol3 (% of one-year-olds immunized)": "polio",
	"RCV1 (% of one-year-olds immunized)": "rubéola",
	"RotaC (% of one-year-olds immunized)": "rotavirus",
	"YFV (% of one-year-olds immunized)": "fiebre_amarilla",
	"DTP3 (% of one-year-olds immunized)": "DTP3",
}

In [215]:
df_vaccination_paises = renombrar_columnas(df_vaccination_paises, mapeo_vacunacion)
df_vaccination_regiones = renombrar_columnas(df_vaccination_regiones, mapeo_vacunacion)

In [216]:
df_vaccination_paises.head(0)

Empty DataFrame
Columns: [entidad, codigo, año, tuberculosis, hepatitis_B, haemophilus_influenzae_tipo_b, polio_primera_dosis, sarampion_primera_dosis, vacuna_antineumocócica, polio, rubéola, rotavirus, fiebre_amarilla, DTP3]
Index: []

In [217]:
df_vaccination_regiones.head(0)

Empty DataFrame
Columns: [entidad, codigo, año, tuberculosis, hepatitis_B, haemophilus_influenzae_tipo_b, polio_primera_dosis, sarampion_primera_dosis, vacuna_antineumocócica, polio, rubéola, rotavirus, fiebre_amarilla, DTP3]
Index: []

##### 5.4.3 Análisis exploratorio de df_vaccination_paises

In [218]:
df_vaccination_paises.groupby(['entidad'])['tuberculosis'].apply(lambda x: x.isnull().sum())

entidad
Afghanistan                          2
Albania                              0
Algeria                              4
Andorra                             25
Angola                               0
Antigua and Barbuda                 42
Argentina                            0
Armenia                              0
Australia                           42
Austria                             32
Azerbaijan                           0
Bahamas                             42
Bahrain                             42
Bangladesh                           0
Barbados                            42
Belarus                              0
Belgium                             42
Belize                               0
Benin                                0
Bhutan                               0
Bolivia                              0
Bosnia and Herzegovina               0
Botswana                             0
Brazil                               0
Brunei                               0
Bulgaria                             0
Burkina Faso                         0
Burundi                              0
Cambodia                             0
Cameroon                             0
Canada                              35
Cape Verde                           2
Central African Republic             0
Chad                                 1
Chile                                0
China                                1
Colombia                             0
Comoros                              0
Congo                                1
Cook Islands                         0
Costa Rica                           0
Cote d'Ivoire                        0
Croatia                              0
Cuba                                 0
Cyprus                              42
Czechia                             12
Democratic Republic of Congo         0
Denmark                             42
Djibouti                             0
Dominica                             0
Dominican Republic                   0
East Timor                           0
Ecuador                              0
Egypt                                0
El Salvador                          0
Equatorial Guinea                    0
Eritrea                              0
Estonia                              0
Eswatini                             0
Ethiopia                             1
Fiji                                 0
Finland                             15
France                              14
Gabon                                0
Gambia                               0
Georgia                              0
Germany                             42
Ghana                                3
Greece                              27
Grenada                             42
Guatemala                            0
Guinea                               0
Guinea-Bissau                        1
Guyana                               0
Haiti                                1
Honduras                             0
Hungary                              0
Iceland                             42
India                                1
Indonesia                            0
Iran                                 0
Iraq                                 0
Ireland                              3
Israel                              39
Italy                               39
Jamaica                              0
Japan                               14
Jordan                              22
Kazakhstan                           0
Kenya                                0
Kiribati                             0
Kuwait                              26
Kyrgyzstan                           0
Laos                                 0
Latvia                               0
Lebanon                             41
Lesotho                              0
Liberia                              0
Libya                                0
Lithuania                            0
Luxembourg                          39
Madagascar                           0
Malawi                               1
Malaysia                             0
Maldives                             0
Mali                                 0
Malta                               27
Marshall Islands                     3
Mauritania                           0
Mauritius                            0
Mexico                               0
Micronesia (country)                 2
Moldova                              0
Monaco                               9
Mongolia                             0
Montenegro                           0
Morocco                              0
Mozambique                           0
Myanmar                              0
Namibia                              0
Nauru                                0
Nepal                                0
Netherlands                         42
New Zealand                         42
Nicaragua                            0
Niger                                0
Nigeria                              0
Niue                                 0
North Korea                          0
North Macedonia                      0
Norway                              39
Oman                                 0
Pakistan                             0
Palau                               36
Palestine                            1
Panama                               0
Papua New Guinea                     0
Paraguay                             0
Peru                                 0
Philippines                          0
Poland                               0
Portugal                             7
Qatar                                0
Romania                              3
Russia                               0
Rwanda                               0
Saint Kitts and Nevis                8
Saint Lucia                          0
Saint Vincent and the Grenadines     4
Samoa                                0
San Marino                          39
Sao Tome and Principe                0
Saudi Arabia                         0
Senegal                              0
Serbia                               0
Seychelles                           0
Sierra Leone                         0
Singapore                            0
Slovakia                             9
Slovenia                            17
Solomon Islands                      0
Somalia                              0
South Africa                         0
South Korea                          1
South Sudan                          0
Spain                               41
Sri Lanka                            0
Sudan                                0
Suriname                            42
Sweden                               0
Switzerland                         36
Syria                                0
Tajikistan                           0
Tanzania                             0
Thailand                             0
Togo                                 0
Tonga                                0
Trinidad and Tobago                 42
Tunisia                              0
Turkey                               1
Turkmenistan                         0
Tuvalu                               0
Uganda                               0
Ukraine                              0
United Arab Emirates                 0
United Kingdom                      42
United States                       42
Uruguay                              0
Uzbekistan                           0
Vanuatu                              0
Venezuela                            0
Vietnam                              1
World                                0
Yemen                                0
Zambia                               0
Zimbabwe                             0
Name: tuberculosis, dtype: int64

In [219]:
df_vaccination_paises.groupby(['entidad'])['hepatitis_B'].apply(lambda x: x.isnull().sum())

entidad
Afghanistan                         27
Albania                             14
Algeria                             23
Andorra                              0
Angola                              24
Antigua and Barbuda                 21
Argentina                           22
Armenia                              8
Australia                           21
Austria                             20
Azerbaijan                          10
Bahamas                             21
Bahrain                             12
Bangladesh                          22
Barbados                            21
Belarus                              8
Belgium                             17
Belize                              20
Benin                               17
Bhutan                              16
Bolivia                             20
Bosnia and Herzegovina              12
Botswana                            15
Brazil                              14
Brunei                              10
Bulgaria                            12
Burkina Faso                        21
Burundi                             23
Cambodia                            22
Cameroon                            24
Canada                              16
Cape Verde                          19
Central African Republic            29
Chad                                25
Chile                               26
China                               18
Colombia                            15
Comoros                             19
Congo                               27
Cook Islands                        10
Costa Rica                          17
Cote d'Ivoire                       17
Croatia                             15
Cuba                                13
Cyprus                              11
Czechia                              9
Democratic Republic of Congo        27
Denmark                             42
Djibouti                            25
Dominica                            26
Dominican Republic                  18
East Timor                           6
Ecuador                             20
Egypt                               14
El Salvador                         19
Equatorial Guinea                   29
Eritrea                              9
Estonia                             11
Eswatini                            15
Ethiopia                            27
Fiji                                13
Finland                             42
France                              18
Gabon                               23
Gambia                              12
Georgia                              8
Germany                             13
Ghana                               22
Greece                              11
Grenada                             21
Guatemala                           25
Guinea                              26
Guinea-Bissau                       26
Guyana                              21
Haiti                               33
Honduras                            20
Hungary                             42
Iceland                             42
India                               24
Indonesia                           12
Iran                                14
Iraq                                14
Ireland                             30
Israel                              12
Italy                                8
Jamaica                             23
Japan                               39
Jordan                              15
Kazakhstan                           6
Kenya                               18
Kiribati                            10
Kuwait                              12
Kyrgyzstan                           7
Laos                                22
Latvia                               6
Lebanon                             18
Lesotho                             23
Liberia                              9
Libya                               12
Lithuania                            6
Luxembourg                          14
Madagascar                          22
Malawi                              22
Malaysia                             9
Maldives                            13
Mali                                22
Malta                               22
Marshall Islands                     2
Mauritania                          24
Mauritius                           17
Mexico                              20
Micronesia (country)                 2
Moldova                              3
Monaco                              11
Mongolia                            11
Montenegro                           0
Morocco                             17
Mozambique                          20
Myanmar                             23
Namibia                             19
Nauru                                7
Nepal                               23
Netherlands                         31
New Zealand                         12
Nicaragua                           19
Niger                               28
Nigeria                             24
Niue                                11
North Korea                         23
North Macedonia                     12
Norway                              36
Oman                                11
Pakistan                            23
Palau                                5
Palestine                            2
Panama                              21
Papua New Guinea                    10
Paraguay                            23
Peru                                23
Philippines                         15
Poland                              11
Portugal                            15
Qatar                               11
Romania                             13
Russia                               9
Rwanda                              21
Saint Kitts and Nevis               18
Saint Lucia                         22
Saint Vincent and the Grenadines    23
Samoa                               12
San Marino                           8
Sao Tome and Principe               22
Saudi Arabia                        10
Senegal                             18
Serbia                              12
Seychelles                          14
Sierra Leone                         8
Singapore                           10
Slovakia                             6
Slovenia                            29
Solomon Islands                     13
Somalia                             33
South Africa                        14
South Korea                         15
South Sudan                          4
Spain                               15
Sri Lanka                           23
Sudan                               25
Suriname                            25
Sweden                              31
Switzerland                         31
Syria                               12
Tajikistan                          10
Tanzania                            22
Thailand                            12
Togo                                27
Tonga                               10
Trinidad and Tobago                 22
Tunisia                             14
Turkey                              20
Turkmenistan                        10
Tuvalu                              14
Uganda                              21
Ukraine                              8
United Arab Emirates                13
United Kingdom                      39
United States                       13
Uruguay                             19
Uzbekistan                          10
Vanuatu                             10
Venezuela                           20
Vietnam                             21
World                                5
Yemen                               19
Zambia                              24
Zimbabwe                            14
Name: hepatitis_B, dtype: int64

In [220]:
df_vaccination_paises.groupby(['entidad'])['haemophilus_influenzae_tipo_b'].apply(lambda x: x.isnull().sum())

entidad
Afghanistan                         29
Albania                             29
Algeria                             27
Andorra                              1
Angola                              24
Antigua and Barbuda                 21
Argentina                           18
Armenia                             18
Australia                           17
Austria                             19
Azerbaijan                          19
Bahamas                             19
Bahrain                             18
Bangladesh                          28
Barbados                            21
Belarus                             16
Belgium                             13
Belize                              21
Benin                               20
Bhutan                              32
Bolivia                             20
Bosnia and Herzegovina              12
Botswana                            31
Brazil                              20
Brunei                              22
Bulgaria                            30
Burkina Faso                        21
Burundi                             23
Cambodia                            26
Cameroon                            28
Canada                               9
Cape Verde                          28
Central African Republic            29
Chad                                25
Chile                               16
China                               40
Colombia                            18
Comoros                             25
Congo                               29
Cook Islands                        29
Costa Rica                          18
Cote d'Ivoire                       25
Croatia                             10
Cuba                                19
Cyprus                              20
Czechia                              9
Democratic Republic of Congo        29
Denmark                             13
Djibouti                            25
Dominica                            26
Dominican Republic                  21
East Timor                          11
Ecuador                             23
Egypt                               34
El Salvador                         22
Equatorial Guinea                   29
Eritrea                             15
Estonia                             11
Eswatini                            28
Ethiopia                            27
Fiji                                17
Finland                             12
France                              18
Gabon                               28
Gambia                              18
Georgia                             18
Germany                             11
Ghana                               22
Greece                              14
Grenada                             20
Guatemala                           25
Guinea                              28
Guinea-Bissau                       26
Guyana                              21
Haiti                               33
Honduras                            20
Hungary                             19
Iceland                             11
India                               33
Indonesia                           33
Iran                                35
Iraq                                32
Ireland                             17
Israel                              14
Italy                               17
Jamaica                             23
Japan                               31
Jordan                              21
Kazakhstan                          16
Kenya                               18
Kiribati                            28
Kuwait                              18
Kyrgyzstan                          18
Laos                                29
Latvia                               2
Lebanon                             22
Lesotho                             29
Liberia                              9
Libya                               27
Lithuania                            7
Luxembourg                          14
Madagascar                          28
Malawi                              22
Malaysia                            24
Maldives                            33
Mali                                24
Malta                               15
Marshall Islands                    13
Mauritania                          28
Mauritius                           26
Mexico                              20
Micronesia (country)                12
Moldova                             17
Monaco                              11
Mongolia                            25
Montenegro                           0
Morocco                             25
Mozambique                          28
Myanmar                             33
Namibia                             19
Nauru                               25
Nepal                               31
Netherlands                         17
New Zealand                         17
Nicaragua                           19
Niger                               28
Nigeria                             31
Niue                                20
North Korea                         32
North Macedonia                     15
Norway                              13
Oman                                22
Pakistan                            29
Palau                               12
Palestine                           14
Panama                              21
Papua New Guinea                    29
Paraguay                            23
Peru                                18
Philippines                         30
Poland                              25
Portugal                            18
Qatar                               17
Romania                             28
Russia                              30
Rwanda                              21
Saint Kitts and Nevis               20
Saint Lucia                         22
Saint Vincent and the Grenadines    23
Samoa                               28
San Marino                           8
Sao Tome and Principe               29
Saudi Arabia                        22
Senegal                             19
Serbia                              14
Seychelles                          29
Sierra Leone                         8
Singapore                           33
Slovakia                             2
Slovenia                             9
Solomon Islands                     28
Somalia                             33
South Africa                        17
South Korea                         34
South Sudan                          4
Spain                               17
Sri Lanka                           30
Sudan                               28
Suriname                            25
Sweden                              11
Switzerland                         12
Syria                               21
Tajikistan                          16
Tanzania                            29
Thailand                            40
Togo                                27
Tonga                               25
Trinidad and Tobago                 18
Tunisia                             26
Turkey                              27
Turkmenistan                        18
Tuvalu                              29
Uganda                              21
Ukraine                             14
United Arab Emirates                19
United Kingdom                      13
United States                       15
Uruguay                             17
Uzbekistan                          17
Vanuatu                             30
Venezuela                           20
Vietnam                             28
World                               10
Yemen                               25
Zambia                              23
Zimbabwe                            27
Name: haemophilus_influenzae_tipo_b, dtype: int64

In [221]:
df_vaccination_paises.groupby(['entidad'])['polio_primera_dosis'].apply(lambda x: x.isnull().sum())

entidad
Afghanistan                         36
Albania                             35
Algeria                             34
Andorra                             18
Angola                              35
Antigua and Barbuda                 35
Argentina                           36
Armenia                             24
Australia                           35
Austria                             36
Azerbaijan                          24
Bahamas                             35
Bahrain                             35
Bangladesh                          34
Barbados                            36
Belarus                             23
Belgium                             35
Belize                              35
Benin                               30
Bhutan                              35
Bolivia                             36
Bosnia and Herzegovina              23
Botswana                            35
Brazil                              35
Brunei                              35
Bulgaria                            35
Burkina Faso                        33
Burundi                             34
Cambodia                            32
Cameroon                            34
Canada                              28
Cape Verde                          34
Central African Republic            35
Chad                                32
Chile                               36
China                               35
Colombia                            35
Comoros                             31
Congo                               36
Cook Islands                        35
Costa Rica                          35
Cote d'Ivoire                       31
Croatia                             23
Cuba                                36
Cyprus                              35
Czechia                             22
Democratic Republic of Congo        35
Denmark                             35
Djibouti                            34
Dominica                            35
Dominican Republic                  35
East Timor                          14
Ecuador                             35
Egypt                               39
El Salvador                         36
Equatorial Guinea                   31
Eritrea                             25
Estonia                             22
Eswatini                            35
Ethiopia                            37
Fiji                                36
Finland                             35
France                              35
Gabon                               34
Gambia                              35
Georgia                             23
Germany                             35
Ghana                               38
Greece                              35
Grenada                             35
Guatemala                           36
Guinea                              34
Guinea-Bissau                       33
Guyana                              35
Haiti                               36
Honduras                            35
Hungary                             35
Iceland                             35
India                               35
Indonesia                           36
Iran                                38
Iraq                                37
Ireland                             35
Israel                              35
Italy                               32
Jamaica                             35
Japan                               35
Jordan                              35
Kazakhstan                          23
Kenya                               32
Kiribati                            35
Kuwait                              35
Kyrgyzstan                          26
Laos                                34
Latvia                              23
Lebanon                             34
Lesotho                             36
Liberia                             18
Libya                               35
Lithuania                           23
Luxembourg                          32
Madagascar                          35
Malawi                              39
Malaysia                            35
Maldives                            35
Mali                                35
Malta                               34
Marshall Islands                    28
Mauritania                          34
Mauritius                           36
Mexico                              35
Micronesia (country)                28
Moldova                             26
Monaco                              29
Mongolia                            39
Montenegro                           9
Morocco                             33
Mozambique                          35
Myanmar                             35
Namibia                             25
Nauru                               31
Nepal                               35
Netherlands                         35
New Zealand                         35
Nicaragua                           35
Niger                               34
Nigeria                             34
Niue                                35
North Korea                         35
North Macedonia                     22
Norway                              32
Oman                                35
Pakistan                            35
Palau                               29
Palestine                           22
Panama                              35
Papua New Guinea                    36
Paraguay                            36
Peru                                35
Philippines                         36
Poland                              35
Portugal                            35
Qatar                               35
Romania                             32
Russia                              23
Rwanda                              37
Saint Kitts and Nevis               36
Saint Lucia                         35
Saint Vincent and the Grenadines    35
Samoa                               36
San Marino                          32
Sao Tome and Principe               35
Saudi Arabia                        35
Senegal                             29
Serbia                              23
Seychelles                          34
Sierra Leone                        19
Singapore                           35
Slovakia                            21
Slovenia                            23
Solomon Islands                     35
Somalia                             38
South Africa                        32
South Korea                         35
South Sudan                          4
Spain                               34
Sri Lanka                           35
Sudan                               35
Suriname                            35
Sweden                              35
Switzerland                         29
Syria                               35
Tajikistan                          26
Tanzania                            38
Thailand                            37
Togo                                37
Tonga                               35
Trinidad and Tobago                 35
Tunisia                             33
Turkey                              35
Turkmenistan                        26
Tuvalu                              35
Uganda                              35
Ukraine                             23
United Arab Emirates                35
United Kingdom                      35
United States                       35
Uruguay                             35
Uzbekistan                          26
Vanuatu                             34
Venezuela                           36
Vietnam                             36
World                               35
Yemen                               35
Zambia                              37
Zimbabwe                            38
Name: polio_primera_dosis, dtype: int64

In [222]:
df_vaccination_paises.groupby(['entidad'])['sarampion_primera_dosis'].apply(lambda x: x.isnull().sum())

entidad
Afghanistan                          1
Albania                              0
Algeria                              4
Andorra                              0
Angola                               0
Antigua and Barbuda                  3
Argentina                            0
Armenia                              0
Australia                            3
Austria                              1
Azerbaijan                           0
Bahamas                              2
Bahrain                              0
Bangladesh                           1
Barbados                             0
Belarus                              0
Belgium                              1
Belize                               0
Benin                                0
Bhutan                               0
Bolivia                              0
Bosnia and Herzegovina               0
Botswana                             0
Brazil                               0
Brunei                               0
Bulgaria                             0
Burkina Faso                         0
Burundi                              0
Cambodia                             0
Cameroon                             0
Canada                               0
Cape Verde                           2
Central African Republic             0
Chad                                 1
Chile                                0
China                                1
Colombia                             0
Comoros                              0
Congo                                0
Cook Islands                         3
Costa Rica                           0
Cote d'Ivoire                        0
Croatia                              0
Cuba                                 0
Cyprus                               0
Czechia                              0
Democratic Republic of Congo         0
Denmark                              7
Djibouti                             0
Dominica                             2
Dominican Republic                   0
East Timor                           0
Ecuador                              0
Egypt                                0
El Salvador                          0
Equatorial Guinea                    0
Eritrea                              0
Estonia                              0
Eswatini                             0
Ethiopia                             0
Fiji                                 0
Finland                              1
France                               3
Gabon                                3
Gambia                               0
Georgia                              0
Germany                              0
Ghana                                0
Greece                               4
Grenada                              2
Guatemala                            0
Guinea                               0
Guinea-Bissau                        0
Guyana                               2
Haiti                                2
Honduras                             0
Hungary                              0
Iceland                              3
India                                5
Indonesia                            3
Iran                                 0
Iraq                                 0
Ireland                              3
Israel                               0
Italy                                7
Jamaica                              2
Japan                                0
Jordan                               0
Kazakhstan                           0
Kenya                                0
Kiribati                             3
Kuwait                               0
Kyrgyzstan                           0
Laos                                 0
Latvia                               0
Lebanon                              1
Lesotho                              0
Liberia                              0
Libya                                0
Lithuania                            0
Luxembourg                           0
Madagascar                           4
Malawi                               0
Malaysia                             3
Maldives                             1
Mali                                 4
Malta                                3
Marshall Islands                     0
Mauritania                           0
Mauritius                            2
Mexico                               0
Micronesia (country)                 0
Moldova                              0
Monaco                               0
Mongolia                             0
Montenegro                           0
Morocco                              0
Mozambique                           0
Myanmar                              6
Namibia                              0
Nauru                               13
Nepal                                1
Netherlands                          0
New Zealand                          0
Nicaragua                            0
Niger                                0
Nigeria                              3
Niue                                 0
North Korea                          0
North Macedonia                      0
Norway                               0
Oman                                 0
Pakistan                             0
Palau                                0
Palestine                            0
Panama                               0
Papua New Guinea                     3
Paraguay                             0
Peru                                 0
Philippines                          2
Poland                               0
Portugal                             0
Qatar                                0
Romania                              0
Russia                               0
Rwanda                               0
Saint Kitts and Nevis                4
Saint Lucia                          2
Saint Vincent and the Grenadines     2
Samoa                                2
San Marino                           8
Sao Tome and Principe                0
Saudi Arabia                         0
Senegal                              0
Serbia                               0
Seychelles                           0
Sierra Leone                         0
Singapore                            0
Slovakia                             0
Slovenia                             0
Solomon Islands                      6
Somalia                              0
South Africa                         0
South Korea                          0
South Sudan                          0
Spain                                0
Sri Lanka                            4
Sudan                                1
Suriname                             1
Sweden                               0
Switzerland                          0
Syria                                0
Tajikistan                           0
Tanzania                             0
Thailand                             4
Togo                                 3
Tonga                                1
Trinidad and Tobago                  4
Tunisia                              0
Turkey                               0
Turkmenistan                         0
Tuvalu                               3
Uganda                               0
Ukraine                              0
United Arab Emirates                 0
United Kingdom                       0
United States                        0
Uruguay                              0
Uzbekistan                           0
Vanuatu                              1
Venezuela                            0
Vietnam                              0
World                                0
Yemen                                0
Zambia                               2
Zimbabwe                             0
Name: sarampion_primera_dosis, dtype: int64

In [223]:
df_vaccination_paises.groupby(['entidad'])['vacuna_antineumocócica'].apply(lambda x: x.isnull().sum())

entidad
Afghanistan                         34
Albania                             31
Algeria                             35
Andorra                             17
Angola                              30
Antigua and Barbuda                 42
Argentina                           32
Armenia                             23
Australia                           28
Austria                             42
Azerbaijan                          22
Bahamas                             29
Bahrain                             28
Bangladesh                          34
Barbados                            29
Belarus                             30
Belgium                             32
Belize                              42
Benin                               26
Bhutan                              39
Bolivia                             34
Bosnia and Herzegovina              30
Botswana                            32
Brazil                              30
Brunei                              42
Bulgaria                            30
Burkina Faso                        29
Burundi                             30
Cambodia                            31
Cameroon                            30
Canada                              21
Cape Verde                          39
Central African Republic            31
Chad                                39
Chile                               31
China                               40
Colombia                            30
Comoros                             38
Congo                               32
Cook Islands                        42
Costa Rica                          29
Cote d'Ivoire                       30
Croatia                             29
Cuba                                42
Cyprus                              35
Czechia                             29
Democratic Republic of Congo        31
Denmark                             29
Djibouti                            31
Dominica                            42
Dominican Republic                  34
East Timor                          20
Ecuador                             30
Egypt                               42
El Salvador                         30
Equatorial Guinea                   37
Eritrea                             23
Estonia                             29
Eswatini                            33
Ethiopia                            31
Fiji                                33
Finland                             30
France                              30
Gabon                               40
Gambia                              30
Georgia                             23
Germany                             28
Ghana                               32
Greece                              32
Grenada                             42
Guatemala                           33
Guinea                              41
Guinea-Bissau                       32
Guyana                              31
Haiti                               38
Honduras                            31
Hungary                             31
Iceland                             32
India                               38
Indonesia                           38
Iran                                42
Iraq                                37
Ireland                             30
Israel                              31
Italy                               25
Jamaica                             42
Japan                               31
Jordan                              42
Kazakhstan                          20
Kenya                               27
Kiribati                            33
Kuwait                              28
Kyrgyzstan                          25
Laos                                33
Latvia                              19
Lebanon                             36
Lesotho                             35
Liberia                             15
Libya                               34
Lithuania                           24
Luxembourg                          25
Madagascar                          33
Malawi                              32
Malaysia                            42
Maldives                            42
Mali                                30
Malta                               40
Marshall Islands                    22
Mauritania                          32
Mauritius                           36
Mexico                              28
Micronesia (country)                23
Moldova                             21
Monaco                              34
Mongolia                            37
Montenegro                          16
Morocco                             28
Mozambique                          32
Myanmar                             36
Namibia                             24
Nauru                               37
Nepal                               35
Netherlands                         29
New Zealand                         29
Nicaragua                           31
Niger                               33
Nigeria                             34
Niue                                29
North Korea                         42
North Macedonia                     27
Norway                              25
Oman                                29
Pakistan                            33
Palau                               22
Palestine                           19
Panama                              30
Papua New Guinea                    35
Paraguay                            32
Peru                                29
Philippines                         34
Poland                              38
Portugal                            36
Qatar                               29
Romania                             36
Russia                              24
Rwanda                              29
Saint Kitts and Nevis               42
Saint Lucia                         42
Saint Vincent and the Grenadines    42
Samoa                               41
San Marino                          33
Sao Tome and Principe               32
Saudi Arabia                        29
Senegal                             28
Serbia                              26
Seychelles                          37
Sierra Leone                        12
Singapore                           29
Slovakia                            15
Slovenia                            23
Solomon Islands                     35
Somalia                             42
South Africa                        26
South Korea                         35
South Sudan                         11
Spain                               36
Sri Lanka                           42
Sudan                               33
Suriname                            42
Sweden                              28
Switzerland                         22
Syria                               42
Tajikistan                          30
Tanzania                            33
Thailand                            42
Togo                                33
Tonga                               41
Trinidad and Tobago                 32
Tunisia                             38
Turkey                              29
Turkmenistan                        28
Tuvalu                              42
Uganda                              33
Ukraine                             30
United Arab Emirates                30
United Kingdom                      30
United States                       28
Uruguay                             30
Uzbekistan                          25
Vanuatu                             40
Venezuela                           35
Vietnam                             40
World                               28
Yemen                               31
Zambia                              33
Zimbabwe                            31
Name: vacuna_antineumocócica, dtype: int64

In [224]:
df_vaccination_paises.groupby(['entidad'])['polio'].apply(lambda x: x.isnull().sum())

entidad
Afghanistan                         1
Albania                             0
Algeria                             0
Andorra                             0
Angola                              2
Antigua and Barbuda                 0
Argentina                           0
Armenia                             0
Australia                           0
Austria                             0
Azerbaijan                          0
Bahamas                             0
Bahrain                             0
Bangladesh                          0
Barbados                            0
Belarus                             0
Belgium                             0
Belize                              0
Benin                               0
Bhutan                              0
Bolivia                             0
Bosnia and Herzegovina              0
Botswana                            0
Brazil                              0
Brunei                              0
Bulgaria                            0
Burkina Faso                        0
Burundi                             0
Cambodia                            0
Cameroon                            0
Canada                              4
Cape Verde                          0
Central African Republic            0
Chad                                1
Chile                               0
China                               0
Colombia                            0
Comoros                             0
Congo                               0
Cook Islands                        0
Costa Rica                          0
Cote d'Ivoire                       0
Croatia                             0
Cuba                                0
Cyprus                              0
Czechia                             0
Democratic Republic of Congo        0
Denmark                             0
Djibouti                            0
Dominica                            0
Dominican Republic                  0
East Timor                          0
Ecuador                             0
Egypt                               0
El Salvador                         0
Equatorial Guinea                   0
Eritrea                             0
Estonia                             0
Eswatini                            0
Ethiopia                            0
Fiji                                0
Finland                             0
France                              0
Gabon                               3
Gambia                              0
Georgia                             0
Germany                             0
Ghana                               0
Greece                              0
Grenada                             0
Guatemala                           0
Guinea                              1
Guinea-Bissau                       0
Guyana                              0
Haiti                               0
Honduras                            0
Hungary                             0
Iceland                             0
India                               0
Indonesia                           1
Iran                                0
Iraq                                0
Ireland                             0
Israel                              0
Italy                               0
Jamaica                             0
Japan                               2
Jordan                              0
Kazakhstan                          0
Kenya                               0
Kiribati                            0
Kuwait                              0
Kyrgyzstan                          0
Laos                                0
Latvia                              0
Lebanon                             0
Lesotho                             0
Liberia                             0
Libya                               0
Lithuania                           0
Luxembourg                          0
Madagascar                          2
Malawi                              0
Malaysia                            0
Maldives                            0
Mali                                4
Malta                               0
Marshall Islands                    0
Mauritania                          0
Mauritius                           0
Mexico                              0
Micronesia (country)                0
Moldova                             0
Monaco                              0
Mongolia                            0
Montenegro                          0
Morocco                             0
Mozambique                          0
Myanmar                             2
Namibia                             0
Nauru                               0
Nepal                               1
Netherlands                         0
New Zealand                         3
Nicaragua                           0
Niger                               0
Nigeria                             3
Niue                                0
North Korea                         0
North Macedonia                     0
Norway                              0
Oman                                0
Pakistan                            0
Palau                               1
Palestine                           0
Panama                              0
Papua New Guinea                    0
Paraguay                            0
Peru                                0
Philippines                         0
Poland                              0
Portugal                            0
Qatar                               0
Romania                             2
Russia                              0
Rwanda                              0
Saint Kitts and Nevis               0
Saint Lucia                         0
Saint Vincent and the Grenadines    0
Samoa                               0
San Marino                          0
Sao Tome and Principe               0
Saudi Arabia                        0
Senegal                             0
Serbia                              0
Seychelles                          0
Sierra Leone                        0
Singapore                           0
Slovakia                            0
Slovenia                            0
Solomon Islands                     0
Somalia                             0
South Africa                        0
South Korea                         1
South Sudan                         0
Spain                               3
Sri Lanka                           0
Sudan                               0
Suriname                            0
Sweden                              0
Switzerland                         0
Syria                               0
Tajikistan                          0
Tanzania                            0
Thailand                            0
Togo                                0
Tonga                               0
Trinidad and Tobago                 0
Tunisia                             1
Turkey                              0
Turkmenistan                        0
Tuvalu                              0
Uganda                              0
Ukraine                             0
United Arab Emirates                0
United Kingdom                      0
United States                       0
Uruguay                             0
Uzbekistan                          0
Vanuatu                             1
Venezuela                           0
Vietnam                             1
World                               0
Yemen                               0
Zambia                              2
Zimbabwe                            0
Name: polio, dtype: int64

In [225]:
df_vaccination_paises.groupby(['entidad'])['rubéola'].apply(lambda x: x.isnull().sum())

entidad
Afghanistan                         42
Albania                             21
Algeria                             36
Andorra                              0
Angola                              35
Antigua and Barbuda                  8
Argentina                           17
Armenia                             10
Australia                            3
Austria                              1
Azerbaijan                          11
Bahamas                             11
Bahrain                              0
Bangladesh                          31
Barbados                             2
Belarus                              4
Belgium                              5
Belize                              16
Benin                               34
Bhutan                              26
Bolivia                             20
Bosnia and Herzegovina               0
Botswana                            36
Brazil                              20
Brunei                               4
Bulgaria                            13
Burkina Faso                        30
Burundi                             36
Cambodia                            29
Cameroon                            36
Canada                               0
Cape Verde                          28
Central African Republic            42
Chad                                39
Chile                               10
China                               28
Colombia                            15
Comoros                             38
Congo                               39
Cook Islands                        26
Costa Rica                           7
Cote d'Ivoire                       34
Croatia                              0
Cuba                                 6
Cyprus                               0
Czechia                              0
Democratic Republic of Congo        42
Denmark                              7
Djibouti                            40
Dominica                             9
Dominican Republic                  24
East Timor                          14
Ecuador                             17
Egypt                               19
El Salvador                         17
Equatorial Guinea                   37
Eritrea                             25
Estonia                              0
Eswatini                            36
Ethiopia                            42
Fiji                                15
Finland                              1
France                               3
Gabon                               40
Gambia                              37
Georgia                             12
Germany                             11
Ghana                               33
Greece                              15
Grenada                             13
Guatemala                           21
Guinea                              41
Guinea-Bissau                       39
Guyana                              15
Haiti                               28
Honduras                            17
Hungary                              9
Iceland                              3
India                               37
Indonesia                           37
Iran                                24
Iraq                                19
Ireland                              3
Israel                              15
Italy                                7
Jamaica                             13
Japan                                9
Jordan                              20
Kazakhstan                          12
Kenya                               33
Kiribati                            24
Kuwait                              15
Kyrgyzstan                           9
Laos                                31
Latvia                               1
Lebanon                             14
Lesotho                             37
Liberia                             23
Libya                               15
Lithuania                            0
Luxembourg                          12
Madagascar                          42
Malawi                              37
Malaysia                            18
Maldives                            27
Mali                                41
Malta                                4
Marshall Islands                    11
Mauritania                          37
Mauritius                           16
Mexico                              18
Micronesia (country)                 0
Moldova                             10
Monaco                               0
Mongolia                            29
Montenegro                           0
Morocco                             28
Mozambique                          37
Myanmar                             35
Namibia                             26
Nauru                               22
Nepal                               33
Netherlands                          0
New Zealand                          0
Nicaragua                           18
Niger                               41
Nigeria                             41
Niue                                 0
North Korea                         42
North Macedonia                      0
Norway                               0
Oman                                14
Pakistan                            42
Palau                                9
Palestine                            7
Panama                              12
Papua New Guinea                    35
Paraguay                            20
Peru                                23
Philippines                         30
Poland                               8
Portugal                             4
Qatar                               12
Romania                             19
Russia                               8
Rwanda                              34
Saint Kitts and Nevis                7
Saint Lucia                          6
Saint Vincent and the Grenadines    11
Samoa                               24
San Marino                          12
Sao Tome and Principe               35
Saudi Arabia                        11
Senegal                             27
Serbia                               2
Seychelles                           0
Sierra Leone                        21
Singapore                           10
Slovakia                             0
Slovenia                             0
Solomon Islands                     33
Somalia                             42
South Africa                        39
South Korea                          2
South Sudan                         11
Spain                                0
Sri Lanka                           16
Sudan                               42
Suriname                            13
Sweden                               2
Switzerland                          0
Syria                               19
Tajikistan                          17
Tanzania                            34
Thailand                            13
Togo                                37
Tonga                               22
Trinidad and Tobago                  4
Tunisia                             30
Turkey                              26
Turkmenistan                        15
Tuvalu                              25
Uganda                              39
Ukraine                              9
United Arab Emirates                 5
United Kingdom                       0
United States                        0
Uruguay                              2
Uzbekistan                          14
Vanuatu                             34
Venezuela                           18
Vietnam                             33
World                                0
Yemen                               35
Zambia                              36
Zimbabwe                            35
Name: rubéola, dtype: int64

In [226]:
df_vaccination_paises.groupby(['entidad'])['rotavirus'].apply(lambda x: x.isnull().sum())

entidad
Afghanistan                         38
Albania                             40
Algeria                             41
Andorra                             25
Angola                              31
Antigua and Barbuda                 42
Argentina                           35
Armenia                             21
Australia                           28
Austria                             28
Azerbaijan                          30
Bahamas                             36
Bahrain                             28
Bangladesh                          41
Barbados                            42
Belarus                             30
Belgium                             32
Belize                              42
Benin                               35
Bhutan                              42
Bolivia                             28
Bosnia and Herzegovina              30
Botswana                            32
Brazil                              26
Brunei                              42
Bulgaria                            38
Burkina Faso                        28
Burundi                             33
Cambodia                            38
Cameroon                            33
Canada                              30
Cape Verde                          39
Central African Republic            42
Chad                                39
Chile                               42
China                               40
Colombia                            29
Comoros                             38
Congo                               34
Cook Islands                        42
Costa Rica                          39
Cote d'Ivoire                       33
Croatia                             30
Cuba                                42
Cyprus                              42
Czechia                             29
Democratic Republic of Congo        39
Denmark                             42
Djibouti                            33
Dominica                            42
Dominican Republic                  32
East Timor                          19
Ecuador                             28
Egypt                               42
El Salvador                         26
Equatorial Guinea                   37
Eritrea                             21
Estonia                             21
Eswatini                            34
Ethiopia                            34
Fiji                                33
Finland                             30
France                              42
Gabon                               40
Gambia                              33
Georgia                             21
Germany                             34
Ghana                               32
Greece                              34
Grenada                             42
Guatemala                           30
Guinea                              41
Guinea-Bissau                       33
Guyana                              30
Haiti                               34
Honduras                            29
Hungary                             42
Iceland                             42
India                               36
Indonesia                           42
Iran                                42
Iraq                                32
Ireland                             37
Israel                              32
Italy                               34
Jamaica                             42
Japan                               42
Jordan                              35
Kazakhstan                          30
Kenya                               30
Kiribati                            35
Kuwait                              37
Kyrgyzstan                          28
Laos                                41
Latvia                              24
Lebanon                             41
Lesotho                             38
Liberia                             17
Libya                               34
Lithuania                           26
Luxembourg                          26
Madagascar                          34
Malawi                              32
Malaysia                            42
Maldives                            42
Mali                                33
Malta                               41
Marshall Islands                    22
Mauritania                          33
Mauritius                           35
Mexico                              28
Micronesia (country)                23
Moldova                             20
Monaco                              34
Mongolia                            42
Montenegro                          16
Morocco                             28
Mozambique                          34
Myanmar                             40
Namibia                             24
Nauru                               37
Nepal                               41
Netherlands                         42
New Zealand                         36
Nicaragua                           27
Niger                               33
Nigeria                             41
Niue                                36
North Korea                         42
North Macedonia                     27
Norway                              35
Oman                                42
Pakistan                            37
Palau                               23
Palestine                           24
Panama                              26
Papua New Guinea                    42
Paraguay                            30
Peru                                28
Philippines                         38
Poland                              42
Portugal                            42
Qatar                               29
Romania                             39
Russia                              30
Rwanda                              31
Saint Kitts and Nevis               42
Saint Lucia                         42
Saint Vincent and the Grenadines    42
Samoa                               41
San Marino                          39
Sao Tome and Principe               35
Saudi Arabia                        33
Senegal                             29
Serbia                              30
Seychelles                          36
Sierra Leone                        15
Singapore                           42
Slovakia                            28
Slovenia                            30
Solomon Islands                     40
Somalia                             42
South Africa                        26
South Korea                         42
South Sudan                         11
Spain                               40
Sri Lanka                           42
Sudan                               31
Suriname                            42
Sweden                              40
Switzerland                         36
Syria                               42
Tajikistan                          23
Tanzania                            33
Thailand                            41
Togo                                33
Tonga                               42
Trinidad and Tobago                 42
Tunisia                             40
Turkey                              42
Turkmenistan                        27
Tuvalu                              41
Uganda                              37
Ukraine                             30
United Arab Emirates                34
United Kingdom                      35
United States                       29
Uruguay                             42
Uzbekistan                          22
Vanuatu                             40
Venezuela                           26
Vietnam                             40
World                               26
Yemen                               32
Zambia                              33
Zimbabwe                            33
Name: rotavirus, dtype: int64

In [227]:
df_vaccination_paises.groupby(['entidad'])['fiebre_amarilla'].apply(lambda x: x.isnull().sum())

entidad
Afghanistan                         42
Albania                             42
Algeria                             41
Andorra                             25
Angola                              14
Antigua and Barbuda                 42
Argentina                           29
Armenia                             30
Australia                           42
Austria                             42
Azerbaijan                          30
Bahamas                             42
Bahrain                             42
Bangladesh                          41
Barbados                            42
Belarus                             30
Belgium                             42
Belize                              42
Benin                               17
Bhutan                              42
Bolivia                             24
Bosnia and Herzegovina              30
Botswana                            42
Brazil                              18
Brunei                              42
Bulgaria                            42
Burkina Faso                        14
Burundi                             41
Cambodia                            38
Cameroon                            23
Canada                              35
Cape Verde                          39
Central African Republic            17
Chad                                14
Chile                               42
China                               40
Colombia                            26
Comoros                             38
Congo                               24
Cook Islands                        42
Costa Rica                          42
Cote d'Ivoire                       13
Croatia                             30
Cuba                                42
Cyprus                              42
Czechia                             29
Democratic Republic of Congo        23
Denmark                             42
Djibouti                            40
Dominica                            42
Dominican Republic                  42
East Timor                          20
Ecuador                             20
Egypt                               42
El Salvador                         42
Equatorial Guinea                   32
Eritrea                             29
Estonia                             29
Eswatini                            41
Ethiopia                            42
Fiji                                42
Finland                             42
France                              42
Gabon                               21
Gambia                              17
Georgia                             30
Germany                             42
Ghana                               17
Greece                              42
Grenada                             42
Guatemala                           42
Guinea                              21
Guinea-Bissau                       25
Guyana                              18
Haiti                               42
Honduras                            42
Hungary                             42
Iceland                             42
India                               42
Indonesia                           42
Iran                                42
Iraq                                42
Ireland                             42
Israel                              42
Italy                               39
Jamaica                             42
Japan                               42
Jordan                              42
Kazakhstan                          30
Kenya                               18
Kiribati                            42
Kuwait                              42
Kyrgyzstan                          30
Laos                                41
Latvia                              30
Lebanon                             41
Lesotho                             42
Liberia                              2
Libya                               42
Lithuania                           30
Luxembourg                          39
Madagascar                          42
Malawi                              42
Malaysia                            42
Maldives                            42
Mali                                17
Malta                               41
Marshall Islands                    35
Mauritania                          41
Mauritius                           42
Mexico                              42
Micronesia (country)                35
Moldova                             30
Monaco                              34
Mongolia                            42
Montenegro                          16
Morocco                             40
Mozambique                          41
Myanmar                             42
Namibia                             31
Nauru                               38
Nepal                               42
Netherlands                         42
New Zealand                         42
Nicaragua                           42
Niger                               19
Nigeria                             23
Niue                                42
North Korea                         42
North Macedonia                     29
Norway                              39
Oman                                42
Pakistan                            42
Palau                               36
Palestine                           29
Panama                              17
Papua New Guinea                    42
Paraguay                            29
Peru                                20
Philippines                         42
Poland                              42
Portugal                            42
Qatar                               42
Romania                             39
Russia                              30
Rwanda                              41
Saint Kitts and Nevis               42
Saint Lucia                         42
Saint Vincent and the Grenadines    42
Samoa                               42
San Marino                          39
Sao Tome and Principe               30
Saudi Arabia                        42
Senegal                             12
Serbia                              30
Seychelles                          41
Sierra Leone                         3
Singapore                           42
Slovakia                            28
Slovenia                            30
Solomon Islands                     42
Somalia                             42
South Africa                        39
South Korea                         42
South Sudan                         11
Spain                               41
Sri Lanka                           42
Sudan                               42
Suriname                            25
Sweden                              42
Switzerland                         36
Syria                               42
Tajikistan                          30
Tanzania                            42
Thailand                            42
Togo                                23
Tonga                               42
Trinidad and Tobago                 18
Tunisia                             40
Turkey                              42
Turkmenistan                        30
Tuvalu                              42
Uganda                              41
Ukraine                             30
United Arab Emirates                42
United Kingdom                      42
United States                       42
Uruguay                             42
Uzbekistan                          30
Vanuatu                             41
Venezuela                           20
Vietnam                             40
World                               17
Yemen                               42
Zambia                              41
Zimbabwe                            41
Name: fiebre_amarilla, dtype: int64

In [228]:
df_vaccination_paises.groupby(['entidad'])['DTP3'].apply(lambda x: x.isnull().sum())

entidad
Afghanistan                         0
Albania                             0
Algeria                             4
Andorra                             0
Angola                              0
Antigua and Barbuda                 0
Argentina                           0
Armenia                             0
Australia                           0
Austria                             0
Azerbaijan                          0
Bahamas                             0
Bahrain                             0
Bangladesh                          0
Barbados                            0
Belarus                             0
Belgium                             0
Belize                              0
Benin                               0
Bhutan                              0
Bolivia                             0
Bosnia and Herzegovina              0
Botswana                            0
Brazil                              0
Brunei                              0
Bulgaria                            0
Burkina Faso                        0
Burundi                             0
Cambodia                            0
Cameroon                            0
Canada                              0
Cape Verde                          0
Central African Republic            0
Chad                                0
Chile                               0
China                               1
Colombia                            0
Comoros                             0
Congo                               0
Cook Islands                        0
Costa Rica                          0
Cote d'Ivoire                       0
Croatia                             0
Cuba                                0
Cyprus                              0
Czechia                             0
Democratic Republic of Congo        1
Denmark                             0
Djibouti                            0
Dominica                            0
Dominican Republic                  0
East Timor                          0
Ecuador                             0
Egypt                               0
El Salvador                         0
Equatorial Guinea                   0
Eritrea                             0
Estonia                             0
Eswatini                            0
Ethiopia                            1
Fiji                                0
Finland                             0
France                              0
Gabon                               1
Gambia                              0
Georgia                             0
Germany                             1
Ghana                               0
Greece                              0
Grenada                             0
Guatemala                           0
Guinea                              1
Guinea-Bissau                       0
Guyana                              0
Haiti                               0
Honduras                            0
Hungary                             0
Iceland                             0
India                               0
Indonesia                           1
Iran                                0
Iraq                                0
Ireland                             0
Israel                              0
Italy                               7
Jamaica                             0
Japan                               0
Jordan                              0
Kazakhstan                          0
Kenya                               0
Kiribati                            0
Kuwait                              0
Kyrgyzstan                          0
Laos                                0
Latvia                              0
Lebanon                             0
Lesotho                             0
Liberia                             0
Libya                               0
Lithuania                           0
Luxembourg                          0
Madagascar                          2
Malawi                              0
Malaysia                            0
Maldives                            0
Mali                                4
Malta                               3
Marshall Islands                    1
Mauritania                          0
Mauritius                           0
Mexico                              0
Micronesia (country)                0
Moldova                             0
Monaco                              0
Mongolia                            0
Montenegro                          0
Morocco                             0
Mozambique                          0
Myanmar                             0
Namibia                             0
Nauru                               0
Nepal                               0
Netherlands                         0
New Zealand                         0
Nicaragua                           0
Niger                               0
Nigeria                             3
Niue                                0
North Korea                         0
North Macedonia                     0
Norway                              0
Oman                                0
Pakistan                            0
Palau                               0
Palestine                           0
Panama                              0
Papua New Guinea                    0
Paraguay                            0
Peru                                0
Philippines                         0
Poland                              0
Portugal                            0
Qatar                               0
Romania                             2
Russia                              0
Rwanda                              0
Saint Kitts and Nevis               0
Saint Lucia                         0
Saint Vincent and the Grenadines    0
Samoa                               0
San Marino                          0
Sao Tome and Principe               0
Saudi Arabia                        0
Senegal                             0
Serbia                              0
Seychelles                          0
Sierra Leone                        0
Singapore                           0
Slovakia                            0
Slovenia                            0
Solomon Islands                     0
Somalia                             1
South Africa                        0
South Korea                         1
South Sudan                         0
Spain                               3
Sri Lanka                           0
Sudan                               0
Suriname                            0
Sweden                              0
Switzerland                         0
Syria                               0
Tajikistan                          0
Tanzania                            0
Thailand                            0
Togo                                0
Tonga                               0
Trinidad and Tobago                 0
Tunisia                             1
Turkey                              0
Turkmenistan                        0
Tuvalu                              0
Uganda                              0
Ukraine                             0
United Arab Emirates                0
United Kingdom                      0
United States                       0
Uruguay                             0
Uzbekistan                          0
Vanuatu                             1
Venezuela                           0
Vietnam                             1
World                               0
Yemen                               0
Zambia                              2
Zimbabwe                            0
Name: DTP3, dtype: int64

#### 5.5 DF Homicidios

In [229]:
exploracion_inicial(df_homicides)

Calculamos cuántas filas y columnas hay en el conjunto de datos
	Hay 4,204 filas y 4 columnas.

########################################################################################
Mostramos las primeras cinco filas del conjunto de datos

,Entity,Code,Year,"Homicide rate per 100,000 population - Both sexes - All ages"
0,Afghanistan,AFG,2009,4.071527
1,Afghanistan,AFG,2010,3.487093
2,Afghanistan,AFG,2011,4.208668
3,Afghanistan,AFG,2012,6.393913
4,Afghanistan,AFG,2015,9.975262

########################################################################################
Estas son las últimas cinco filas del conjunto de datos:

,Entity,Code,Year,"Homicide rate per 100,000 population - Both sexes - All ages"
4199,Zimbabwe,ZWE,2012,7.395217
4200,Zimbabwe,ZWE,2018,4.876369
4201,Zimbabwe,ZWE,2019,5.145035
4202,Zimbabwe,ZWE,2020,4.977770
4203,Zimbabwe,ZWE,2021,6.139985

########################################################################################
Obtenemos una muestra aleatoria de filas del conjunto de datos con una semilla para obtener el mismo resultado

,Entity,Code,Year,"Homicide rate per 100,000 population - Both sexes - All ages"
1966,Japan,JPN,2008,0.510628
504,Belize,BLZ,2000,17.054483
3967,United Kingdom,GBR,1999,1.569023
179,Antigua and Barbuda,ATG,2012,11.405890
2358,Mauritius,MUS,1992,2.771039

########################################################################################
Identificamos las columnas del conjunto de datos
	 - Entity
	 - Code
	 - Year
	 - Homicide rate per 100,000 population - Both sexes - All ages

########################################################################################
Identificamos el tipo de datos de cada columna
Entity                                                           object
Code                                                             object
Year                                                              int64
Homicide rate per 100,000 population - Both sexes - All ages    float64
dtype: object

########################################################################################
Mostramos el total de columnas que hay de cada tipo de datos
object     2
int64      1
float64    1
Name: count, dtype: int64

########################################################################################
Obtenemos información más completa sobre la estructura y el contenido del DataFrame
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4204 entries, 0 to 4203
Data columns (total 4 columns):
 #   Column                                                        Non-Null Count  Dtype
---  ------                                                        --------------  -----
 0   Entity                                                        4204 non-null   object
 1   Code                                                          4028 non-null   object
 2   Year                                                          4204 non-null   int64
 3   Homicide rate per 100,000 population - Both sexes - All ages  4204 non-null   float64
dtypes: float64(1), int64(1), object(2)
memory usage: 131.5+ KB
None

########################################################################################
Mostramos valores únicos tiene cada columna
Entity                                                           209
Code                                                             201
Year                                                              32
Homicide rate per 100,000 population - Both sexes - All ages    4064
dtype: int64

########################################################################################
Estas son las estadísticas descriptivas básicas de todas las columnas:

,Entity,Code,Year,"Homicide rate per 100,000 population - Both sexes - All ages"
count,4204,4028,4204.0,4204.0
unique,209,201,,
top,Australia,DEU,,
freq,32,32,,
mean,,,2006.600856,8.013034
std,,,8.712915,12.055301
min,,,1990.0,0.0
25%,,,2000.0,1.331695
50%,,,2007.0,3.285863
75%,,,2014.0,9.409311
max,,,2021.0,138.77399

########################################################################################
Observamos los valores nulos en el conjunto de datos
Code                                                            176
Entity                                                            0
Year                                                              0
Homicide rate per 100,000 population - Both sexes - All ages      0
dtype: int64

########################################################################################
Calculamos el porcentaje de valores nulos en cada columna
Code                                                            4.19
Entity                                                          0.00
Year                                                            0.00
Homicide rate per 100,000 population - Both sexes - All ages    0.00
dtype: float64

########################################################################################

##### 5.5.1 Nulos: identificación y tratamiento

In [230]:
# Identificamos a qué pais/región pertenecen los nulos
df_homicides.groupby('Entity')['Code'].apply(lambda x: x.isnull().sum())

Entity
Afghanistan                          0
Africa (UN)                         22
Albania                              0
Algeria                              0
American Samoa                       0
Americas (UN)                       22
Andorra                              0
Angola                               0
Anguilla                             0
Antigua and Barbuda                  0
Argentina                            0
Armenia                              0
Aruba                                0
Asia (UN)                           22
Australia                            0
Austria                              0
Azerbaijan                           0
Bahamas                              0
Bahrain                              0
Bangladesh                           0
Barbados                             0
Belarus                              0
Belgium                              0
Belize                               0
Bermuda                              0
Bhutan                               0
Bolivia                              0
Bosnia and Herzegovina               0
Botswana                             0
Brazil                               0
British Virgin Islands               0
Brunei                               0
Bulgaria                             0
Burundi                              0
Cambodia                             0
Cameroon                             0
Canada                               0
Cape Verde                           0
Cayman Islands                       0
Chile                                0
China                                0
Colombia                             0
Cook Islands                         0
Costa Rica                           0
Croatia                              0
Cuba                                 0
Curacao                              0
Cyprus                               0
Czechia                              0
Denmark                              0
Dominica                             0
Dominican Republic                   0
East Timor                           0
Ecuador                              0
Egypt                                0
El Salvador                          0
Eritrea                              0
Estonia                              0
Eswatini                             0
Ethiopia                             0
Europe (UN)                         22
Fiji                                 0
Finland                              0
France                               0
French Guiana                        0
French Polynesia                     0
Georgia                              0
Germany                              0
Ghana                                0
Gibraltar                            0
Greece                               0
Greenland                            0
Grenada                              0
Guadeloupe                           0
Guam                                 0
Guatemala                            0
Guinea-Bissau                        0
Guyana                               0
Haiti                                0
Honduras                             0
Hong Kong                            0
Hungary                              0
Iceland                              0
India                                0
Indonesia                            0
Iran                                 0
Iraq                                 0
Ireland                              0
Isle of Man                          0
Israel                               0
Italy                                0
Jamaica                              0
Japan                                0
Jordan                               0
Kazakhstan                           0
Kenya                                0
Kiribati                             0
Kosovo                               0
Kuwait                               0
Latvia                               0
Lebanon                              0
Lesotho                              0
Liberia                              0
Liechtenstein                        0
Lithuania                            0
Luxembourg                           0
Macao                                0
Malawi                               0
Malaysia                             0
Maldives                             0
Malta                                0
Marshall Islands                     0
Martinique                           0
Mauritania                           0
Mauritius                            0
Mayotte                              0
Melanesia (UN)                      22
Mexico                               0
Micronesia (UN)                     22
Micronesia (country)                 0
Moldova                              0
Monaco                               0
Mongolia                             0
Montenegro                           0
Montserrat                           0
Morocco                              0
Mozambique                           0
Myanmar                              0
Namibia                              0
Nepal                                0
Netherlands                          0
New Caledonia                        0
New Zealand                          0
Nicaragua                            0
Niger                                0
Nigeria                              0
North Macedonia                      0
Norway                               0
Oceania (UN)                        22
Oman                                 0
Pakistan                             0
Palau                                0
Palestine                            0
Panama                               0
Papua New Guinea                     0
Paraguay                             0
Peru                                 0
Philippines                          0
Poland                               0
Polynesia (UN)                      22
Portugal                             0
Puerto Rico                          0
Qatar                                0
Reunion                              0
Romania                              0
Russia                               0
Rwanda                               0
Saint Helena                         0
Saint Kitts and Nevis                0
Saint Lucia                          0
Saint Martin (French part)           0
Saint Pierre and Miquelon            0
Saint Vincent and the Grenadines     0
Samoa                                0
San Marino                           0
Sao Tome and Principe                0
Saudi Arabia                         0
Serbia                               0
Seychelles                           0
Sierra Leone                         0
Singapore                            0
Slovakia                             0
Slovenia                             0
Solomon Islands                      0
South Africa                         0
South Korea                          0
South Sudan                          0
Spain                                0
Sri Lanka                            0
Suriname                             0
Sweden                               0
Switzerland                          0
Syria                                0
Tajikistan                           0
Tanzania                             0
Thailand                             0
Tonga                                0
Trinidad and Tobago                  0
Tunisia                              0
Turkey                               0
Turkmenistan                         0
Turks and Caicos Islands             0
Tuvalu                               0
Uganda                               0
Ukraine                              0
United Arab Emirates                 0
United Kingdom                       0
United States                        0
United States Virgin Islands         0
Uruguay                              0
Uzbekistan                           0
Vanuatu                              0
Vatican                              0
Venezuela                            0
Vietnam                              0
World                                0
Yemen                                0
Zambia                               0
Zimbabwe                             0
Name: Code, dtype: int64

Tal y como ocurría con el dataset "df_deaths"m los nulos corresponden a grupos/agregaciones que usa la ONU para agrupar países de acuerdo a su ubicación continental o subcontinental. 

De modo que podemos afirmar lo siguiente: 

* No son paises individuales
* Duplican información puesto que paises que ya aparecen en nuestra tabla forman parte de esas regiones. 

Procedemos exactamente de la misma manera que en el primer dataset y procedemos a crear una tabla de regiones y otra de paises.

In [231]:
# Creamos el DataFrame para almacenar los países
df_homicides_paises = df_homicides[df_homicides['Code'].notnull()]

In [232]:
# Verificamos que no hay ningún nulo en la columna ['codigo']
df_homicides_paises['Code'].isnull().sum()

np.int64(0)

In [233]:
# Creamos el DataFrame para almacenar las regiones antes mencionadas
df_homicides_regiones = df_homicides[df_homicides['Code'].isnull()]

In [234]:
# Verificamos que tenemos los 176 nulos en la columna ['codigo']
df_homicides_regiones['Code'].isnull().sum()

np.int64(176)

##### 5.5.2 Normalización del nombre de las columnas

In [235]:
# Creamos un diccionario con los nombres antiguos como "key" y los nuevos como "values"
mapeo_homicides = {
    "Entity": "entidad",
	"Code": "codigo",
	"Year": "año",
	"Homicide rate per 100,000 population - Both sexes - All ages": "ratio_por_cien_mil"

}

In [236]:
df_homicides_paises = renombrar_columnas(df_homicides_paises, mapeo_homicides)
df_homicides_regiones = renombrar_columnas(df_homicides_regiones, mapeo_homicides)

In [237]:
df_homicides_paises.columns

Index(['entidad', 'codigo', 'año', 'ratio_por_cien_mil'], dtype='object')

In [238]:
df_homicides_regiones.columns

Index(['entidad', 'codigo', 'año', 'ratio_por_cien_mil'], dtype='object')

##### 5.5.3 Análisis exploratorio de df_homicides_paises

In [239]:
exploracion_inicial(df_homicides_paises)

Calculamos cuántas filas y columnas hay en el conjunto de datos
	Hay 4,028 filas y 4 columnas.

########################################################################################
Mostramos las primeras cinco filas del conjunto de datos

       entidad codigo   año  ratio_por_cien_mil
0  Afghanistan    AFG  2009            4.071527
1  Afghanistan    AFG  2010            3.487093
2  Afghanistan    AFG  2011            4.208668
3  Afghanistan    AFG  2012            6.393913
4  Afghanistan    AFG  2015            9.975262

########################################################################################
Estas son las últimas cinco filas del conjunto de datos:

       entidad codigo   año  ratio_por_cien_mil
4199  Zimbabwe    ZWE  2012            7.395217
4200  Zimbabwe    ZWE  2018            4.876369
4201  Zimbabwe    ZWE  2019            5.145035
4202  Zimbabwe    ZWE  2020            4.977770
4203  Zimbabwe    ZWE  2021            6.139985

########################################################################################
Obtenemos una muestra aleatoria de filas del conjunto de datos con una semilla para obtener el mismo resultado

                   entidad codigo   año  ratio_por_cien_mil
3955  United Arab Emirates    ARE  2019            0.694772
3446             Singapore    SGP  2015            0.247787
2272              Malaysia    MYS  1994            1.715274
1663              Honduras    HND  2009           63.788900
2276              Malaysia    MYS  1998            2.883926

########################################################################################
Identificamos las columnas del conjunto de datos
	 - entidad
	 - codigo
	 - año
	 - ratio_por_cien_mil

########################################################################################
Identificamos el tipo de datos de cada columna
entidad                object
codigo                 object
año                     int64
ratio_por_cien_mil    float64
dtype: object

########################################################################################
Mostramos el total de columnas que hay de cada tipo de datos
object     2
int64      1
float64    1
Name: count, dtype: int64

########################################################################################
Obtenemos información más completa sobre la estructura y el contenido del DataFrame
<class 'pandas.core.frame.DataFrame'>
Index: 4028 entries, 0 to 4203
Data columns (total 4 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   entidad             4028 non-null   object
 1   codigo              4028 non-null   object
 2   año                 4028 non-null   int64
 3   ratio_por_cien_mil  4028 non-null   float64
dtypes: float64(1), int64(1), object(2)
memory usage: 157.3+ KB
None

########################################################################################
Mostramos valores únicos tiene cada columna
entidad                201
codigo                 201
año                     32
ratio_por_cien_mil    3888
dtype: int64

########################################################################################
Estas son las estadísticas descriptivas básicas de todas las columnas:

        entidad codigo          año ratio_por_cien_mil
count      4028   4028       4028.0             4028.0
unique      201    201
top     Germany    DEU
freq         32     32
mean                    2006.430487           8.070061
std                        8.762427          12.272516
min                          1990.0                0.0
25%                          1999.0           1.274714
50%                          2007.0           3.179135
75%                          2014.0           9.409311
max                          2021.0          138.77399

########################################################################################
Observamos los valores nulos en el conjunto de datos
entidad               0
codigo                0
año                   0
ratio_por_cien_mil    0
dtype: int64

########################################################################################
Calculamos el porcentaje de valores nulos en cada columna
entidad               0.0
codigo                0.0
año                   0.0
ratio_por_cien_mil    0.0
dtype: float64

########################################################################################

#### 5.6 DF life_expectancy

In [240]:
exploracion_inicial(df_life_expec)

Calculamos cuántas filas y columnas hay en el conjunto de datos
	Hay 20,755 filas y 4 columnas.

########################################################################################
Mostramos las primeras cinco filas del conjunto de datos

        Entity Code  Year  Period life expectancy at birth - Sex: all - Age: 0
0  Afghanistan  AFG  1950                                            27.7275
1  Afghanistan  AFG  1951                                            27.9634
2  Afghanistan  AFG  1952                                            28.4456
3  Afghanistan  AFG  1953                                            28.9304
4  Afghanistan  AFG  1954                                            29.2258

########################################################################################
Estas son las últimas cinco filas del conjunto de datos:

,Entity,Code,Year,Period life expectancy at birth - Sex: all - Age: 0
20750,Zimbabwe,ZWE,2017,60.7095
20751,Zimbabwe,ZWE,2018,61.4141
20752,Zimbabwe,ZWE,2019,61.2925
20753,Zimbabwe,ZWE,2020,61.1242
20754,Zimbabwe,ZWE,2021,59.2531

########################################################################################
Obtenemos una muestra aleatoria de filas del conjunto de datos con una semilla para obtener el mismo resultado

,Entity,Code,Year,Period life expectancy at birth - Sex: all - Age: 0
9818,Laos,LAO,1989,53.2521
6766,Germany,DEU,1915,40.5200
18091,Switzerland,CHE,1929,60.1400
14044,Norway,NOR,1901,54.5900
18659,Tokelau,TKL,1989,68.8839

########################################################################################
Identificamos las columnas del conjunto de datos
	 - Entity
	 - Code
	 - Year
	 - Period life expectancy at birth - Sex: all - Age: 0

########################################################################################
Identificamos el tipo de datos de cada columna
Entity                                                  object
Code                                                    object
Year                                                     int64
Period life expectancy at birth - Sex: all - Age: 0    float64
dtype: object

########################################################################################
Mostramos el total de columnas que hay de cada tipo de datos
object     2
int64      1
float64    1
Name: count, dtype: int64

########################################################################################
Obtenemos información más completa sobre la estructura y el contenido del DataFrame
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20755 entries, 0 to 20754
Data columns (total 4 columns):
 #   Column                                               Non-Null Count  Dtype
---  ------                                               --------------  -----
 0   Entity                                               20755 non-null  object
 1   Code                                                 19061 non-null  object
 2   Year                                                 20755 non-null  int64
 3   Period life expectancy at birth - Sex: all - Age: 0  20755 non-null  float64
dtypes: float64(1), int64(1), object(2)
memory usage: 648.7+ KB
None

########################################################################################
Mostramos valores únicos tiene cada columna
Entity                                                   261
Code                                                     238
Year                                                     313
Period life expectancy at birth - Sex: all - Age: 0    19676
dtype: int64

########################################################################################
Estas son las estadísticas descriptivas básicas de todas las columnas:

,Entity,Code,Year,Period life expectancy at birth - Sex: all - Age: 0
count,20755,19061,20755.0,20755.0
unique,261,238,,
top,Sweden,SWE,,
freq,271,271,,
mean,,,1975.730234,61.617992
std,,,38.42323,12.917682
min,,,1543.0,11.9951
25%,,,1961.0,52.18585
50%,,,1981.0,64.06
75%,,,2001.0,71.82225
max,,,2021.0,86.5424

########################################################################################
Observamos los valores nulos en el conjunto de datos
Code                                                   1694
Entity                                                    0
Year                                                      0
Period life expectancy at birth - Sex: all - Age: 0       0
dtype: int64

########################################################################################
Calculamos el porcentaje de valores nulos en cada columna
Code                                                   8.16
Entity                                                 0.00
Year                                                   0.00
Period life expectancy at birth - Sex: all - Age: 0    0.00
dtype: float64

########################################################################################

##### 5.6.1 Nulos: identificación y tratamiento

In [241]:
df_life_expec.groupby('Entity')['Code'].apply(lambda x: x.isnull().sum())

Entity
Afghanistan                                                      0
Africa                                                          74
Albania                                                          0
Algeria                                                          0
American Samoa                                                   0
Americas                                                        78
Andorra                                                          0
Angola                                                           0
Anguilla                                                         0
Antigua and Barbuda                                              0
Argentina                                                        0
Armenia                                                          0
Aruba                                                            0
Asia                                                            76
Australia                                                        0
Austria                                                          0
Azerbaijan                                                       0
Bahamas                                                          0
Bahrain                                                          0
Bangladesh                                                       0
Barbados                                                         0
Belarus                                                          0
Belgium                                                          0
Belize                                                           0
Benin                                                            0
Bermuda                                                          0
Bhutan                                                           0
Bolivia                                                          0
Bonaire Sint Eustatius and Saba                                  0
Bosnia and Herzegovina                                           0
Botswana                                                         0
Brazil                                                           0
British Virgin Islands                                           0
Brunei                                                           0
Bulgaria                                                         0
Burkina Faso                                                     0
Burundi                                                          0
Cambodia                                                         0
Cameroon                                                         0
Canada                                                           0
Cape Verde                                                       0
Cayman Islands                                                   0
Central African Republic                                         0
Chad                                                             0
Chile                                                            0
China                                                            0
Colombia                                                         0
Comoros                                                          0
Congo                                                            0
Cook Islands                                                     0
Costa Rica                                                       0
Cote d'Ivoire                                                    0
Croatia                                                          0
Cuba                                                             0
Curacao                                                          0
Cyprus                                                           0
Czechia                                                          0
Democratic Republic of Congo                                     0
Denmark                                                          0
Djibouti                                                         0
Dominica                                                         0
Dominican Republic                                               0
East Timor                                                       0
Ecuador                                                          0
Egypt                                                            0
El Salvador                                                      0
England and Wales                                              109
Equatorial Guinea                                                0
Eritrea                                                          0
Estonia                                                          0
Eswatini                                                         0
Ethiopia                                                         0
Europe                                                          79
Falkland Islands                                                 0
Faroe Islands                                                    0
Fiji                                                             0
Finland                                                          0
France                                                           0
French Guiana                                                    0
French Polynesia                                                 0
Gabon                                                            0
Gambia                                                           0
Georgia                                                          0
Germany                                                          0
Ghana                                                            0
Gibraltar                                                        0
Greece                                                           0
Greenland                                                        0
Grenada                                                          0
Guadeloupe                                                       0
Guam                                                             0
Guatemala                                                        0
Guernsey                                                         0
Guinea                                                           0
Guinea-Bissau                                                    0
Guyana                                                           0
Haiti                                                            0
High-income countries                                           72
Honduras                                                         0
Hong Kong                                                        0
Hungary                                                          0
Iceland                                                          0
India                                                            0
Indonesia                                                        0
Iran                                                             0
Iraq                                                             0
Ireland                                                          0
Isle of Man                                                      0
Israel                                                           0
Italy                                                            0
Jamaica                                                          0
Japan                                                            0
Jersey                                                           0
Jordan                                                           0
Kazakhstan                                                       0
Kenya                                                            0
Kiribati                                                         0
Kosovo                                                           0
Kuwait                                                           0
Kyrgyzstan                                                       0
Land-locked Developing Countries (LLDC)                         72
Laos                                                             0
Latin America and the Caribbean                                 72
Latvia                                                           0
Least developed countries                                       72
Lebanon                                                          0
Lesotho                                                          0
Less developed regions                                          72
Less developed regions, excluding China                         72
Less developed regions, excluding least developed countries     72
Liberia                                                          0
Libya                                                            0
Liechtenstein                                                    0
Lithuania                                                        0
Low-income countries                                            72
Lower-middle-income countries                                   72
Luxembourg                                                       0
Macao                                                            0
Madagascar                                                       0
Malawi                                                           0
Malaysia                                                         0
Maldives                                                         0
Mali                                                             0
Malta                                                            0
Marshall Islands                                                 0
Martinique                                                       0
Mauritania                                                       0
Mauritius                                                        0
Mayotte                                                          0
Mexico                                                           0
Micronesia (country)                                             0
Middle-income countries                                         72
Moldova                                                          0
Monaco                                                           0
Mongolia                                                         0
Montenegro                                                       0
Montserrat                                                       0
More developed regions                                          72
Morocco                                                          0
Mozambique                                                       0
Myanmar                                                          0
Namibia                                                          0
Nauru                                                            0
Nepal                                                            0
Netherlands                                                      0
New Caledonia                                                    0
New Zealand                                                      0
Nicaragua                                                        0
Niger                                                            0
Nigeria                                                          0
Niue                                                             0
No income group available                                       72
North Korea                                                      0
North Macedonia                                                  0
Northern America                                                72
Northern Ireland                                                28
Northern Mariana Islands                                         0
Norway                                                           0
Oceania                                                         75
Oman                                                             0
Pakistan                                                         0
Palau                                                            0
Palestine                                                        0
Panama                                                           0
Papua New Guinea                                                 0
Paraguay                                                         0
Peru                                                             0
Philippines                                                      0
Poland                                                           0
Portugal                                                         0
Puerto Rico                                                      0
Qatar                                                            0
Reunion                                                          0
Romania                                                          0
Russia                                                           0
Rwanda                                                           0
Saint Barthelemy                                                 0
Saint Helena                                                     0
Saint Kitts and Nevis                                            0
Saint Lucia                                                      0
Saint Martin (French part)                                       0
Saint Pierre and Miquelon                                        0
Saint Vincent and the Grenadines                                 0
Samoa                                                            0
San Marino                                                       0
Sao Tome and Principe                                            0
Saudi Arabia                                                     0
Scotland                                                        95
Senegal                                                          0
Serbia                                                           0
Seychelles                                                       0
Sierra Leone                                                     0
Singapore                                                        0
Sint Maarten (Dutch part)                                        0
Slovakia                                                         0
Slovenia                                                         0
Small Island Developing States (SIDS)                           72
Solomon Islands                                                  0
Somalia                                                          0
South Africa                                                     0
South Korea                                                      0
South Sudan                                                      0
Spain                                                            0
Sri Lanka                                                        0
Sudan                                                            0
Suriname                                                         0
Sweden                                                           0
Switzerland                                                      0
Syria                                                            0
Taiwan                                                           0
Tajikistan                                                       0
Tanzania                                                         0
Thailand                                                         0
Togo                                                             0
Tokelau                                                          0
Tonga                                                            0
Trinidad and Tobago                                              0
Tunisia                                                          0
Turkey                                                           0
Turkmenistan                                                     0
Turks and Caicos Islands                                         0
Tuvalu                                                           0
USSR                                                             0
Uganda                                                           0
Ukraine                                                          0
United Arab Emirates                                             0
United Kingdom                                                   0
United States                                                    0
United States Virgin Islands                                     0
Upper-middle-income countries                                   72
Uruguay                                                          0
Uzbekistan                                                       0
Vanuatu                                                          0
Venezuela                                                        0
Vietnam                                                          0
Wallis and Futuna                                                0
Western Sahara                                                   0
World                                                            0
Yemen                                                            0
Zambia                                                           0
Zimbabwe                                                         0
Name: Code, dtype: int64

Siguiendo el mismo razonamiento que con los demás DataSets, procedemos a separar el DataFrame en dos (paises y regiones/continentes)

In [242]:
# Creamos el DataFrame de paises
df_life_expec_paises = df_life_expec[df_life_expec['Code'].notnull()]

In [243]:
# Comprobamos que no haya cogido nulos en la columna 'Code' 
df_life_expec_paises.isnull().sum()

Entity                                                 0
Code                                                   0
Year                                                   0
Period life expectancy at birth - Sex: all - Age: 0    0
dtype: int64

In [244]:
# Creamos el DataFrame de regiones
df_life_expec_regiones = df_life_expec[df_life_expec['Code'].isnull()]

In [245]:
# Comprobamos que haya cogido todos nulos en la columna 'Code' 
df_life_expec_regiones.isnull().sum()

Entity                                                    0
Code                                                   1694
Year                                                      0
Period life expectancy at birth - Sex: all - Age: 0       0
dtype: int64

In [246]:
# Comprobamos el tamaño del df original
len(df_life_expec)

20755

In [247]:
# Comprobamos el tamaño del df de paises
len(df_life_expec_paises)

19061

In [248]:
# Comprobamos el tamaño del df de regiones
len(df_life_expec_regiones)

1694

In [249]:
# Comprobamos que el tamaño de nuestro df original es igual a la suma del total de los df de paises y regiones
len(df_life_expec) == len(df_life_expec_paises) + len(df_life_expec_regiones)

True

##### 5.6.2 Normalización del nombre de las columnas

In [250]:
mapeo_life_expentancy = {
	"Entity": "entidad",
	"Code": "codigo",
	"Year": "año",
	"Period life expectancy at birth - Sex: all - Age: 0": "periodo_espe_vida_nacim"
}

In [251]:
df_life_expec_paises = renombrar_columnas(df_life_expec_paises, mapeo_life_expentancy)
df_life_expec_regiones = renombrar_columnas(df_life_expec_regiones, mapeo_life_expentancy)

In [252]:
df_life_expec_paises.columns

Index(['entidad', 'codigo', 'año', 'periodo_espe_vida_nacim'], dtype='object')

In [253]:
df_life_expec_regiones.columns

Index(['entidad', 'codigo', 'año', 'periodo_espe_vida_nacim'], dtype='object')

##### 5.6.3 Análisis exploratorio df_life_expec_paises

In [254]:
exploracion_inicial(df_life_expec_paises)

Calculamos cuántas filas y columnas hay en el conjunto de datos
	Hay 19,061 filas y 4 columnas.

########################################################################################
Mostramos las primeras cinco filas del conjunto de datos

       entidad codigo   año  periodo_espe_vida_nacim
0  Afghanistan    AFG  1950                  27.7275
1  Afghanistan    AFG  1951                  27.9634
2  Afghanistan    AFG  1952                  28.4456
3  Afghanistan    AFG  1953                  28.9304
4  Afghanistan    AFG  1954                  29.2258

########################################################################################
Estas son las últimas cinco filas del conjunto de datos:

        entidad codigo   año  periodo_espe_vida_nacim
20750  Zimbabwe    ZWE  2017                  60.7095
20751  Zimbabwe    ZWE  2018                  61.4141
20752  Zimbabwe    ZWE  2019                  61.2925
20753  Zimbabwe    ZWE  2020                  61.1242
20754  Zimbabwe    ZWE  2021                  59.2531

########################################################################################
Obtenemos una muestra aleatoria de filas del conjunto de datos con una semilla para obtener el mismo resultado

          entidad codigo   año  periodo_espe_vida_nacim
18195       Syria    SYR  1961                  54.4367
8432         Iran    IRN  2010                  73.0691
3138   Cape Verde    CPV  1963                  50.8943
15137       Qatar    QAT  1958                  57.5456
1318      Bahamas    BHS  1971                  66.1507

########################################################################################
Identificamos las columnas del conjunto de datos
	 - entidad
	 - codigo
	 - año
	 - periodo_espe_vida_nacim

########################################################################################
Identificamos el tipo de datos de cada columna
entidad                     object
codigo                      object
año                          int64
periodo_espe_vida_nacim    float64
dtype: object

########################################################################################
Mostramos el total de columnas que hay de cada tipo de datos
object     2
int64      1
float64    1
Name: count, dtype: int64

########################################################################################
Obtenemos información más completa sobre la estructura y el contenido del DataFrame
<class 'pandas.core.frame.DataFrame'>
Index: 19061 entries, 0 to 20754
Data columns (total 4 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   entidad                  19061 non-null  object
 1   codigo                   19061 non-null  object
 2   año                      19061 non-null  int64
 3   periodo_espe_vida_nacim  19061 non-null  float64
dtypes: float64(1), int64(1), object(2)
memory usage: 744.6+ KB
None

########################################################################################
Mostramos valores únicos tiene cada columna
entidad                      238
codigo                       238
año                          313
periodo_espe_vida_nacim    18168
dtype: int64

########################################################################################
Estas son las estadísticas descriptivas básicas de todas las columnas:

       entidad codigo        año periodo_espe_vida_nacim
count    19061  19061    19061.0                 19061.0
unique     238    238
top     Sweden    SWE
freq       271    271
mean                   1976.0149               61.739615
std                    38.372912               13.016419
min                       1543.0                 11.9951
25%                       1961.0                 52.4685
50%                       1981.0                 64.3194
75%                       2001.0                 71.9678
max                       2021.0                 86.5424

########################################################################################
Observamos los valores nulos en el conjunto de datos
entidad                    0
codigo                     0
año                        0
periodo_espe_vida_nacim    0
dtype: int64

########################################################################################
Calculamos el porcentaje de valores nulos en cada columna
entidad                    0.0
codigo                     0.0
año                        0.0
periodo_espe_vida_nacim    0.0
dtype: float64

########################################################################################

#### 5.7 DF poverty

In [255]:
exploracion_inicial(df_poverty)

Calculamos cuántas filas y columnas hay en el conjunto de datos
	Hay 2,602 filas y 109 columnas.

########################################################################################
Mostramos las primeras cinco filas del conjunto de datos

,Country,Year,Share below $1 a day,Share below $2.15 a day,Share below $3.65 a day,Share below $6.85 a day,Share below $10 a day,Share below $20 a day,Share below $30 a day,Share below $40 a day,Number below $1 a day,Number below $2.15 a day,Number below $3.65 a day,Number below $6.85 a day,Number below $10 a day,Number below $20 a day,Number below $30 a day,Number below $40 a day,40% of median - share of population below poverty line,50% of median - share of population below poverty line,60% of median - share of population below poverty line,40% of median - total number of people below poverty line,50% of median - total number of people below poverty line,60% of median - total number of people below poverty line,Mean income or consumption per day,Median income or consumption per day,Threshold income or consumption per day marking the poorest decile,Threshold income or consumption per day marking the richest decile,mld,gini,polarization,decile1_share,decile2_share,decile3_share,decile4_share,decile5_share,decile6_share,decile7_share,decile8_share,decile9_share,decile10_share,decile2_thr,decile3_thr,decile4_thr,decile5_thr,decile6_thr,decile7_thr,decile8_thr,income_gap_ratio_40_median,income_gap_ratio_50_median,income_gap_ratio_60_median,poverty_gap_index_40_median,poverty_gap_index_50_median,poverty_gap_index_60_median,avg_shortfall_40_median,avg_shortfall_50_median,avg_shortfall_60_median,total_shortfall_40_median,total_shortfall_50_median,total_shortfall_60_median,income_gap_ratio_100,income_gap_ratio_1000,income_gap_ratio_2000,income_gap_ratio_215,income_gap_ratio_3000,income_gap_ratio_365,income_gap_ratio_4000,income_gap_ratio_685,poverty_gap_index_100,poverty_gap_index_1000,poverty_gap_index_2000,poverty_gap_index_215,poverty_gap_index_3000,poverty_gap_index_365,poverty_gap_index_4000,poverty_gap_index_685,avg_shortfall_100,avg_shortfall_1000,avg_shortfall_2000,avg_shortfall_215,avg_shortfall_3000,avg_shortfall_365,avg_shortfall_4000,avg_shortfall_685,total_shortfall_100,total_shortfall_1000,total_shortfall_2000,total_shortfall_215,total_shortfall_3000,total_shortfall_365,total_shortfall_4000,total_shortfall_685,decile1_avg,decile2_avg,decile3_avg,decile4_avg,decile5_avg,decile6_avg,decile7_avg,decile8_avg,decile9_avg,decile10_avg,bottom50_share,middle40_share,palma_ratio,s80_s20_ratio,p90_p10_ratio,p90_p50_ratio,p50_p10_ratio
0,Albania,1996,0.057416,0.534846,8.898443,47.879143,75.623880,98.702095,99.89742,99.951650,1819,16944,281906,1516827,2395790,3126915,3164783,3166501,2.768821,7.548123,14.802514,87717,239127,468949,7.933157,6.972103,3.691232,13.164797,0.119104,0.270103,0.241293,3.863286,5.289347,6.378684,7.322042,8.379662,9.354903,10.823087,12.473869,14.899548,21.215572,4.687306,5.399629,6.228325,6.971433,8.039671,9.178580,10.682603,14.954244,17.344930,19.693201,0.414055,1.309217,2.915092,0.417050,0.604653,0.823818,36582.383,144588.90,386328.72,3.924362,38.960340,61.430424,18.363249,73.68916,18.084910,80.22638,28.927036,0.002253,29.463327,60.633118,0.098215,73.61356,1.609277,80.187584,13.850017,0.039244,3.896034,12.286085,0.394810,22.106749,0.660099,32.090553,1.981502,71.384155,9334079.0,38417544.0,6689.6580,69963064.0,186085.92,101614760.0,3005595.8,3.064805,4.196122,5.060310,5.808691,6.647718,7.421392,8.586125,9.895717,11.820045,16.830648,31.233019,47.551407,0.928335,3.945872,3.566505,1.888392,1.888647
1,Albania,2002,0.046371,1.092647,11.388324,52.090965,76.705050,96.528860,98.94813,99.762024,1415,33337,347459,1589301,2340279,2945105,3018917,3043749,3.212283,8.406373,16.020554,98007,256479,488789,8.108229,6.688141,3.501889,13.990763,0.164812,0.317390,0.268982,3.494002,4.859444,5.842059,6.738204,7.653102,8.839459,10.228584,11.984428,14.925079,25.435638,4.370816,5.093828,5.858262,6.687111,7.662466,8.913951,10.652152,17.543550,18.595226,20.580732,0.563548,1.563182,3.297149,0.469335,0.621838,0.825881,45998.117,159488.27,403681.56,43.873215,41.387882,63.137640,17.337124,74.09592,19.966413,80.05450,31.078033,0.020348,31.746600,60.946040,0.189435,73.31651,2.273840,79.863976,16.188852,0.438732,4.138788,12.627528,0.372748,22.228775,0.728774,32.021797,2.128845,620.805970,9685919.0,37189396.0,12426.3060,67106824.0,253219.12,97466320.0,3383376.0,2.833017,3.940148,4.736875,5.463489,6.205310,7.167236,8.293570,9.717249,12.101596,20.623796,28.586811,45.977550,1.215056,4.831625,3.995204,2.092198,1.909572
2,Albania,2005,0.000000,0.591086,7.289305,40.428430,68.453090,95.405670,98.85736,99.546940,0,17800,219516,1217497,2061456,2873129,2977077,2997843,4.095002,8.991532,16.675770,123320,270779,502189,9.165975,7.799791,3.983527,15.433521,0.154413,0.305957,0.254529,3.482536,4.920109,5.977283,6.921183,7.988159,9.037068,10.372144,12.126408,14.833943,24.341167,5.039332,5.949700,6.793219,7.796200,8.827788,10.280450,12.068591,16.876627,20.329166,21.973644,0.691096,1.827905,3.664277,0.526537,0.792816,1.028339,64932.500,214678.00,516420.56,NaN,37.084915,58.724280,15.179814,70.71589,19.209354,77.61802,28.443775,0.000000,25.385770,56.026287,0.089723,69.90787,1.400225,77.266360,11.499372,NaN,3.708491,11.744856,0.326366,21.214766,0.701141,31.047207,1.948399,0.000000,7644891.5,33744490.0,5809.3154,63157990.0,153911.77,93074660.0,2372169.5,3.192084,4.509759,5.478762,6.343938,7.321926,8.283354,9.507081,11.115035,13.596755,22.311052,29.289268,46.369564,1.142718,4.662236,3.874336,1.979621,1.957110
3,Albania,2008,0.000000,0.199925,3.902613,33.431850,62.768870,94.582830,98.50923,99.344450,0,5892,115022,985342,1849996,2787653,2903376,2927993,2.118535,7.227715,14.137155,62440,213023,416666,10.038169,8.400200,4.598464,16.435902,0.148893,0.299847,0.247311,3.733625,5.136781,6.088472,6.983584,7.912078,8.924132,10.298735,11.929075,14.535205,24.458311,5.667837,6.554397,7.485383,8.395616,9.562263,11.150203,12.968081,15.433302,16.522570,19.235218,0.326960,1.194202,2.719310,0.518571,0.693964,0.969478,32379.590,147830.39,403948.53,NaN,33.673496,55.581460,19.829390,68.46280,13.493116,75.83295,24.404856,0.000000,21.136477,52.570515,0.039641,67.44217,0.526583,75.335830,8.158998,NaN,3.367350,11.116292,0.426332,20.538840,0.492499,30.333180,1.671733,0.000000,6229583.0,30988364.0,2511.9475,59631972.0,56648.19,88815336.0,1647228.4,3.747876,5.156388,6.111711,7.010240,7.942278,8.958195,10.338044,11.974607,14.590684,24.551666,29.854542,45.687150,1.114657,4.395911,3.574216,1.957677,1.825743
4,Albania,2012,0.024101,0.620691,4.805442,36.667750,65.062386,95.520160,99.07353,99.742485,699,18003,139377,1063512,1887070,2770468,2873530,2892932,3.510522,7.753112,14.795234,101819,224871,429121,9.517231,8.240385,4.410012,16.009024,0.138417,0.289605,0.249988,3.659527,5.193095,6.143644,7.030725,8.083832,9.256943,10.515455,12.293301,14.889137,22.934340,5.427883,6.244149,7.160211,8.240385,9.336886,10.757146,12.696908,19.908410,20.938734,21.696527,0.698888,1.623401,3.210051,0.656212,0.862716,1.072726,66814.836,193999.86,460329.44,16.883530,34.893830,56.502230,21.087643,69.22244,21.463728,76.50663,25.827150,0.004069,22.702759,53.971027,0.130893,68.58113,1.031426,76.309616,9.470237,0.168835,3.489383,11.300446,0.453384,20.766733,0.783426,30.602654,1.769160,118.015870,6584710.0,31307524.0,8162.2783,59673830.0,109191.58,88531390.0,1881522.8,3.482856,4.942388,5.847048,6.691304,7.693570,8.810046,10.007802,11.699819,14.170336,21.827140,30.110823,46.954838,1.041193,4.272574,3.630154,1.942752,1.868563

########################################################################################
Estas son las últimas cinco filas del conjunto de datos:

,Country,Year,Share below $1 a day,Share below $2.15 a day,Share below $3.65 a day,Share below $6.85 a day,Share below $10 a day,Share below $20 a day,Share below $30 a day,Share below $40 a day,Number below $1 a day,Number below $2.15 a day,Number below $3.65 a day,Number below $6.85 a day,Number below $10 a day,Number below $20 a day,Number below $30 a day,Number below $40 a day,40% of median - share of population below poverty line,50% of median - share of population below poverty line,60% of median - share of population below poverty line,40% of median - total number of people below poverty line,50% of median - total number of people below poverty line,60% of median - total number of people below poverty line,Mean income or consumption per day,Median income or consumption per day,Threshold income or consumption per day marking the poorest decile,Threshold income or consumption per day marking the richest decile,mld,gini,polarization,decile1_share,decile2_share,decile3_share,decile4_share,decile5_share,decile6_share,decile7_share,decile8_share,decile9_share,decile10_share,decile2_thr,decile3_thr,decile4_thr,decile5_thr,decile6_thr,decile7_thr,decile8_thr,income_gap_ratio_40_median,income_gap_ratio_50_median,income_gap_ratio_60_median,poverty_gap_index_40_median,poverty_gap_index_50_median,poverty_gap_index_60_median,avg_shortfall_40_median,avg_shortfall_50_median,avg_shortfall_60_median,total_shortfall_40_median,total_shortfall_50_median,total_shortfall_60_median,income_gap_ratio_100,income_gap_ratio_1000,income_gap_ratio_2000,income_gap_ratio_215,income_gap_ratio_3000,income_gap_ratio_365,income_gap_ratio_4000,income_gap_ratio_685,poverty_gap_index_100,poverty_gap_index_1000,poverty_gap_index_2000,poverty_gap_index_215,poverty_gap_index_3000,poverty_gap_index_365,poverty_gap_index_4000,poverty_gap_index_685,avg_shortfall_100,avg_shortfall_1000,avg_shortfall_2000,avg_shortfall_215,avg_shortfall_3000,avg_shortfall_365,avg_shortfall_4000,avg_shortfall_685,total_shortfall_100,total_shortfall_1000,total_shortfall_2000,total_shortfall_215,total_shortfall_3000,total_shortfall_365,total_shortfall_4000,total_shortfall_685,decile1_avg,decile2_avg,decile3_avg,decile4_avg,decile5_avg,decile6_avg,decile7_avg,decile8_avg,decile9_avg,decile10_avg,bottom50_share,middle40_share,palma_ratio,s80_s20_ratio,p90_p10_ratio,p90_p50_ratio,p50_p10_ratio
2597,Zambia,2010,30.247530,64.401900,80.831720,92.508110,96.16853,99.148600,99.77003,99.913720,4171765,8882366,11148380,12758799,13263646,13674660,13760368,13780186,12.615243,19.586287,26.600600,1739905,2701357,3668778,2.679826,1.537594,0.559508,5.662489,0.469205,0.520347,0.506976,1.576070,2.497485,3.303468,4.156247,5.181136,6.387320,8.223334,11.181705,16.458324,41.034912,0.776747,0.995462,1.245412,1.537550,1.921156,2.539248,3.537601,26.261284,29.739298,32.492012,3.312925,5.824823,8.643070,0.161517,0.228635,0.299757,281023.80,617624.20,1099742.2,33.827717,78.844220,87.704820,48.815765,91.368020,60.376484,93.412360,72.604210,10.232048,75.823330,86.958100,31.438282,91.15790,48.803350,93.331760,67.164790,0.338277,7.884423,17.540964,1.049539,27.410406,2.203742,37.364944,4.973388,1.411213e+06,104576190.0,239866720.0,9322389.0,377177280.0,24568150.0,514895870.0,63454460.0,0.422359,0.669283,0.885272,1.113802,1.388454,1.711691,2.203711,2.996503,4.410545,10.996644,16.714405,42.250683,3.557960,14.113775,10.120482,3.682800,2.748041
2598,Zambia,2015,32.625584,60.793095,78.000960,91.015350,95.33152,98.915600,99.54561,99.777664,5301080,9877802,12673776,14788384,15489685,16072035,16174400,16212104,17.311310,24.430954,31.159517,2812781,3969598,5062870,2.974416,1.608135,0.481885,6.340823,0.573705,0.559366,0.583935,1.095506,1.980309,2.744343,3.585803,4.745077,6.173933,8.224388,11.162382,16.834280,43.453980,0.699024,0.936683,1.224572,1.608135,2.096319,2.830682,3.988742,33.609627,36.210403,38.447887,5.818266,8.846548,11.980175,0.216195,0.291156,0.370976,608109.90,1155772.40,1878204.6,39.163370,77.923294,86.891860,52.458780,90.807820,61.186905,92.922620,71.948290,12.777278,74.285470,85.949615,31.891315,90.39520,47.726376,92.716020,65.483986,0.391634,7.792330,17.378372,1.127864,27.242346,2.233322,37.169050,4.928458,2.076082e+06,120700740.0,279305820.0,11140815.0,440628600.0,28304624.0,602588500.0,72883920.0,0.325849,0.589026,0.816282,1.066567,1.411383,1.836384,2.446275,3.320157,5.007214,12.925020,14.151038,42.394980,4.619834,19.600744,13.158383,3.942967,3.337178
2599,Zimbabwe,2011,0.351729,21.580063,47.857143,77.945114,88.90532,97.352370,98.95621,99.509186,45815,2810973,6233769,10152963,11580615,12680910,12889822,12961853,8.894941,16.705880,24.158878,1158636,2176072,3146884,5.459878,3.798868,1.588000,10.548965,0.311153,0.431536,0.388356,2.476378,3.348104,4.257510,5.240055,6.345925,7.656279,9.322751,11.688535,15.834337,33.830128,2.071420,2.584207,3.148770,3.798868,4.592578,5.646643,7.254873,15.645701,22.009342,25.842709,1.391676,3.676854,6.243309,0.237744,0.418053,0.589038,275458.56,909713.30,1853635.1,5.803153,60.627850,76.211784,24.271366,83.102190,36.841347,86.920906,51.239730,0.020411,53.901380,74.193970,5.237777,82.23477,17.631216,86.494286,39.938866,0.058032,6.062785,15.242356,0.521834,24.930656,1.344709,34.768360,3.509922,2.658715e+03,70210776.0,193286940.0,1466862.4,321351740.0,8382606.0,450662370.0,35636104.0,1.352072,1.828024,2.324548,2.861006,3.464798,4.180234,5.090108,6.381797,8.645355,18.470837,21.667973,44.501904,2.207938,8.526847,6.642927,2.776870,2.392235
2600,Zimbabwe,2017,2.398895,34.206043,61.583572,84.109024,92.46122,98.468330,99.41265,99.762436,353863,5045768,9084255,12407007,13639047,14525163,14664460,14716057,5.165873,12.817295,21.430004,762023,1890692,3161161,4.409205,2.874558,1.344131,8.813227,0.322848,0.443371,0.416694,2.537848,3.426494,4.161038,4.960166,5.955153,7.215983,8.979336,11.652298,16.303904,34.807780,1.672741,1.998625,2.387665,2.874430,3.508780,4.468788,5.960191,13.406225,18.119946,22.066940,0.692548,2.322487,4.728945,0.154148,0.260434,0.380596,117464.23,492400.75,1203125.8,10.575388,66.415580,80.149086,27.429125,86.144936,42.049515,89.336270,58.033684,0.253692,61.408650,78.921470,9.382419,85.63896,25.895592,89.124040,48.811565,0.105754,6.641558,16.029818,0.589726,25.843481,1.534807,35.734512,3.975307,3.742239e+04,90584520.0,232835710.0,2975621.8,378980700.0,13942581.0,525871100.0,49321664.0,1.118989,1.510812,1.834687,2.187039,2.625749,3.181675,3.959173,5.137737,7.188726,15.347464,21.040699,44.151520,2.307360,8.569543,6.556821,3.066078,2.138504
2601,Zimbabwe,2019,7.359053,39.754530,64.509860,85.016320,91.42378,97.476456,98.79906,99.511925,1129954,6104153,9905236,13053922,14037763,14967128,15170208,15279665,8.944666,16.837408,24.605364,1373418,2585318,3778057,4.500192,2.654817,1.098945,9.024824,0.427862,0.502564,0.463899,1.930185,2.831500,3.571343,4.363650,5.342634,6.591888,8.280308,10.867645,15.595296,40.625550,1.434020,1.767992,2.162820,2.652481,3.308733,4.194235,5.714849,20.747408,24.116623,27.569720,1.855786,4.060614,6.783630,0.220322,0.320126,0.439155,302594.62,827627.75,1659154.4,20.102318,69.369410,81.440690,33.946400,86.736030,46.369970,89.496290,60.907574,1.479341,63.420135,79.385500,13.495234,85.69438,29.913202,89.059480,51.781376,0.201023,6.936941,16.288137,0.729848,26.020810,1.692504,35.798515,4.172169,2.271470e+05,97379130.0,243786660.0,4455101.5,394741100.0,16764651.0,546989400.0,54463164.0,0.868620,1.274229,1.607173,1.963726,2.404288,2.966476,3.726297,4.890649,7.018182,18.282276,18.039312,41.335136,3.199699,11.806920,8.212260,3.402409,2.413660

########################################################################################
Obtenemos una muestra aleatoria de filas del conjunto de datos con una semilla para obtener el mismo resultado

,Country,Year,Share below $1 a day,Share below $2.15 a day,Share below $3.65 a day,Share below $6.85 a day,Share below $10 a day,Share below $20 a day,Share below $30 a day,Share below $40 a day,Number below $1 a day,Number below $2.15 a day,Number below $3.65 a day,Number below $6.85 a day,Number below $10 a day,Number below $20 a day,Number below $30 a day,Number below $40 a day,40% of median - share of population below poverty line,50% of median - share of population below poverty line,60% of median - share of population below poverty line,40% of median - total number of people below poverty line,50% of median - total number of people below poverty line,60% of median - total number of people below poverty line,Mean income or consumption per day,Median income or consumption per day,Threshold income or consumption per day marking the poorest decile,Threshold income or consumption per day marking the richest decile,mld,gini,polarization,decile1_share,decile2_share,decile3_share,decile4_share,decile5_share,decile6_share,decile7_share,decile8_share,decile9_share,decile10_share,decile2_thr,decile3_thr,decile4_thr,decile5_thr,decile6_thr,decile7_thr,decile8_thr,income_gap_ratio_40_median,income_gap_ratio_50_median,income_gap_ratio_60_median,poverty_gap_index_40_median,poverty_gap_index_50_median,poverty_gap_index_60_median,avg_shortfall_40_median,avg_shortfall_50_median,avg_shortfall_60_median,total_shortfall_40_median,total_shortfall_50_median,total_shortfall_60_median,income_gap_ratio_100,income_gap_ratio_1000,income_gap_ratio_2000,income_gap_ratio_215,income_gap_ratio_3000,income_gap_ratio_365,income_gap_ratio_4000,income_gap_ratio_685,poverty_gap_index_100,poverty_gap_index_1000,poverty_gap_index_2000,poverty_gap_index_215,poverty_gap_index_3000,poverty_gap_index_365,poverty_gap_index_4000,poverty_gap_index_685,avg_shortfall_100,avg_shortfall_1000,avg_shortfall_2000,avg_shortfall_215,avg_shortfall_3000,avg_shortfall_365,avg_shortfall_4000,avg_shortfall_685,total_shortfall_100,total_shortfall_1000,total_shortfall_2000,total_shortfall_215,total_shortfall_3000,total_shortfall_365,total_shortfall_4000,total_shortfall_685,decile1_avg,decile2_avg,decile3_avg,decile4_avg,decile5_avg,decile6_avg,decile7_avg,decile8_avg,decile9_avg,decile10_avg,bottom50_share,middle40_share,palma_ratio,s80_s20_ratio,p90_p10_ratio,p90_p50_ratio,p50_p10_ratio
2311,Turkey,2011,0.000000,0.129527,4.036242,15.869498,31.700876,70.597580,86.245926,92.283510,0,96075,2993836,11771018,23513762,52364944,63971926,68450232,10.022988,15.972153,22.711334,7434437,11847161,16845871,18.282196,13.753508,5.494448,35.577095,0.273933,0.400394,0.353957,2.161509,3.634616,4.760217,5.831634,6.936602,8.252860,9.876573,12.056808,15.989503,30.499676,7.733631,9.692958,11.662127,13.753508,16.477684,19.766932,24.693274,28.086416,30.336224,31.903315,2.815098,4.845347,7.245668,1.545147,2.086147,2.632695,1.148730e+07,2.471492e+07,4.435004e+07,NaN,33.836807,45.483180,6.651098,55.638350,19.329860,63.248110,30.226927,0.000000,10.726564,32.110023,0.008615,47.985810,0.780200,58.367573,4.796862,NaN,3.383681,9.096636,0.142999,16.691505,0.705540,25.299244,2.070545,0.000000e+00,7.956306e+07,476344830.0,1.373859e+04,1.067788e+09,2.112271e+06,1.731739e+09,2.437242e+07,3.951713,6.644877,8.702723,10.661508,12.681632,15.088040,18.056543,22.042494,29.232323,55.760105,23.324580,46.175743,1.861101,8.020734,6.475100,2.586765,2.503165
739,El Salvador,2022,1.095242,3.363398,8.641822,27.488310,47.755585,83.454690,93.958540,97.291145,69399,213118,547580,1741767,3025981,5288016,5953581,6164749,10.955564,16.884626,23.329437,694187,1069876,1478245,13.102627,10.355628,3.931199,24.750977,0.275570,0.387576,0.339251,1.922395,3.700410,4.940531,6.081607,7.277225,8.624167,10.254022,12.421603,16.064219,28.713820,5.668820,7.237759,8.707098,10.355628,12.272095,14.711949,18.265757,35.963257,35.171738,35.512530,3.939976,5.938616,8.284876,1.489688,1.821127,2.206527,1.034122e+06,1.948380e+06,3.261788e+06,43.248700,39.149757,52.701168,39.952580,63.067577,36.473736,70.337950,35.908554,0.473679,18.696196,43.981594,1.343764,59.257370,3.151997,68.432600,9.870654,0.432487,3.914976,10.540234,0.858981,18.920273,1.331291,28.135180,2.459736,3.001416e+04,1.184664e+07,55736924.0,1.830642e+05,1.126434e+08,7.289885e+05,1.734463e+08,4.284287e+06,2.518842,4.848509,6.473393,7.968503,9.535076,11.299924,13.435462,16.275562,21.048347,37.622646,23.922169,47.364010,1.725078,7.963648,6.296037,2.390099,2.634216
1532,Mauritania,2014,0.536999,6.490837,26.218065,66.763600,86.864784,98.463370,99.615880,99.912970,20638,249454,1007606,2565841,3338365,3784119,3828412,3839829,6.286825,12.111899,19.282890,241614,465481,741075,6.306489,5.300380,2.492385,10.988137,0.179774,0.326194,0.283888,2.982280,4.552164,5.660819,6.705316,7.828962,9.061687,10.578760,12.444495,15.255912,24.929604,3.226579,3.893699,4.591895,5.300380,6.159264,7.222618,8.563583,23.718533,24.524748,26.254852,1.491145,2.970410,5.062694,0.502869,0.649952,0.834964,1.215002e+05,3.025405e+05,6.187711e+05,12.869179,49.277470,70.098990,24.024250,79.387566,27.947206,84.338490,39.652897,0.069108,42.804768,69.021835,1.559374,79.082634,7.327218,84.265090,26.473698,0.128692,4.927747,14.019799,0.516521,23.816270,1.020073,33.735397,2.716223,2.655941e+03,1.645062e+07,53052588.0,1.288483e+05,9.117850e+07,1.027832e+06,1.295382e+08,6.969398e+06,1.880772,2.870817,3.569989,4.228700,4.937326,5.714743,6.671483,7.848107,9.621123,15.721827,27.729542,47.340855,1.252708,5.333574,4.408683,2.073085,2.126630
1760,Other high income countries (PIP),2011,0.384760,0.556298,0.794767,1.472881,2.605169,10.373419,25.342750,42.046947,4072173,5887684,8411557,15588502,27572277,109788939,268219549,445011403,8.128109,13.744010,20.491032,86025299,145462197,216870518,57.112988,45.100000,19.700000,103.700000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,26.800000,32.800000,38.700000,45.100000,52.900000,62.900000,77.200000,34.769875,32.229460,31.903126,2.826133,4.429621,6.537280,6.272486,7.267743,8.632986,5.395924e+08,1.057182e+09,1.872240e+09,85.232290,44.792000,33.314310,74.334440,32.096115,65.605804,34.545162,53.837320,0.327939,1.166907,3.455833,0.413521,8.134039,0.521413,14.525186,0.792960,0.852323,4.479200,6.662861,1.598191,9.628835,2.394612,13.818065,3.687856,3.470806e+06,1.235017e+08,731508500.0,9.409641e+06,2.582642e+09,2.014241e+07,6.149196e+09,5.748816e+07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.263959,2.299335,2.289340
534,Cyprus,2014,0.065916,0.078330,0.158719,0.375708,1.582870,14.607862,39.781030,59.579820,776,922,1868,4422,18630,171934,468221,701251,5.112504,9.735535,16.420982,60174,114587,193274,44.252575,34.830708,17.464914,76.326620,0.214212,0.355657,0.281590,3.018273,4.534668,5.468464,6.322517,7.332811,8.438074,9.772739,11.509674,14.772935,28.829844,22.241210,26.009210,30.141596,34.817383,40.270477,46.397186,56.081055,21.833422,23.962320,25.031168,1.116236,2.332865,4.110361,3.041894,4.173123,5.231120,1.830429e+05,4.781857e+05,1.011040e+06,73.556230,21.486546,24.626760,74.696720,28.824755,50.948090,35.504246,42.012226,0.048496,0.340099,3.597447,0.058514,11.466791,0.080859,21.153350,0.157841,0.735562,2.148655,4.925352,1.605979,8.647427,1.859605,14.201698,2.877837,5.707964e+02,4.002943e+04,846835.5,1.480713e+03,4.048906e+06,3.473743e+03,9.958955e+06,1.272580e+04,13.356637,20.067072,24.199360,27.978767,32.449577,37.340652,43.246887,50.933270,65.374040,127.579475,26.676733,44.493423,1.490382,5.772953,4.370283,2.192199,1.993562

########################################################################################
Identificamos las columnas del conjunto de datos
	 - Country
	 - Year
	 - Share below $1 a day
	 - Share below $2.15 a day
	 - Share below $3.65 a day
	 - Share below $6.85 a day
	 - Share below $10 a day
	 - Share below $20 a day
	 - Share below $30 a day
	 - Share below $40 a day
	 - Number below $1 a day
	 - Number below $2.15 a day
	 - Number below $3.65 a day
	 - Number below $6.85 a day
	 - Number below $10 a day
	 - Number below $20 a day
	 - Number below $30 a day
	 - Number below $40 a day
	 - 40% of median - share of population below poverty line
	 - 50% of median - share of population below poverty line
	 - 60% of median - share of population below poverty line
	 - 40% of median - total number of people below poverty line
	 - 50% of median - total number of people below poverty line
	 - 60% of median - total number of people below poverty line
	 - Mean income or consumption per day
	 - Median income or consumption per day
	 - Threshold income or consumption per day marking the poorest decile
	 - Threshold income or consumption per day marking the richest decile
	 - mld
	 - gini
	 - polarization
	 - decile1_share
	 - decile2_share
	 - decile3_share
	 - decile4_share
	 - decile5_share
	 - decile6_share
	 - decile7_share
	 - decile8_share
	 - decile9_share
	 - decile10_share
	 - decile2_thr
	 - decile3_thr
	 - decile4_thr
	 - decile5_thr
	 - decile6_thr
	 - decile7_thr
	 - decile8_thr
	 - income_gap_ratio_40_median
	 - income_gap_ratio_50_median
	 - income_gap_ratio_60_median
	 - poverty_gap_index_40_median
	 - poverty_gap_index_50_median
	 - poverty_gap_index_60_median
	 - avg_shortfall_40_median
	 - avg_shortfall_50_median
	 - avg_shortfall_60_median
	 - total_shortfall_40_median
	 - total_shortfall_50_median
	 - total_shortfall_60_median
	 - income_gap_ratio_100
	 - income_gap_ratio_1000
	 - income_gap_ratio_2000
	 - income_gap_ratio_215
	 - income_gap_ratio_3000
	 - income_gap_ratio_365
	 - income_gap_ratio_4000
	 - income_gap_ratio_685
	 - poverty_gap_index_100
	 - poverty_gap_index_1000
	 - poverty_gap_index_2000
	 - poverty_gap_index_215
	 - poverty_gap_index_3000
	 - poverty_gap_index_365
	 - poverty_gap_index_4000
	 - poverty_gap_index_685
	 - avg_shortfall_100
	 - avg_shortfall_1000
	 - avg_shortfall_2000
	 - avg_shortfall_215
	 - avg_shortfall_3000
	 - avg_shortfall_365
	 - avg_shortfall_4000
	 - avg_shortfall_685
	 - total_shortfall_100
	 - total_shortfall_1000
	 - total_shortfall_2000
	 - total_shortfall_215
	 - total_shortfall_3000
	 - total_shortfall_365
	 - total_shortfall_4000
	 - total_shortfall_685
	 - decile1_avg
	 - decile2_avg
	 - decile3_avg
	 - decile4_avg
	 - decile5_avg
	 - decile6_avg
	 - decile7_avg
	 - decile8_avg
	 - decile9_avg
	 - decile10_avg
	 - bottom50_share
	 - middle40_share
	 - palma_ratio
	 - s80_s20_ratio
	 - p90_p10_ratio
	 - p90_p50_ratio
	 - p50_p10_ratio

########################################################################################
Identificamos el tipo de datos de cada columna
Country                                                                object
Year                                                                    int64
Share below $1 a day                                                  float64
Share below $2.15 a day                                               float64
Share below $3.65 a day                                               float64
Share below $6.85 a day                                               float64
Share below $10 a day                                                 float64
Share below $20 a day                                                 float64
Share below $30 a day                                                 float64
Share below $40 a day                                                 float64
Number below $1 a day                                                   int64
Number below $2.15 a day                                                int64
Number below $3.65 a day                                                int64
Number below $6.85 a day                                                int64
Number below $10 a day                                                  int64
Number below $20 a day                                                  int64
Number below $30 a day                                                  int64
Number below $40 a day                                                  int64
40% of median - share of population below poverty line                float64
50% of median - share of population below poverty line                float64
60% of median - share of population below poverty line                float64
40% of median - total number of people below poverty line               int64
50% of median - total number of people below poverty line               int64
60% of median - total number of people below poverty line               int64
Mean income or consumption per day                                    float64
Median income or consumption per day                                  float64
Threshold income or consumption per day marking the poorest decile    float64
Threshold income or consumption per day marking the richest decile    float64
mld                                                                   float64
gini                                                                  float64
polarization                                                          float64
decile1_share                                                         float64
decile2_share                                                         float64
decile3_share                                                         float64
decile4_share                                                         float64
decile5_share                                                         float64
decile6_share                                                         float64
decile7_share                                                         float64
decile8_share                                                         float64
decile9_share                                                         float64
decile10_share                                                        float64
decile2_thr                                                           float64
decile3_thr                                                           float64
decile4_thr                                                           float64
decile5_thr                                                           float64
decile6_thr                                                           float64
decile7_thr                                                           float64
decile8_thr                                                           float64
income_gap_ratio_40_median                                            float64
income_gap_ratio_50_median                                            float64
income_gap_ratio_60_median                                            float64
poverty_gap_index_40_median                                           float64
poverty_gap_index_50_median                                           float64
poverty_gap_index_60_median                                           float64
avg_shortfall_40_median                                               float64
avg_shortfall_50_median                                               float64
avg_shortfall_60_median                                               float64
total_shortfall_40_median                                             float64
total_shortfall_50_median                                             float64
total_shortfall_60_median                                             float64
income_gap_ratio_100                                                  float64
income_gap_ratio_1000                                                 float64
income_gap_ratio_2000                                                 float64
income_gap_ratio_215                                                  float64
income_gap_ratio_3000                                                 float64
income_gap_ratio_365                                                  float64
income_gap_ratio_4000                                                 float64
income_gap_ratio_685                                                  float64
poverty_gap_index_100                                                 float64
poverty_gap_index_1000                                                float64
poverty_gap_index_2000                                                float64
poverty_gap_index_215                                                 float64
poverty_gap_index_3000                                                float64
poverty_gap_index_365                                                 float64
poverty_gap_index_4000                                                float64
poverty_gap_index_685                                                 float64
avg_shortfall_100                                                     float64
avg_shortfall_1000                                                    float64
avg_shortfall_2000                                                    float64
avg_shortfall_215                                                     float64
avg_shortfall_3000                                                    float64
avg_shortfall_365                                                     float64
avg_shortfall_4000                                                    float64
avg_shortfall_685                                                     float64
total_shortfall_100                                                   float64
total_shortfall_1000                                                  float64
total_shortfall_2000                                                  float64
total_shortfall_215                                                   float64
total_shortfall_3000                                                  float64
total_shortfall_365                                                   float64
total_shortfall_4000                                                  float64
total_shortfall_685                                                   float64
decile1_avg                                                           float64
decile2_avg                                                           float64
decile3_avg                                                           float64
decile4_avg                                                           float64
decile5_avg                                                           float64
decile6_avg                                                           float64
decile7_avg                                                           float64
decile8_avg                                                           float64
decile9_avg                                                           float64
decile10_avg                                                          float64
bottom50_share                                                        float64
middle40_share                                                        float64
palma_ratio                                                           float64
s80_s20_ratio                                                         float64
p90_p10_ratio                                                         float64
p90_p50_ratio                                                         float64
p50_p10_ratio                                                         float64
dtype: object

########################################################################################
Mostramos el total de columnas que hay de cada tipo de datos
float64    96
int64      12
object      1
Name: count, dtype: int64

########################################################################################
Obtenemos información más completa sobre la estructura y el contenido del DataFrame
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2602 entries, 0 to 2601
Columns: 109 entries, Country to p50_p10_ratio
dtypes: float64(96), int64(12), object(1)
memory usage: 2.2+ MB
None

########################################################################################
Mostramos valores únicos tiene cada columna
Country                                                                192
Year                                                                    60
Share below $1 a day                                                  2106
Share below $2.15 a day                                               2414
Share below $3.65 a day                                               2536
Share below $6.85 a day                                               2586
Share below $10 a day                                                 2586
Share below $20 a day                                                 2572
Share below $30 a day                                                 2539
Share below $40 a day                                                 2510
Number below $1 a day                                                 2122
Number below $2.15 a day                                              2415
Number below $3.65 a day                                              2536
Number below $6.85 a day                                              2587
Number below $10 a day                                                2592
Number below $20 a day                                                2601
Number below $30 a day                                                2602
Number below $40 a day                                                2602
40% of median - share of population below poverty line                2591
50% of median - share of population below poverty line                2596
60% of median - share of population below poverty line                2593
40% of median - total number of people below poverty line             2602
50% of median - total number of people below poverty line             2602
60% of median - total number of people below poverty line             2602
Mean income or consumption per day                                    2602
Median income or consumption per day                                  2508
Threshold income or consumption per day marking the poorest decile    2436
Threshold income or consumption per day marking the richest decile    2480
mld                                                                   2303
gini                                                                  2304
polarization                                                          2303
decile1_share                                                         2303
decile2_share                                                         2304
decile3_share                                                         2304
decile4_share                                                         2304
decile5_share                                                         2304
decile6_share                                                         2303
decile7_share                                                         2303
decile8_share                                                         2303
decile9_share                                                         2303
decile10_share                                                        2304
decile2_thr                                                           2458
decile3_thr                                                           2456
decile4_thr                                                           2461
decile5_thr                                                           2465
decile6_thr                                                           2465
decile7_thr                                                           2462
decile8_thr                                                           2467
income_gap_ratio_40_median                                            2601
income_gap_ratio_50_median                                            2602
income_gap_ratio_60_median                                            2601
poverty_gap_index_40_median                                           2601
poverty_gap_index_50_median                                           2602
poverty_gap_index_60_median                                           2601
avg_shortfall_40_median                                               2601
avg_shortfall_50_median                                               2602
avg_shortfall_60_median                                               2602
total_shortfall_40_median                                             2602
total_shortfall_50_median                                             2602
total_shortfall_60_median                                             2602
income_gap_ratio_100                                                  2144
income_gap_ratio_1000                                                 2585
income_gap_ratio_2000                                                 2579
income_gap_ratio_215                                                  2425
income_gap_ratio_3000                                                 2557
income_gap_ratio_365                                                  2538
income_gap_ratio_4000                                                 2544
income_gap_ratio_685                                                  2585
poverty_gap_index_100                                                 2142
poverty_gap_index_1000                                                2586
poverty_gap_index_2000                                                2577
poverty_gap_index_215                                                 2426
poverty_gap_index_3000                                                2556
poverty_gap_index_365                                                 2539
poverty_gap_index_4000                                                2542
poverty_gap_index_685                                                 2586
avg_shortfall_100                                                     2144
avg_shortfall_1000                                                    2585
avg_shortfall_2000                                                    2579
avg_shortfall_215                                                     2425
avg_shortfall_3000                                                    2558
avg_shortfall_365                                                     2538
avg_shortfall_4000                                                    2544
avg_shortfall_685                                                     2585
total_shortfall_100                                                   2147
total_shortfall_1000                                                  2592
total_shortfall_2000                                                  2602
total_shortfall_215                                                   2426
total_shortfall_3000                                                  2602
total_shortfall_365                                                   2539
total_shortfall_4000                                                  2602
total_shortfall_685                                                   2588
decile1_avg                                                           2303
decile2_avg                                                           2304
decile3_avg                                                           2304
decile4_avg                                                           2304
decile5_avg                                                           2304
decile6_avg                                                           2304
decile7_avg                                                           2304
decile8_avg                                                           2304
decile9_avg                                                           2304
decile10_avg                                                          2304

,Country,Year,Share below $1 a day,Share below $2.15 a day,Share below $3.65 a day,Share below $6.85 a day,Share below $10 a day,Share below $20 a day,Share below $30 a day,Share below $40 a day,Number below $1 a day,Number below $2.15 a day,Number below $3.65 a day,Number below $6.85 a day,Number below $10 a day,Number below $20 a day,Number below $30 a day,Number below $40 a day,40% of median - share of population below poverty line,50% of median - share of population below poverty line,60% of median - share of population below poverty line,40% of median - total number of people below poverty line,50% of median - total number of people below poverty line,60% of median - total number of people below poverty line,Mean income or consumption per day,Median income or consumption per day,Threshold income or consumption per day marking the poorest decile,Threshold income or consumption per day marking the richest decile,mld,gini,polarization,decile1_share,decile2_share,decile3_share,decile4_share,decile5_share,decile6_share,decile7_share,decile8_share,decile9_share,decile10_share,decile2_thr,decile3_thr,decile4_thr,decile5_thr,decile6_thr,decile7_thr,decile8_thr,income_gap_ratio_40_median,income_gap_ratio_50_median,income_gap_ratio_60_median,poverty_gap_index_40_median,poverty_gap_index_50_median,poverty_gap_index_60_median,avg_shortfall_40_median,avg_shortfall_50_median,avg_shortfall_60_median,total_shortfall_40_median,total_shortfall_50_median,total_shortfall_60_median,income_gap_ratio_100,income_gap_ratio_1000,income_gap_ratio_2000,income_gap_ratio_215,income_gap_ratio_3000,income_gap_ratio_365,income_gap_ratio_4000,income_gap_ratio_685,poverty_gap_index_100,poverty_gap_index_1000,poverty_gap_index_2000,poverty_gap_index_215,poverty_gap_index_3000,poverty_gap_index_365,poverty_gap_index_4000,poverty_gap_index_685,avg_shortfall_100,avg_shortfall_1000,avg_shortfall_2000,avg_shortfall_215,avg_shortfall_3000,avg_shortfall_365,avg_shortfall_4000,avg_shortfall_685,total_shortfall_100,total_shortfall_1000,total_shortfall_2000,total_shortfall_215,total_shortfall_3000,total_shortfall_365,total_shortfall_4000,total_shortfall_685,decile1_avg,decile2_avg,decile3_avg,decile4_avg,decile5_avg,decile6_avg,decile7_avg,decile8_avg,decile9_avg,decile10_avg,bottom50_share,middle40_share,palma_ratio,s80_s20_ratio,p90_p10_ratio,p90_p50_ratio,p50_p10_ratio
count,2602,2602.0,2602.0,2602.0,2602.0,2602.0,2602.0,2602.0,2602.0,2602.0,2602.0,2602.0,2602.0,2602.0,2602.0,2602.0,2602.0,2602.0,2602.0,2602.0,2602.0,2602.0,2602.0,2602.0,2602.0,2602.0,2597.0,2597.0,2304.0,2304.0,2304.0,2304.0,2304.0,2304.0,2304.0,2304.0,2304.0,2304.0,2304.0,2304.0,2304.0,2597.0,2597.0,2597.0,2597.0,2597.0,2597.0,2597.0,2601.0,2602.0,2602.0,2602.0,2602.0,2602.0,2601.0,2602.0,2602.0,2602.0,2602.0,2602.0,2146.0,2591.0,2602.0,2425.0,2602.0,2538.0,2602.0,2587.0,2602.0,2602.0,2602.0,2602.0,2602.0,2602.0,2602.0,2602.0,2146.0,2591.0,2602.0,2425.0,2602.0,2538.0,2602.0,2587.0,2602.0,2602.0,2602.0,2602.0,2602.0,2602.0,2602.0,2602.0,2304.0,2304.0,2304.0,2304.0,2304.0,2304.0,2304.0,2304.0,2304.0,2304.0,2304.0,2304.0,2304.0,2304.0,2596.0,2597.0,2596.0
unique,192,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
top,United States,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
freq,59,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
mean,,2005.425826,2.972837,11.584494,22.278238,37.969713,48.22549,66.262738,76.242978,83.25949,9329913.944274,47388941.238278,90702751.309377,134427559.978094,154681824.725596,181891804.775557,193968750.400461,202175348.591468,8.201846,13.700192,20.381465,22764979.409301,37431260.768255,53386871.864719,21.651934,17.385903,8.065574,38.480267,0.260602,0.373165,0.324844,2.656469,4.125193,5.162881,6.149194,7.191338,8.385151,9.864597,11.90512,15.31734,29.242716,10.655697,12.858594,15.03292,17.396334,20.172511,23.719184,28.87077,27.43365,28.026076,29.276593,2.620586,4.262058,6.374457,2.002982,2.452193,3.001593,25804992.856945,52350547.174685,92261119.925729,42.713254,47.379845,54.582038,38.949238,60.748413,40.108221,65.584375,44.243142,1.055103,27.073276,42.862307,4.27934,52.554439,9.588607,59.486669,19.485547,0.427133,4.737985,10.916408,0.837409,18.224524,1.46395,26.23375,3.030655,2697158.177502,974314019.278739,2694245349.075046,33964416.800471,4594211921.922091,140805881.840074,6592483215.469012,512741574.156374,6.361535,10.088286,12.565209,14.849109,17.212897,19.881736,23.131255,27.523877,34.604034,61.573919,25.285076,45.472209,1.855568,8.069418,6.519033,2.522123,2.433076
std,,10.444378,7.028047,18.719191,27.820263,34.788476,36.727799,35.68027,30.484415,24.019419,41407385.664469,190965282.552615,344919727.269693,490261005.695877,554584565.955862,638563321.486153,674030509.232441,697788764.86511,5.156079,5.916963,5.878203,107348782.039498,165431629.458483,220045353.596634,19.695506,16.984732,8.580566,33.422687,0.137985,0.087533,0.099276,0.978219,1.111492,1.130094,1.106218,1.044742,0.946434,0.790913,0.586878,0.877544,6.635857,11.003796,12.993183,14.908792,16.954181,19.316304,22.267578,26.352853,9.347749,8.496312,7.987449,2.417494,2.994666,3.438884,2.09216,2.428758,2.893528,95288586.128267,190315607.474012,327523354.90735,26.035896,16.237794,21.452429,20.96946,23.042594,16.802104,22.920217,14.922755,2.731406,26.007981,30.430142,7.995988,30.746127,14.23428,29.45539,22.041367,0.260359,1.623779,4.290486,0.450843,6.912778,0.613277,9.168087,1.022209,11663122.19435,3565899927.774553,9615702727.524906,140654740.722178,16225185249.271795,551079070.164377,23128956362.736031,1913826695.828418,6.555588,10.065387,12.239813,14.185982,16.166977,18.376215,21.020829,24.518757,29.857803,49.205593,5.251544,2.138331,1.113696,5.876644,4.693938,0.928735,0.883159
min,,1963.0,0.0,0.0,0.0,0.0,0.0,0.723412,5.955263,14.098875,0.0,0.0,0.0,0.0,0.0,2875.0,10344.0,10413.0,0.0,0.877564,4.84912,0.0,1076.0,1919.0,0.996974,0.690048,0.0,1.330302,0.053563,0.17792,0.146643,0.0,0.759953,1.586664,2.549425,3.309754,4.203471,5.248262,6.500681,8.777759,16.985788,0.240019,0.356905,0.50236,0.690048,0.849381,0.947722,1.0834,6.364955,8.18781,10.015157,0.0,0.078054,0.535531,0.041856,0.065176,0.104814,0.0,486.3086,1289.8029,0.197561,4.669825,7.666449,0.205841,15.746666,1.28175,19.511824,8.67292,0.0,0.0,0.084585,0.0,1.02132,0.0,3.473462,0.0,0.001976,0.466982,1.53329,0.004426,4.724,0.046784,7.804729,0.594095,0.0,0.0,6379.431,0.0,121784.72,0.0,336090.88,0.0,0.0,0.190319,0.296481,0.426795,0.591887,0.78247,0.960873,1.199339,1.412341,2.045702,9.471118,24.919708,0.596408,2.430172,2.286241,1.501557,1.505083
25%,,1999.0,0.029548,0.249047,0.750724,2.510355,5.808275,30.913912,59.992347,77.095327,1929.75,21474.0,96238.25,378835.75,779015.75,2417341.25,3082081.75,3696904.25,4.019669,9.070393,15.819723,320839.75,598724.25,915994.75,6.567835,4.719332,1.857547,11.862831,0.162066,0.308036,0.251895,1.921999,3.411565,4.425361,5.447829,6.598098,7.884595,9.498671,11.636882,14.679357,24.415839,2.553994,3.191095,3.881881,4.735255,5.716553,6.930401,8.683462,19.780478,21.374306,23.296487,0.853297,1.971824,3.716328,0.411229,0.563474,0.750223,280640.925,783095.5,1712547.85,22.364994,35.291944,34.953835,22.463314,37.508459,27.38842,43.626904,33.443674,0.00889,1.961654,9.638044,0.120533,22.132826,0.331183,34.006714,1.049396,0.22365,3.529195,6.990767,0.482961,11.252538,0.999677,17.450761,2.290892,568.27765,2827709.875,20306452.0,15282.9695,53064737.0,110880.8705,92045152.5,863585.59,1.530983,2.407126,3.216256,4.028416,4.831241,5.735185,6.829404,8.604123,11.293611,21.263922,22.032179,44.538218,1.146369,4.703693,3.93847,2.018199,1.94147
50%,,2007.0,0.344312,1.771,8.590034,30.257582,51.135908,83.28563,92.488948,96.00829,62889.0,380806.0,1065452.5,3221575.0,4875395.5,8353728.5,12318598.5,14101579.0,6.995514,12.998587,20.14922,1223996.5,2249434.0,3474035.5,13.649069,9.809051,3.911348,26.190601,0.217568,0.353398,0.297347,2.744812,4.288757,5.402894,6.425177,7.485696,8.649112,10.103912,12.007156,15.270098,27.3167,5.481485,6.86147,8.246735,9.858762,11.759191,14.224634,18.21933,26.550121,27.050058,28.171354,1.852842,3.380234,5.527101,1.090102,1.429989,1.789913,1448710.5,3404622.6,6553274.5,35.136022,45.26204,54.498992,34.928738,64.882322,38.454115,71.631372,43.367928,0.135487,20.056617,45.654032,0.62462,60.430746,2.302234,68.981055,10.17656,0.35136,4.526204,10.899798,0.750968,19.464697,1.403575,28.652549,2.970703,21418.6325,22623451.0,93445092.0,274879.14,191257135.0,1382484.2,352908335.0,8515596.5,3.414841,5.399806,6.973474,8.520715,10.053049,11.835109,14.100085,17.225177,22.737409,46.769245,26.322975,45.938516,1.446343,6.081824,5.128627,2.288043,2.209133
75%,,2014.0,1.928456,14.175411,36.920021,69.638908,85.206468,97.219242,99.090163,99.577137,1034879.75,5886133.0,13402492.25,24722449.5,35728507.0,57209546.5,70085480.5,92444233.25,11.984202,18.248914,24.999453,5935537.75,10428439.0,17210821.0,31.765978,25.932521,12.279906,57.054565,0.313944,0.423752,0.374144,3.4135,4.98188,6.022945,6.973694,7.96977,9.100034,10.434495,12.258791,15.90948,32.635646,16.28236,19.797445,22.513035,25.897638,29.982172,35.102894,42.6261,34.31776,33.985814,35.076593,3.903396,6.131768,8.720522,3.039556,3.838673,4.68275,9523578.25,22048721.5,41996960.0,61.620379,57.950105,72.54577,50.283962,80.124173,50.59669,84.653635,54.507582,0.701013,46.689044,69.082281,4.411024,78.850476,13.284722,84.018568,32.520833,0.616204,5.795011,14.509154,1.081105,24.037251,1.846779,33.861454,3.733769,360703.395,178592610.0,699483900.0,4465077.625,1345328225.0,19935479.5,1996258150.0,85260783.5,9.632955,16.355958,20.686218,24.360036,28.056108,32.2221,37.47588,43.762865,53.509301,90.932207,29.278652,46.773082,2.110838,8.855296,7.445883,2.769466,2.731485
max,,2022.0,67.12873,96.87142,99.999985,99.999985,99.999985,100.0,100.0,100.0,478267868.0,2020797536.0,3180138152.0,4284689746.0,4774249109.0,5972921311.0,6517648013.0,6842493585.0,46.32042,50.479603,54.23586,1356488738.0,1939980963.0,2465839705.0,93.3278,77.76416,35.475777,165.26044,0.937047,0.657556,0.815704,5.49408,6.87606,7.690215,8.419801,9.142351,10.043562,11.635509,13.842758,18.949831,61.49114,45.599876,57.631134,67.62828,77.76416,91.17931,107.87748,129.29675,70.34801,70.89277,71.12532,32.5855,35.78639,38.57543,9.578754,11.4198,14.089438,1328665500.0,2567120000.0,4224567000.0,100.63848,100.0,100.0,100.09319,100.0,99.99999,100.0,100.0,35.87345,99.999985,99.999985,58.590275,99.999985,99.999985,99.999985,99.999985,1.006385,10.0,20.0,2.152004,30.0,3.65,40.0,6.85,140469860.0,31482040000.0,82237915000.0,1597019300.0,141490520000.0,5524205600.0,208397370000.0,17441538000.0,27.926119,40.561382,51.55187,62.82325,72.51246,84.26021,99.10337,118.504196,145.31265,264.2541,37.619087,52.08709,8.343586,72.68173,96.66666,11.394558,23.999998

########################################################################################
Observamos los valores nulos en el conjunto de datos
income_gap_ratio_100                                                  456
avg_shortfall_100                                                     456
polarization                                                          298
gini                                                                  298
decile2_share                                                         298
decile7_share                                                         298
decile8_share                                                         298
decile9_share                                                         298
decile10_share                                                        298
decile3_share                                                         298
decile4_share                                                         298
decile1_share                                                         298
decile6_share                                                         298
decile1_avg                                                           298
decile8_avg                                                           298
decile7_avg                                                           298
s80_s20_ratio                                                         298
palma_ratio                                                           298
middle40_share                                                        298
bottom50_share                                                        298
decile10_avg                                                          298
decile9_avg                                                           298
decile4_avg                                                           298
decile3_avg                                                           298
decile6_avg                                                           298
decile5_avg                                                           298
decile2_avg                                                           298
decile5_share                                                         298
mld                                                                   298
avg_shortfall_215                                                     177
income_gap_ratio_215                                                  177
income_gap_ratio_365                                                   64
avg_shortfall_365                                                      64
avg_shortfall_685                                                      15
income_gap_ratio_685                                                   15
income_gap_ratio_1000                                                  11
avg_shortfall_1000                                                     11
p50_p10_ratio                                                           6
p90_p10_ratio                                                           6
decile4_thr                                                             5
decile3_thr                                                             5
Threshold income or consumption per day marking the richest decile      5
Threshold income or consumption per day marking the poorest decile      5
decile5_thr                                                             5
decile2_thr                                                             5
decile7_thr                                                             5
decile6_thr                                                             5
decile8_thr                                                             5
p90_p50_ratio                                                           5
income_gap_ratio_40_median                                              1
avg_shortfall_40_median                                                 1
60% of median - share of population below poverty line                  0
50% of median - share of population below poverty line                  0
Mean income or consumption per day                                      0
60% of median - total number of people below poverty line               0
40% of median - share of population below poverty line                  0
Number below $6.85 a day                                                0
Number below $40 a day                                                  0
Number below $10 a day                                                  0
Number below $20 a day                                                  0
Number below $30 a day                                                  0
Share below $6.85 a day                                                 0
Share below $10 a day                                                   0
Share below $20 a day                                                   0
Country                                                                 0
Year                                                                    0
Share below $1 a day                                                    0
Share below $2.15 a day                                                 0
Share below $3.65 a day                                                 0
Share below $40 a day                                                   0
Share below $30 a day                                                   0
50% of median - total number of people below poverty line               0
40% of median - total number of people below poverty line               0
Median income or consumption per day                                    0
Number below $1 a day                                                   0
Number below $2.15 a day                                                0
Number below $3.65 a day                                                0
poverty_gap_index_685                                                   0
poverty_gap_index_4000                                                  0
poverty_gap_index_365                                                   0
poverty_gap_index_3000                                                  0
poverty_gap_index_2000                                                  0
poverty_gap_index_215                                                   0
poverty_gap_index_1000                                                  0
poverty_gap_index_100                                                   0
income_gap_ratio_2000                                                   0
income_gap_ratio_4000                                                   0
income_gap_ratio_3000                                                   0
poverty_gap_index_60_median                                             0
avg_shortfall_60_median                                                 0
total_shortfall_40_median                                               0
total_shortfall_50_median                                               0
total_shortfall_60_median                                               0
income_gap_ratio_60_median                                              0
income_gap_ratio_50_median                                              0
poverty_gap_index_40_median                                             0
poverty_gap_index_50_median                                             0
avg_shortfall_50_median                                                 0
total_shortfall_685                                                     0
total_shortfall_365                                                     0
total_shortfall_4000                                                    0
avg_shortfall_2000                                                      0
avg_shortfall_4000                                                      0
avg_shortfall_3000                                                      0
total_shortfall_3000                                                    0
total_shortfall_2000                                                    0
total_shortfall_215                                                     0
total_shortfall_1000                                                    0
total_shortfall_100                                                     0
dtype: int64

########################################################################################
Calculamos el porcentaje de valores nulos en cada columna
income_gap_ratio_100                                                  17.52
avg_shortfall_100                                                     17.52
polarization                                                          11.45
gini                                                                  11.45
decile2_share                                                         11.45
decile7_share                                                         11.45
decile8_share                                                         11.45
decile9_share                                                         11.45
decile10_share                                                        11.45
decile3_share                                                         11.45
decile4_share                                                         11.45
decile1_share                                                         11.45
decile6_share                                                         11.45
decile1_avg                                                           11.45
decile8_avg                                                           11.45
decile7_avg                                                           11.45
s80_s20_ratio                                                         11.45
palma_ratio                                                           11.45
middle40_share                                                        11.45
bottom50_share                                                        11.45
decile10_avg                                                          11.45
decile9_avg                                                           11.45
decile4_avg                                                           11.45
decile3_avg                                                           11.45
decile6_avg                                                           11.45
decile5_avg                                                           11.45
decile2_avg                                                           11.45
decile5_share                                                         11.45
mld                                                                   11.45
avg_shortfall_215                                                      6.80
income_gap_ratio_215                                                   6.80
income_gap_ratio_365                                                   2.46
avg_shortfall_365                                                      2.46
avg_shortfall_685                                                      0.58
income_gap_ratio_685                                                   0.58
income_gap_ratio_1000                                                  0.42
avg_shortfall_1000                                                     0.42
p50_p10_ratio                                                          0.23
p90_p10_ratio                                                          0.23
decile4_thr                                                            0.19
decile3_thr                                                            0.19
Threshold income or consumption per day marking the richest decile     0.19
Threshold income or consumption per day marking the poorest decile     0.19
decile5_thr                                                            0.19
decile2_thr                                                            0.19
decile7_thr                                                            0.19
decile6_thr                                                            0.19
decile8_thr                                                            0.19
p90_p50_ratio                                                          0.19
income_gap_ratio_40_median                                             0.04
avg_shortfall_40_median                                                0.04
60% of median - share of population below poverty line                 0.00
50% of median - share of population below poverty line                 0.00
Mean income or consumption per day                                     0.00
60% of median - total number of people below poverty line              0.00
40% of median - share of population below poverty line                 0.00
Number below $6.85 a day                                               0.00
Number below $40 a day                                                 0.00
Number below $10 a day                                                 0.00
Number below $20 a day                                                 0.00
Number below $30 a day                                                 0.00
Share below $6.85 a day                                                0.00
Share below $10 a day                                                  0.00
Share below $20 a day                                                  0.00
Country                                                                0.00
Year                                                                   0.00
Share below $1 a day                                                   0.00
Share below $2.15 a day                                                0.00
Share below $3.65 a day                                                0.00
Share below $40 a day                                                  0.00
Share below $30 a day                                                  0.00
50% of median - total number of people below poverty line              0.00
40% of median - total number of people below poverty line              0.00
Median income or consumption per day                                   0.00
Number below $1 a day                                                  0.00
Number below $2.15 a day                                               0.00
Number below $3.65 a day                                               0.00
poverty_gap_index_685                                                  0.00
poverty_gap_index_4000                                                 0.00
poverty_gap_index_365                                                  0.00
poverty_gap_index_3000                                                 0.00
poverty_gap_index_2000                                                 0.00
poverty_gap_index_215                                                  0.00
poverty_gap_index_1000                                                 0.00
poverty_gap_index_100                                                  0.00
income_gap_ratio_2000                                                  0.00
income_gap_ratio_4000                                                  0.00
income_gap_ratio_3000                                                  0.00
poverty_gap_index_60_median                                            0.00
avg_shortfall_60_median                                                0.00
total_shortfall_40_median                                              0.00
total_shortfall_50_median                                              0.00
total_shortfall_60_median                                              0.00
income_gap_ratio_60_median                                             0.00
income_gap_ratio_50_median                                             0.00
poverty_gap_index_40_median                                            0.00
poverty_gap_index_50_median                                            0.00
avg_shortfall_50_median                                                0.00
total_shortfall_685                                                    0.00
total_shortfall_365                                                    0.00
total_shortfall_4000                                                   0.00
avg_shortfall_2000                                                     0.00
avg_shortfall_4000                                                     0.00
avg_shortfall_3000                                                     0.00
total_shortfall_3000                                                   0.00
total_shortfall_2000                                                   0.00
total_shortfall_215                                                    0.00
total_shortfall_1000                                                   0.00
total_shortfall_100                                                    0.00
dtype: float64

########################################################################################

##### 5.7.1 Nulos: identificación y tratamiento

a- Creación de DataFrames en función de la medición de las columna

In [256]:
df_pobreza_extrema = df_poverty[['Country', 'Year', 'Share below $2.15 a day', 'Number below $2.15 a day', 'poverty_gap_index_215', 'avg_shortfall_215', 'total_shortfall_215']]

In [257]:
df_desigualdad = df_poverty[['Country', 'Year', 'gini', 'decile1_share', 'decile10_share', 'palma_ratio', 's80_s20_ratio', 'p90_p10_ratio']]

In [258]:
df_pobreza_relativa = df_poverty[['Country', 'Year', '50% of median - share of population below poverty line', 'poverty_gap_index_50_median', 'avg_shortfall_50_median']]

In [259]:
df_umbrales_de_ingresos = df_poverty[['Country', 'Year', 'Threshold income or consumption per day marking the poorest decile', 'Threshold income or consumption per day marking the richest decile']]

b- Identificación de las columnas que tienen nulos

In [260]:
df_pobreza_extrema.isnull().sum().sort_values(ascending = False)

avg_shortfall_215           177
Year                          0
Country                       0
Share below $2.15 a day       0
Number below $2.15 a day      0
poverty_gap_index_215         0
total_shortfall_215           0
dtype: int64

In [261]:
df_desigualdad.isnull().sum().sort_values()

Country             0
Year                0
p90_p10_ratio       6
gini              298
decile1_share     298
decile10_share    298
palma_ratio       298
s80_s20_ratio     298
dtype: int64

In [262]:
df_pobreza_relativa.isnull().sum().sort_values()

Country                                                   0
Year                                                      0
50% of median - share of population below poverty line    0
poverty_gap_index_50_median                               0
avg_shortfall_50_median                                   0
dtype: int64

In [263]:
df_umbrales_de_ingresos.isnull().sum().sort_values()

Country                                                               0
Year                                                                  0
Threshold income or consumption per day marking the poorest decile    5
Threshold income or consumption per day marking the richest decile    5
dtype: int64

In [318]:
df_nulos = df_umbrales_de_ingresos[df_umbrales_de_ingresos.isnull().any(axis=1)]

In [319]:
df_nulos

,pais,año,ingreso/consumo_por_dia_marca_decil_mas_pobre,Ingreso/consumo_por_dia_marca_decil_mas_rico
501,Cote d'Ivoire,1998,NaN,NaN
502,Cote d'Ivoire,2002,NaN,NaN
503,Cote d'Ivoire,2008,NaN,NaN
1627,Montenegro,2013,NaN,NaN
2031,Sierra Leone,1989,NaN,NaN

c- Identificamoss a qué país correpoden los nulos de cada df

* Pobreza extrema

In [265]:
avg_shortfall_215 = df_pobreza_extrema[df_pobreza_extrema['avg_shortfall_215'].isnull()]

In [266]:
avg_shortfall_215.head(15)

,Country,Year,Share below $2.15 a day,Number below $2.15 a day,poverty_gap_index_215,avg_shortfall_215,total_shortfall_215
10,Albania,2019,0.0,0,0.0,NaN,0.0
87,Austria,1995,0.0,0,0.0,NaN,0.0
88,Austria,1996,0.0,0,0.0,NaN,0.0
92,Austria,2000,0.0,0,0.0,NaN,0.0
115,Azerbaijan,2004,0.0,0,0.0,NaN,0.0
116,Azerbaijan,2005,0.0,0,0.0,NaN,0.0
144,Belarus,2013,0.0,0,0.0,NaN,0.0
145,Belarus,2014,0.0,0,0.0,NaN,0.0
146,Belarus,2015,0.0,0,0.0,NaN,0.0
147,Belarus,2016,0.0,0,0.0,NaN,0.0
148,Belarus,2017,0.0,0,0.0,NaN,0.0
149,Belarus,2018,0.0,0,0.0,NaN,0.0
150,Belarus,2019,0.0,0,0.0,NaN,0.0
151,Belarus,2020,0.0,0,0.0,NaN,0.0
263,Bulgaria,1992,0.0,0,0.0,NaN,0.0

In [267]:
len(avg_shortfall_215)

177

* Desigualdad

In [268]:
p90_p10_ratio = df_desigualdad[df_desigualdad['p90_p10_ratio'].isnull()]

p90_p10_ratio.head(10)

,Country,Year,gini,decile1_share,decile10_share,palma_ratio,s80_s20_ratio,p90_p10_ratio
501,Cote d'Ivoire,1998,0.389600,2.558023,30.080942,1.750564,7.274782,NaN
502,Cote d'Ivoire,2002,0.413400,2.302535,32.712135,1.965332,8.000041,NaN
503,Cote d'Ivoire,2008,0.431837,1.844681,32.643270,2.184059,9.581001,NaN
1627,Montenegro,2013,0.324429,3.011340,24.917364,1.235876,5.271331,NaN
2031,Sierra Leone,1989,NaN,NaN,NaN,NaN,NaN,NaN
2190,Suriname (urban),1999,0.578514,0.000000,42.113514,5.792606,59.042950,NaN

In [269]:
len(p90_p10_ratio)

6

In [270]:
gini = df_desigualdad[df_desigualdad['gini'].isnull()]

gini.head(10)

,Country,Year,gini,decile1_share,decile10_share,palma_ratio,s80_s20_ratio,p90_p10_ratio
617,East Asia and Pacific (PIP),1990,NaN,NaN,NaN,NaN,NaN,5.000000
618,East Asia and Pacific (PIP),1991,NaN,NaN,NaN,NaN,NaN,5.132531
619,East Asia and Pacific (PIP),1992,NaN,NaN,NaN,NaN,NaN,5.317647
620,East Asia and Pacific (PIP),1993,NaN,NaN,NaN,NaN,NaN,5.454546
621,East Asia and Pacific (PIP),1994,NaN,NaN,NaN,NaN,NaN,5.531915
622,East Asia and Pacific (PIP),1995,NaN,NaN,NaN,NaN,NaN,5.600000
623,East Asia and Pacific (PIP),1996,NaN,NaN,NaN,NaN,NaN,5.714286
624,East Asia and Pacific (PIP),1997,NaN,NaN,NaN,NaN,NaN,5.961538
625,East Asia and Pacific (PIP),1998,NaN,NaN,NaN,NaN,NaN,6.237624
626,East Asia and Pacific (PIP),1999,NaN,NaN,NaN,NaN,NaN,6.285715

In [271]:
len(gini)

298

In [272]:
decile1_share = df_desigualdad[df_desigualdad['decile1_share'].isnull()]

decile1_share.head(10)

,Country,Year,gini,decile1_share,decile10_share,palma_ratio,s80_s20_ratio,p90_p10_ratio
617,East Asia and Pacific (PIP),1990,NaN,NaN,NaN,NaN,NaN,5.000000
618,East Asia and Pacific (PIP),1991,NaN,NaN,NaN,NaN,NaN,5.132531
619,East Asia and Pacific (PIP),1992,NaN,NaN,NaN,NaN,NaN,5.317647
620,East Asia and Pacific (PIP),1993,NaN,NaN,NaN,NaN,NaN,5.454546
621,East Asia and Pacific (PIP),1994,NaN,NaN,NaN,NaN,NaN,5.531915
622,East Asia and Pacific (PIP),1995,NaN,NaN,NaN,NaN,NaN,5.600000
623,East Asia and Pacific (PIP),1996,NaN,NaN,NaN,NaN,NaN,5.714286
624,East Asia and Pacific (PIP),1997,NaN,NaN,NaN,NaN,NaN,5.961538
625,East Asia and Pacific (PIP),1998,NaN,NaN,NaN,NaN,NaN,6.237624
626,East Asia and Pacific (PIP),1999,NaN,NaN,NaN,NaN,NaN,6.285715

In [273]:
len(decile1_share)

298

In [274]:
decile10_share = df_desigualdad[df_desigualdad['decile10_share'].isnull()]

decile10_share.head(10)

,Country,Year,gini,decile1_share,decile10_share,palma_ratio,s80_s20_ratio,p90_p10_ratio
617,East Asia and Pacific (PIP),1990,NaN,NaN,NaN,NaN,NaN,5.000000
618,East Asia and Pacific (PIP),1991,NaN,NaN,NaN,NaN,NaN,5.132531
619,East Asia and Pacific (PIP),1992,NaN,NaN,NaN,NaN,NaN,5.317647
620,East Asia and Pacific (PIP),1993,NaN,NaN,NaN,NaN,NaN,5.454546
621,East Asia and Pacific (PIP),1994,NaN,NaN,NaN,NaN,NaN,5.531915
622,East Asia and Pacific (PIP),1995,NaN,NaN,NaN,NaN,NaN,5.600000
623,East Asia and Pacific (PIP),1996,NaN,NaN,NaN,NaN,NaN,5.714286
624,East Asia and Pacific (PIP),1997,NaN,NaN,NaN,NaN,NaN,5.961538
625,East Asia and Pacific (PIP),1998,NaN,NaN,NaN,NaN,NaN,6.237624
626,East Asia and Pacific (PIP),1999,NaN,NaN,NaN,NaN,NaN,6.285715

In [275]:
len(decile10_share)

298

In [276]:
palma_ratio = df_desigualdad[df_desigualdad['palma_ratio'].isnull()]

palma_ratio.head(10)

,Country,Year,gini,decile1_share,decile10_share,palma_ratio,s80_s20_ratio,p90_p10_ratio
617,East Asia and Pacific (PIP),1990,NaN,NaN,NaN,NaN,NaN,5.000000
618,East Asia and Pacific (PIP),1991,NaN,NaN,NaN,NaN,NaN,5.132531
619,East Asia and Pacific (PIP),1992,NaN,NaN,NaN,NaN,NaN,5.317647
620,East Asia and Pacific (PIP),1993,NaN,NaN,NaN,NaN,NaN,5.454546
621,East Asia and Pacific (PIP),1994,NaN,NaN,NaN,NaN,NaN,5.531915
622,East Asia and Pacific (PIP),1995,NaN,NaN,NaN,NaN,NaN,5.600000
623,East Asia and Pacific (PIP),1996,NaN,NaN,NaN,NaN,NaN,5.714286
624,East Asia and Pacific (PIP),1997,NaN,NaN,NaN,NaN,NaN,5.961538
625,East Asia and Pacific (PIP),1998,NaN,NaN,NaN,NaN,NaN,6.237624
626,East Asia and Pacific (PIP),1999,NaN,NaN,NaN,NaN,NaN,6.285715

In [277]:
len(palma_ratio)

298

In [278]:
s80_s20_ratio = df_desigualdad[df_desigualdad['s80_s20_ratio'].isnull()]

s80_s20_ratio.head(10)

,Country,Year,gini,decile1_share,decile10_share,palma_ratio,s80_s20_ratio,p90_p10_ratio
617,East Asia and Pacific (PIP),1990,NaN,NaN,NaN,NaN,NaN,5.000000
618,East Asia and Pacific (PIP),1991,NaN,NaN,NaN,NaN,NaN,5.132531
619,East Asia and Pacific (PIP),1992,NaN,NaN,NaN,NaN,NaN,5.317647
620,East Asia and Pacific (PIP),1993,NaN,NaN,NaN,NaN,NaN,5.454546
621,East Asia and Pacific (PIP),1994,NaN,NaN,NaN,NaN,NaN,5.531915
622,East Asia and Pacific (PIP),1995,NaN,NaN,NaN,NaN,NaN,5.600000
623,East Asia and Pacific (PIP),1996,NaN,NaN,NaN,NaN,NaN,5.714286
624,East Asia and Pacific (PIP),1997,NaN,NaN,NaN,NaN,NaN,5.961538
625,East Asia and Pacific (PIP),1998,NaN,NaN,NaN,NaN,NaN,6.237624
626,East Asia and Pacific (PIP),1999,NaN,NaN,NaN,NaN,NaN,6.285715

In [279]:
len(s80_s20_ratio)

298

* Pobreza Relativa

In [280]:
# df_pobreza_relativa no tiene nulos, por lo tanto, aquí no hay datos por tratar

* Umbrales de ingresos

In [281]:
poorest_decile = df_umbrales_de_ingresos[df_umbrales_de_ingresos['Threshold income or consumption per day marking the poorest decile'].isnull()]

poorest_decile.head(10)

,Country,Year,Threshold income or consumption per day marking the poorest decile,Threshold income or consumption per day marking the richest decile
501,Cote d'Ivoire,1998,NaN,NaN
502,Cote d'Ivoire,2002,NaN,NaN
503,Cote d'Ivoire,2008,NaN,NaN
1627,Montenegro,2013,NaN,NaN
2031,Sierra Leone,1989,NaN,NaN

In [282]:
len(poorest_decile)

5

In [283]:
richest_decile = df_umbrales_de_ingresos[df_umbrales_de_ingresos['Threshold income or consumption per day marking the richest decile'].isnull()]

richest_decile.head(10)

,Country,Year,Threshold income or consumption per day marking the poorest decile,Threshold income or consumption per day marking the richest decile
501,Cote d'Ivoire,1998,NaN,NaN
502,Cote d'Ivoire,2002,NaN,NaN
503,Cote d'Ivoire,2008,NaN,NaN
1627,Montenegro,2013,NaN,NaN
2031,Sierra Leone,1989,NaN,NaN

In [284]:
len(richest_decile)

5

##### 5.7.2 Normalización del nombre de las columnas

- Probreza Extrema

In [285]:
mapeo_pobreza_extrema = {
    'Country': 'pais',
    'Year': 'año', 
    'Share below $2.15 a day': 'menos_de_2.15_al_dia', 
    'Number below $2.15 a day': 'numero_personas_viven_con_menos_2.15_dia', 
    'poverty_gap_index_215': 'indice_brecha_pobreza_(2.15)', 
    'avg_shortfall_215': 'deficit_promedio_(2.15)', 
    'total_shortfall_215': 'deficit_total_(2.15)'
}

In [286]:
df_pobreza_extrema = renombrar_columnas(df_pobreza_extrema, mapeo_pobreza_extrema)

In [287]:
df_pobreza_extrema.columns

Index(['pais', 'año', 'menos_de_2.15_al_dia',
       'numero_personas_viven_con_menos_2.15_dia',
       'indice_brecha_pobreza_(2.15)', 'deficit_promedio_(2.15)',
       'deficit_total_(2.15)'],
      dtype='object')

- Desigualdad

In [288]:
mapeo_desigualdad = {
    'Country': 'pais',
    'Year': 'año',
    'gini': 'gini', 
    'decile1_share': 'participacion_decil_1', 
    'decile10_share': 'participacion_decil_10', 
    'palma_ratio': 'ratio_palma', 
    's80_s20_ratio': 'ratio_s80_s20',
    'p90_p10_ratio': 'ratio_p90_p10'
}

In [289]:
df_desigualdad = renombrar_columnas(df_desigualdad, mapeo_desigualdad)

In [290]:
df_desigualdad.columns

Index(['pais', 'año', 'gini', 'participacion_decil_1',
       'participacion_decil_10', 'ratio_palma', 'ratio_s80_s20',
       'ratio_p90_p10'],
      dtype='object')

- Pobreza relativa

In [291]:
mapeo_pobreza_relativa = {
    'Country': 'pais',
    'Year': 'año',
    '50% of median - share of population below poverty line': '50prc_mediana_porcentaje_poblacion_debajo_linea_pobreza', 
    'poverty_gap_index_50_median': 'indice_brecha_pobreza_(50prc_mediana)', 
    'avg_shortfall_50_median': 'deficit_promedio_(50prc_mediana)'
}

In [292]:
df_pobreza_relativa = renombrar_columnas(df_pobreza_relativa, mapeo_pobreza_relativa)

In [293]:
df_pobreza_relativa.columns

Index(['pais', 'año',
       '50prc_mediana_porcentaje_poblacion_debajo_linea_pobreza',
       'indice_brecha_pobreza_(50prc_mediana)',
       'deficit_promedio_(50prc_mediana)'],
      dtype='object')

- Umbrales de ingreso

In [294]:
mapeo_umbrales_ingreso = {
    'Country': 'pais',
    'Year': 'año',
    'Threshold income or consumption per day marking the poorest decile': 'ingreso/consumo_por_dia_marca_decil_mas_pobre', 
    'Threshold income or consumption per day marking the richest decile': 'Ingreso/consumo_por_dia_marca_decil_mas_rico'
}

In [295]:
df_umbrales_de_ingresos = renombrar_columnas(df_umbrales_de_ingresos, mapeo_umbrales_ingreso)

In [296]:
df_umbrales_de_ingresos.columns

Index(['pais', 'año', 'ingreso/consumo_por_dia_marca_decil_mas_pobre',
       'Ingreso/consumo_por_dia_marca_decil_mas_rico'],
      dtype='object')

##### 5.7.3 Análisis exploratorio de los nuevos df

-  Probreza Extrema

In [297]:
exploracion_inicial(df_pobreza_extrema)

Calculamos cuántas filas y columnas hay en el conjunto de datos
	Hay 2,602 filas y 7 columnas.

########################################################################################
Mostramos las primeras cinco filas del conjunto de datos

,pais,año,menos_de_2.15_al_dia,numero_personas_viven_con_menos_2.15_dia,indice_brecha_pobreza_(2.15),deficit_promedio_(2.15),deficit_total_(2.15)
0,Albania,1996,0.534846,16944,0.098215,0.394810,6689.6580
1,Albania,2002,1.092647,33337,0.189435,0.372748,12426.3060
2,Albania,2005,0.591086,17800,0.089723,0.326366,5809.3154
3,Albania,2008,0.199925,5892,0.039641,0.426332,2511.9475
4,Albania,2012,0.620691,18003,0.130893,0.453384,8162.2783

########################################################################################
Estas son las últimas cinco filas del conjunto de datos:

,pais,año,menos_de_2.15_al_dia,numero_personas_viven_con_menos_2.15_dia,indice_brecha_pobreza_(2.15),deficit_promedio_(2.15),deficit_total_(2.15)
2597,Zambia,2010,64.401900,8882366,31.438282,1.049539,9322389.0
2598,Zambia,2015,60.793095,9877802,31.891315,1.127864,11140815.0
2599,Zimbabwe,2011,21.580063,2810973,5.237777,0.521834,1466862.4
2600,Zimbabwe,2017,34.206043,5045768,9.382419,0.589726,2975621.8
2601,Zimbabwe,2019,39.754530,6104153,13.495234,0.729848,4455101.5

########################################################################################
Obtenemos una muestra aleatoria de filas del conjunto de datos con una semilla para obtener el mismo resultado

,pais,año,menos_de_2.15_al_dia,numero_personas_viven_con_menos_2.15_dia,indice_brecha_pobreza_(2.15),deficit_promedio_(2.15),deficit_total_(2.15)
707,Egypt,2010,1.037314,905082,0.135773,0.281411,254700.08
1932,Portugal,2018,0.290254,29849,0.152272,1.127933,33667.67
1868,Peru,2016,4.596183,1430919,1.245440,0.582592,833641.56
2512,Venezuela,2002,16.381353,4149549,7.923564,1.039942,4315292.00
2145,Spain,2017,0.678091,315945,0.540510,1.713774,541458.20

########################################################################################
Identificamos las columnas del conjunto de datos
	 - pais
	 - año
	 - menos_de_2.15_al_dia
	 - numero_personas_viven_con_menos_2.15_dia
	 - indice_brecha_pobreza_(2.15)
	 - deficit_promedio_(2.15)
	 - deficit_total_(2.15)

########################################################################################
Identificamos el tipo de datos de cada columna
pais                                         object
año                                           int64
menos_de_2.15_al_dia                        float64
numero_personas_viven_con_menos_2.15_dia      int64
indice_brecha_pobreza_(2.15)                float64
deficit_promedio_(2.15)                     float64
deficit_total_(2.15)                        float64
dtype: object

########################################################################################
Mostramos el total de columnas que hay de cada tipo de datos
float64    4
int64      2
object     1
Name: count, dtype: int64

########################################################################################
Obtenemos información más completa sobre la estructura y el contenido del DataFrame
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2602 entries, 0 to 2601
Data columns (total 7 columns):
 #   Column                                    Non-Null Count  Dtype
---  ------                                    --------------  -----
 0   pais                                      2602 non-null   object
 1   año                                       2602 non-null   int64
 2   menos_de_2.15_al_dia                      2602 non-null   float64
 3   numero_personas_viven_con_menos_2.15_dia  2602 non-null   int64
 4   indice_brecha_pobreza_(2.15)              2602 non-null   float64
 5   deficit_promedio_(2.15)                   2425 non-null   float64
 6   deficit_total_(2.15)                      2602 non-null   float64
dtypes: float64(4), int64(2), object(1)
memory usage: 142.4+ KB
None

########################################################################################
Mostramos valores únicos tiene cada columna
pais                                         192
año                                           60
menos_de_2.15_al_dia                        2414
numero_personas_viven_con_menos_2.15_dia    2415
indice_brecha_pobreza_(2.15)                2426
deficit_promedio_(2.15)                     2425
deficit_total_(2.15)                        2426
dtype: int64

########################################################################################
Estas son las estadísticas descriptivas básicas de todas las columnas:

,pais,año,menos_de_2.15_al_dia,numero_personas_viven_con_menos_2.15_dia,indice_brecha_pobreza_(2.15),deficit_promedio_(2.15),deficit_total_(2.15)
count,2602,2602.0,2602.0,2602.0,2602.0,2425.0,2602.0
unique,192,,,,,,
top,United States,,,,,,
freq,59,,,,,,
mean,,2005.425826,11.584494,47388941.238278,4.27934,0.837409,33964416.800471
std,,10.444378,18.719191,190965282.552615,7.995988,0.450843,140654740.722178
min,,1963.0,0.0,0.0,0.0,0.004426,0.0
25%,,1999.0,0.249047,21474.0,0.120533,0.482961,15282.9695
50%,,2007.0,1.771,380806.0,0.62462,0.750968,274879.14
75%,,2014.0,14.175411,5886133.0,4.411024,1.081105,4465077.625
max,,2022.0,96.87142,2020797536.0,58.590275,2.152004,1597019300.0

########################################################################################
Observamos los valores nulos en el conjunto de datos
deficit_promedio_(2.15)                     177
año                                           0
pais                                          0
menos_de_2.15_al_dia                          0
numero_personas_viven_con_menos_2.15_dia      0
indice_brecha_pobreza_(2.15)                  0
deficit_total_(2.15)                          0
dtype: int64

########################################################################################
Calculamos el porcentaje de valores nulos en cada columna
deficit_promedio_(2.15)                     6.8
año                                         0.0
pais                                        0.0
menos_de_2.15_al_dia                        0.0
numero_personas_viven_con_menos_2.15_dia    0.0
indice_brecha_pobreza_(2.15)                0.0
deficit_total_(2.15)                        0.0
dtype: float64

########################################################################################

- Desigualdad

In [298]:
exploracion_inicial(df_desigualdad)

Calculamos cuántas filas y columnas hay en el conjunto de datos
	Hay 2,602 filas y 8 columnas.

########################################################################################
Mostramos las primeras cinco filas del conjunto de datos

,pais,año,gini,participacion_decil_1,participacion_decil_10,ratio_palma,ratio_s80_s20,ratio_p90_p10
0,Albania,1996,0.270103,3.863286,21.215572,0.928335,3.945872,3.566505
1,Albania,2002,0.317390,3.494002,25.435638,1.215056,4.831625,3.995204
2,Albania,2005,0.305957,3.482536,24.341167,1.142718,4.662236,3.874336
3,Albania,2008,0.299847,3.733625,24.458311,1.114657,4.395911,3.574216
4,Albania,2012,0.289605,3.659527,22.934340,1.041193,4.272574,3.630154

########################################################################################
Estas son las últimas cinco filas del conjunto de datos:

,pais,año,gini,participacion_decil_1,participacion_decil_10,ratio_palma,ratio_s80_s20,ratio_p90_p10
2597,Zambia,2010,0.520347,1.576070,41.034912,3.557960,14.113775,10.120482
2598,Zambia,2015,0.559366,1.095506,43.453980,4.619834,19.600744,13.158383
2599,Zimbabwe,2011,0.431536,2.476378,33.830128,2.207938,8.526847,6.642927
2600,Zimbabwe,2017,0.443371,2.537848,34.807780,2.307360,8.569543,6.556821
2601,Zimbabwe,2019,0.502564,1.930185,40.625550,3.199699,11.806920,8.212260

########################################################################################
Obtenemos una muestra aleatoria de filas del conjunto de datos con una semilla para obtener el mismo resultado

,pais,año,gini,participacion_decil_1,participacion_decil_10,ratio_palma,ratio_s80_s20,ratio_p90_p10
1646,Namibia,1993,NaN,NaN,NaN,NaN,NaN,26.149883
582,Denmark,2017,0.287467,3.667833,24.040750,1.052953,4.168872,3.264980
2081,South Africa,2005,0.647625,0.996855,54.229760,7.429294,27.473778,18.713745
2218,Switzerland,2000,0.334311,3.067977,25.909168,1.298796,5.320206,4.191093
1680,Nicaragua,2005,0.405320,2.529500,31.509014,1.911908,7.613850,5.819209

########################################################################################
Identificamos las columnas del conjunto de datos
	 - pais
	 - año
	 - gini
	 - participacion_decil_1
	 - participacion_decil_10
	 - ratio_palma
	 - ratio_s80_s20
	 - ratio_p90_p10

########################################################################################
Identificamos el tipo de datos de cada columna
pais                       object
año                         int64
gini                      float64
participacion_decil_1     float64
participacion_decil_10    float64
ratio_palma               float64
ratio_s80_s20             float64
ratio_p90_p10             float64
dtype: object

########################################################################################
Mostramos el total de columnas que hay de cada tipo de datos
float64    6
object     1
int64      1
Name: count, dtype: int64

########################################################################################
Obtenemos información más completa sobre la estructura y el contenido del DataFrame
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2602 entries, 0 to 2601
Data columns (total 8 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   pais                    2602 non-null   object
 1   año                     2602 non-null   int64
 2   gini                    2304 non-null   float64
 3   participacion_decil_1   2304 non-null   float64
 4   participacion_decil_10  2304 non-null   float64
 5   ratio_palma             2304 non-null   float64
 6   ratio_s80_s20           2304 non-null   float64
 7   ratio_p90_p10           2596 non-null   float64
dtypes: float64(6), int64(1), object(1)
memory usage: 162.8+ KB
None

########################################################################################
Mostramos valores únicos tiene cada columna
pais                       192
año                         60
gini                      2304
participacion_decil_1     2303
participacion_decil_10    2304
ratio_palma               2304
ratio_s80_s20             2304
ratio_p90_p10             2592
dtype: int64

########################################################################################
Estas son las estadísticas descriptivas básicas de todas las columnas:

,pais,año,gini,participacion_decil_1,participacion_decil_10,ratio_palma,ratio_s80_s20,ratio_p90_p10
count,2602,2602.0,2304.0,2304.0,2304.0,2304.0,2304.0,2596.0
unique,192,,,,,,,
top,United States,,,,,,,
freq,59,,,,,,,
mean,,2005.425826,0.373165,2.656469,29.242716,1.855568,8.069418,6.519033
std,,10.444378,0.087533,0.978219,6.635857,1.113696,5.876644,4.693938
min,,1963.0,0.17792,0.0,16.985788,0.596408,2.430172,2.286241
25%,,1999.0,0.308036,1.921999,24.415839,1.146369,4.703693,3.93847
50%,,2007.0,0.353398,2.744812,27.3167,1.446343,6.081824,5.128627
75%,,2014.0,0.423752,3.4135,32.635646,2.110838,8.855296,7.445883
max,,2022.0,0.657556,5.49408,61.49114,8.343586,72.68173,96.66666

########################################################################################
Observamos los valores nulos en el conjunto de datos
participacion_decil_1     298
gini                      298
ratio_palma               298
participacion_decil_10    298
ratio_s80_s20             298
ratio_p90_p10               6
pais                        0
año                         0
dtype: int64

########################################################################################
Calculamos el porcentaje de valores nulos en cada columna
participacion_decil_1     11.45
gini                      11.45
ratio_palma               11.45
participacion_decil_10    11.45
ratio_s80_s20             11.45
ratio_p90_p10              0.23
pais                       0.00
año                        0.00
dtype: float64

########################################################################################

- Pobreza relativa

In [299]:
exploracion_inicial(df_pobreza_relativa)

Calculamos cuántas filas y columnas hay en el conjunto de datos
	Hay 2,602 filas y 5 columnas.

########################################################################################
Mostramos las primeras cinco filas del conjunto de datos

,pais,año,50prc_mediana_porcentaje_poblacion_debajo_linea_pobreza,indice_brecha_pobreza_(50prc_mediana),deficit_promedio_(50prc_mediana)
0,Albania,1996,7.548123,1.309217,0.604653
1,Albania,2002,8.406373,1.563182,0.621838
2,Albania,2005,8.991532,1.827905,0.792816
3,Albania,2008,7.227715,1.194202,0.693964
4,Albania,2012,7.753112,1.623401,0.862716

########################################################################################
Estas son las últimas cinco filas del conjunto de datos:

,pais,año,50prc_mediana_porcentaje_poblacion_debajo_linea_pobreza,indice_brecha_pobreza_(50prc_mediana),deficit_promedio_(50prc_mediana)
2597,Zambia,2010,19.586287,5.824823,0.228635
2598,Zambia,2015,24.430954,8.846548,0.291156
2599,Zimbabwe,2011,16.705880,3.676854,0.418053
2600,Zimbabwe,2017,12.817295,2.322487,0.260434
2601,Zimbabwe,2019,16.837408,4.060614,0.320126

########################################################################################
Obtenemos una muestra aleatoria de filas del conjunto de datos con una semilla para obtener el mismo resultado

,pais,año,50prc_mediana_porcentaje_poblacion_debajo_linea_pobreza,indice_brecha_pobreza_(50prc_mediana),deficit_promedio_(50prc_mediana)
2296,Tunisia,2000,16.486197,4.179150,0.850581
2492,Uruguay (urban),2000,19.213247,6.078841,2.712282
117,Bangladesh,1983,5.721748,1.133584,0.243603
1085,India (urban),2021,11.960810,2.491476,0.467042
1373,Latin America and the Caribbean (PIP),2013,20.263239,7.474753,1.862856

########################################################################################
Identificamos las columnas del conjunto de datos
	 - pais
	 - año
	 - 50prc_mediana_porcentaje_poblacion_debajo_linea_pobreza
	 - indice_brecha_pobreza_(50prc_mediana)
	 - deficit_promedio_(50prc_mediana)

########################################################################################
Identificamos el tipo de datos de cada columna
pais                                                        object
año                                                          int64
50prc_mediana_porcentaje_poblacion_debajo_linea_pobreza    float64
indice_brecha_pobreza_(50prc_mediana)                      float64
deficit_promedio_(50prc_mediana)                           float64
dtype: object

########################################################################################
Mostramos el total de columnas que hay de cada tipo de datos
float64    3
object     1
int64      1
Name: count, dtype: int64

########################################################################################
Obtenemos información más completa sobre la estructura y el contenido del DataFrame
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2602 entries, 0 to 2601
Data columns (total 5 columns):
 #   Column                                                   Non-Null Count  Dtype
---  ------                                                   --------------  -----
 0   pais                                                     2602 non-null   object
 1   año                                                      2602 non-null   int64
 2   50prc_mediana_porcentaje_poblacion_debajo_linea_pobreza  2602 non-null   float64
 3   indice_brecha_pobreza_(50prc_mediana)                    2602 non-null   float64
 4   deficit_promedio_(50prc_mediana)                         2602 non-null   float64
dtypes: float64(3), int64(1), object(1)
memory usage: 101.8+ KB
None

########################################################################################
Mostramos valores únicos tiene cada columna
pais                                                        192
año                                                          60
50prc_mediana_porcentaje_poblacion_debajo_linea_pobreza    2596
indice_brecha_pobreza_(50prc_mediana)                      2602
deficit_promedio_(50prc_mediana)                           2602
dtype: int64

########################################################################################
Estas son las estadísticas descriptivas básicas de todas las columnas:

,pais,año,50prc_mediana_porcentaje_poblacion_debajo_linea_pobreza,indice_brecha_pobreza_(50prc_mediana),deficit_promedio_(50prc_mediana)
count,2602,2602.0,2602.0,2602.0,2602.0
unique,192,,,,
top,United States,,,,
freq,59,,,,
mean,,2005.425826,13.700192,4.262058,2.452193
std,,10.444378,5.916963,2.994666,2.428758
min,,1963.0,0.877564,0.078054,0.065176
25%,,1999.0,9.070393,1.971824,0.563474
50%,,2007.0,12.998587,3.380234,1.429989
75%,,2014.0,18.248914,6.131768,3.838673
max,,2022.0,50.479603,35.78639,11.4198

########################################################################################
Observamos los valores nulos en el conjunto de datos
pais                                                       0
año                                                        0
50prc_mediana_porcentaje_poblacion_debajo_linea_pobreza    0
indice_brecha_pobreza_(50prc_mediana)                      0
deficit_promedio_(50prc_mediana)                           0
dtype: int64

########################################################################################
Calculamos el porcentaje de valores nulos en cada columna
pais                                                       0.0
año                                                        0.0
50prc_mediana_porcentaje_poblacion_debajo_linea_pobreza    0.0
indice_brecha_pobreza_(50prc_mediana)                      0.0
deficit_promedio_(50prc_mediana)                           0.0
dtype: float64

########################################################################################

- Umbrales de ingreso

In [300]:
exploracion_inicial(df_umbrales_de_ingresos)

Calculamos cuántas filas y columnas hay en el conjunto de datos
	Hay 2,602 filas y 4 columnas.

########################################################################################
Mostramos las primeras cinco filas del conjunto de datos

,pais,año,ingreso/consumo_por_dia_marca_decil_mas_pobre,Ingreso/consumo_por_dia_marca_decil_mas_rico
0,Albania,1996,3.691232,13.164797
1,Albania,2002,3.501889,13.990763
2,Albania,2005,3.983527,15.433521
3,Albania,2008,4.598464,16.435902
4,Albania,2012,4.410012,16.009024

########################################################################################
Estas son las últimas cinco filas del conjunto de datos:

,pais,año,ingreso/consumo_por_dia_marca_decil_mas_pobre,Ingreso/consumo_por_dia_marca_decil_mas_rico
2597,Zambia,2010,0.559508,5.662489
2598,Zambia,2015,0.481885,6.340823
2599,Zimbabwe,2011,1.588000,10.548965
2600,Zimbabwe,2017,1.344131,8.813227
2601,Zimbabwe,2019,1.098945,9.024824

########################################################################################
Obtenemos una muestra aleatoria de filas del conjunto de datos con una semilla para obtener el mismo resultado

,pais,año,ingreso/consumo_por_dia_marca_decil_mas_pobre,Ingreso/consumo_por_dia_marca_decil_mas_rico
2434,United States,1987,16.918104,109.593480
1852,Peru,2000,1.432422,15.786791
2123,Spain,1993,10.444427,54.116800
406,China (rural),2020,3.704332,14.085544
2112,South Korea,2006,13.830661,61.369556

########################################################################################
Identificamos las columnas del conjunto de datos
	 - pais
	 - año
	 - ingreso/consumo_por_dia_marca_decil_mas_pobre
	 - Ingreso/consumo_por_dia_marca_decil_mas_rico

########################################################################################
Identificamos el tipo de datos de cada columna
pais                                              object
año                                                int64
ingreso/consumo_por_dia_marca_decil_mas_pobre    float64
Ingreso/consumo_por_dia_marca_decil_mas_rico     float64
dtype: object

########################################################################################
Mostramos el total de columnas que hay de cada tipo de datos
float64    2
object     1
int64      1
Name: count, dtype: int64

########################################################################################
Obtenemos información más completa sobre la estructura y el contenido del DataFrame
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2602 entries, 0 to 2601
Data columns (total 4 columns):
 #   Column                                         Non-Null Count  Dtype
---  ------                                         --------------  -----
 0   pais                                           2602 non-null   object
 1   año                                            2602 non-null   int64
 2   ingreso/consumo_por_dia_marca_decil_mas_pobre  2597 non-null   float64
 3   Ingreso/consumo_por_dia_marca_decil_mas_rico   2597 non-null   float64
dtypes: float64(2), int64(1), object(1)
memory usage: 81.4+ KB
None

########################################################################################
Mostramos valores únicos tiene cada columna
pais                                              192
año                                                60
ingreso/consumo_por_dia_marca_decil_mas_pobre    2436
Ingreso/consumo_por_dia_marca_decil_mas_rico     2480
dtype: int64

########################################################################################
Estas son las estadísticas descriptivas básicas de todas las columnas:

,pais,año,ingreso/consumo_por_dia_marca_decil_mas_pobre,Ingreso/consumo_por_dia_marca_decil_mas_rico
count,2602,2602.0,2597.0,2597.0
unique,192,,,
top,United States,,,
freq,59,,,
mean,,2005.425826,8.065574,38.480267
std,,10.444378,8.580566,33.422687
min,,1963.0,0.0,1.330302
25%,,1999.0,1.857547,11.862831
50%,,2007.0,3.911348,26.190601
75%,,2014.0,12.279906,57.054565
max,,2022.0,35.475777,165.26044

########################################################################################
Observamos los valores nulos en el conjunto de datos
Ingreso/consumo_por_dia_marca_decil_mas_rico     5
ingreso/consumo_por_dia_marca_decil_mas_pobre    5
año                                              0
pais                                             0
dtype: int64

########################################################################################
Calculamos el porcentaje de valores nulos en cada columna
Ingreso/consumo_por_dia_marca_decil_mas_rico     0.19
ingreso/consumo_por_dia_marca_decil_mas_pobre    0.19
año                                              0.00
pais                                             0.00
dtype: float64

########################################################################################

#### 5.8 DataSet public healthcare spending

In [301]:
exploracion_inicial(df_public_health_spend)

Calculamos cuántas filas y columnas hay en el conjunto de datos
	Hay 4,014 filas y 4 columnas.

########################################################################################
Mostramos las primeras cinco filas del conjunto de datos

,Entity,Code,Year,Domestic general government health expenditure (% of GDP)
0,Afghanistan,AFG,2002,0.084181
1,Afghanistan,AFG,2003,0.650963
2,Afghanistan,AFG,2004,0.542926
3,Afghanistan,AFG,2005,0.529184
4,Afghanistan,AFG,2006,0.497840

########################################################################################
Estas son las últimas cinco filas del conjunto de datos:

,Entity,Code,Year,Domestic general government health expenditure (% of GDP)
4009,Zimbabwe,ZWE,2015,1.551368
4010,Zimbabwe,ZWE,2016,1.788909
4011,Zimbabwe,ZWE,2017,1.794181
4012,Zimbabwe,ZWE,2018,2.782935
4013,Zimbabwe,ZWE,2019,1.358270

########################################################################################
Obtenemos una muestra aleatoria de filas del conjunto de datos con una semilla para obtener el mismo resultado

,Entity,Code,Year,Domestic general government health expenditure (% of GDP)
4008,Zimbabwe,ZWE,2014,2.731566
2871,Peru,PER,2019,3.279813
672,Chad,TCD,2015,0.961984
2436,Mongolia,MNG,2013,2.261606
2231,Malta,MLT,2008,5.091847

########################################################################################
Identificamos las columnas del conjunto de datos
	 - Entity
	 - Code
	 - Year
	 - Domestic general government health expenditure (% of GDP)

########################################################################################
Identificamos el tipo de datos de cada columna
Entity                                                        object
Code                                                          object
Year                                                           int64
Domestic general government health expenditure (% of GDP)    float64
dtype: object

########################################################################################
Mostramos el total de columnas que hay de cada tipo de datos
object     2
int64      1
float64    1
Name: count, dtype: int64

########################################################################################
Obtenemos información más completa sobre la estructura y el contenido del DataFrame
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4014 entries, 0 to 4013
Data columns (total 4 columns):
 #   Column                                                     Non-Null Count  Dtype
---  ------                                                     --------------  -----
 0   Entity                                                     4014 non-null   object
 1   Code                                                       3754 non-null   object
 2   Year                                                       4014 non-null   int64
 3   Domestic general government health expenditure (% of GDP)  4014 non-null   float64
dtypes: float64(1), int64(1), object(2)
memory usage: 125.6+ KB
None

########################################################################################
Mostramos valores únicos tiene cada columna
Entity                                                        204
Code                                                          191
Year                                                           20
Domestic general government health expenditure (% of GDP)    4011
dtype: int64

########################################################################################
Estas son las estadísticas descriptivas básicas de todas las columnas:

,Entity,Code,Year,Domestic general government health expenditure (% of GDP)
count,4014,3754,4014.0,4014.0
unique,204,191,,
top,Andorra,DZA,,
freq,20,20,,
mean,,,2009.514699,3.285109
std,,,5.755692,2.308818
min,,,2000.0,0.062046
25%,,,2005.0,1.545156
50%,,,2010.0,2.677738
75%,,,2014.0,4.5297
max,,,2019.0,24.113354

########################################################################################
Observamos los valores nulos en el conjunto de datos
Code                                                         260
Entity                                                         0
Year                                                           0
Domestic general government health expenditure (% of GDP)      0
dtype: int64

########################################################################################
Calculamos el porcentaje de valores nulos en cada columna
Code                                                         6.48
Entity                                                       0.00
Year                                                         0.00
Domestic general government health expenditure (% of GDP)    0.00
dtype: float64

########################################################################################

##### 5.8.1 Nulos: identificación y tratamiento

In [302]:
df_public_health_spend.groupby('Entity')['Code'].apply(lambda x: x.isnull().sum())

Entity
Afghanistan                           0
Albania                               0
Algeria                               0
Andorra                               0
Angola                                0
Antigua and Barbuda                   0
Argentina                             0
Armenia                               0
Australia                             0
Austria                               0
Azerbaijan                            0
Bahamas                               0
Bahrain                               0
Bangladesh                            0
Barbados                              0
Belarus                               0
Belgium                               0
Belize                                0
Benin                                 0
Bhutan                                0
Bolivia                               0
Bosnia and Herzegovina                0
Botswana                              0
Brazil                                0
Brunei                                0
Bulgaria                              0
Burkina Faso                          0
Burundi                               0
Cambodia                              0
Cameroon                              0
Canada                                0
Cape Verde                            0
Central African Republic              0
Chad                                  0
Chile                                 0
China                                 0
Colombia                              0
Comoros                               0
Congo                                 0
Costa Rica                            0
Cote d'Ivoire                         0
Croatia                               0
Cuba                                  0
Cyprus                                0
Czechia                               0
Democratic Republic of Congo          0
Denmark                               0
Djibouti                              0
Dominica                              0
Dominican Republic                    0
East Asia and Pacific (WB)           20
East Timor                            0
Ecuador                               0
Egypt                                 0
El Salvador                           0
Equatorial Guinea                     0
Eritrea                               0
Estonia                               0
Eswatini                              0
Ethiopia                              0
Europe and Central Asia (WB)         20
European Union (27)                  20
Fiji                                  0
Finland                               0
France                                0
Gabon                                 0
Gambia                                0
Georgia                               0
Germany                               0
Ghana                                 0
Greece                                0
Grenada                               0
Guatemala                             0
Guinea                                0
Guinea-Bissau                         0
Guyana                                0
Haiti                                 0
High-income countries                20
Honduras                              0
Hungary                               0
Iceland                               0
India                                 0
Indonesia                             0
Iran                                  0
Iraq                                  0
Ireland                               0
Israel                                0
Italy                                 0
Jamaica                               0
Japan                                 0
Jordan                                0
Kazakhstan                            0
Kenya                                 0
Kiribati                              0
Kuwait                                0
Kyrgyzstan                            0
Laos                                  0
Latin America and Caribbean (WB)     20
Latvia                                0
Lebanon                               0
Lesotho                               0
Liberia                               0
Libya                                 0
Lithuania                             0
Low-income countries                 20
Lower-middle-income countries        20
Luxembourg                            0
Madagascar                            0
Malawi                                0
Malaysia                              0
Maldives                              0
Mali                                  0
Malta                                 0
Marshall Islands                      0
Mauritania                            0
Mauritius                             0
Mexico                                0
Micronesia (country)                  0
Middle East and North Africa (WB)    20
Middle-income countries              20
Moldova                               0
Monaco                                0
Mongolia                              0
Montenegro                            0
Morocco                               0
Mozambique                            0
Myanmar                               0
Namibia                               0
Nauru                                 0
Nepal                                 0
Netherlands                           0
New Zealand                           0
Nicaragua                             0
Niger                                 0
Nigeria                               0
North America (WB)                   20
North Macedonia                       0
Norway                                0
Oman                                  0
Pakistan                              0
Palau                                 0
Panama                                0
Papua New Guinea                      0
Paraguay                              0
Peru                                  0
Philippines                           0
Poland                                0
Portugal                              0
Qatar                                 0
Romania                               0
Russia                                0
Rwanda                                0
Saint Kitts and Nevis                 0
Saint Lucia                           0
Saint Vincent and the Grenadines      0
Samoa                                 0
San Marino                            0
Sao Tome and Principe                 0
Saudi Arabia                          0
Senegal                               0
Serbia                                0
Seychelles                            0
Sierra Leone                          0
Singapore                             0
Slovakia                              0
Slovenia                              0
Solomon Islands                       0
South Africa                          0
South Asia (WB)                      20
South Korea                           0
South Sudan                           0
Spain                                 0
Sri Lanka                             0
Sub-Saharan Africa (WB)              20
Sudan                                 0
Suriname                              0
Sweden                                0
Switzerland                           0
Syria                                 0
Tajikistan                            0
Tanzania                              0
Thailand                              0
Togo                                  0
Tonga                                 0
Trinidad and Tobago                   0
Tunisia                               0
Turkey                                0
Turkmenistan                          0
Tuvalu                                0
Uganda                                0
Ukraine                               0
United Arab Emirates                  0
United Kingdom                        0
United States                         0
Upper-middle-income countries        20
Uruguay                               0
Uzbekistan                            0
Vanuatu                               0
Venezuela                             0
Vietnam                               0
World                                 0
Yemen                                 0
Zambia                                0
Zimbabwe                              0
Name: Code, dtype: int64

In [303]:
# Creamos dataframe de paises
df_phs_paises = df_public_health_spend[df_public_health_spend['Code'].notnull()]

In [304]:
df_phs_paises.isnull().sum()

Entity                                                       0
Code                                                         0
Year                                                         0
Domestic general government health expenditure (% of GDP)    0
dtype: int64

In [305]:
df_phs_regiones = df_public_health_spend[df_public_health_spend['Code'].isnull()]

In [306]:
df_phs_regiones.isnull().sum()

Entity                                                         0
Code                                                         260
Year                                                           0
Domestic general government health expenditure (% of GDP)      0
dtype: int64

In [307]:
len(df_public_health_spend)

4014

In [308]:
len(df_phs_paises)

3754

In [309]:
len(df_phs_regiones)

260

In [310]:
len(df_public_health_spend) == len(df_phs_paises) + len(df_phs_regiones)

True

##### 5.8.2 Normalización del nombre de las columnas

In [311]:
mapeo_public_health = {
	"Entity": "entidad",
	"Code": "codigo",
	"Year": "año",
	"Domestic general government health expenditure (% of GDP)": "gasto_publico_general_en_salud (prc_pib)"
}

In [312]:
df_phs_paises = renombrar_columnas(df_phs_paises, mapeo_public_health)
df_phs_regiones = renombrar_columnas(df_phs_regiones, mapeo_public_health)

In [313]:
df_phs_paises.columns

Index(['entidad', 'codigo', 'año', 'gasto_publico_general_en_salud (prc_pib)'], dtype='object')

In [314]:
df_phs_regiones.columns

Index(['entidad', 'codigo', 'año', 'gasto_publico_general_en_salud (prc_pib)'], dtype='object')

##### 5.8.3 Análisis exploratorio df_life_expec_paises

In [315]:
exploracion_inicial(df_phs_paises)

Calculamos cuántas filas y columnas hay en el conjunto de datos
	Hay 3,754 filas y 4 columnas.

########################################################################################
Mostramos las primeras cinco filas del conjunto de datos

       entidad codigo   año  gasto_publico_general_en_salud (prc_pib)
0  Afghanistan    AFG  2002                                  0.084181
1  Afghanistan    AFG  2003                                  0.650963
2  Afghanistan    AFG  2004                                  0.542926
3  Afghanistan    AFG  2005                                  0.529184
4  Afghanistan    AFG  2006                                  0.497840

########################################################################################
Estas son las últimas cinco filas del conjunto de datos:

       entidad codigo   año  gasto_publico_general_en_salud (prc_pib)
4009  Zimbabwe    ZWE  2015                                  1.551368
4010  Zimbabwe    ZWE  2016                                  1.788909
4011  Zimbabwe    ZWE  2017                                  1.794181
4012  Zimbabwe    ZWE  2018                                  2.782935
4013  Zimbabwe    ZWE  2019                                  1.358270

########################################################################################
Obtenemos una muestra aleatoria de filas del conjunto de datos con una semilla para obtener el mismo resultado

           entidad codigo   año  gasto_publico_general_en_salud (prc_pib)
2505       Myanmar    MMR  2013                                  0.604109
823        Croatia    HRV  2006                                  5.908444
3451         Sudan    SDN  2016                                  1.289965
2588   Netherlands    NLD  2016                                  6.740718
3221  Sierra Leone    SLE  2009                                  0.933092

########################################################################################
Identificamos las columnas del conjunto de datos
	 - entidad
	 - codigo
	 - año
	 - gasto_publico_general_en_salud (prc_pib)

########################################################################################
Identificamos el tipo de datos de cada columna
entidad                                      object
codigo                                       object
año                                           int64
gasto_publico_general_en_salud (prc_pib)    float64
dtype: object

########################################################################################
Mostramos el total de columnas que hay de cada tipo de datos
object     2
int64      1
float64    1
Name: count, dtype: int64

########################################################################################
Obtenemos información más completa sobre la estructura y el contenido del DataFrame
<class 'pandas.core.frame.DataFrame'>
Index: 3754 entries, 0 to 4013
Data columns (total 4 columns):
 #   Column                                    Non-Null Count  Dtype
---  ------                                    --------------  -----
 0   entidad                                   3754 non-null   object
 1   codigo                                    3754 non-null   object
 2   año                                       3754 non-null   int64
 3   gasto_publico_general_en_salud (prc_pib)  3754 non-null   float64
dtypes: float64(1), int64(1), object(2)
memory usage: 146.6+ KB
None

########################################################################################
Mostramos valores únicos tiene cada columna
entidad                                      191
codigo                                       191
año                                           20
gasto_publico_general_en_salud (prc_pib)    3751
dtype: int64

########################################################################################
Estas son las estadísticas descriptivas básicas de todas las columnas:

        entidad codigo          año gasto_publico_general_en_salud (prc_pib)
count      3754   3754       3754.0                                   3754.0
unique      191    191
top     Algeria    DZA
freq         20     20
mean                    2009.515717                                 3.250742
std                        5.754956                                 2.302819
min                          2000.0                                 0.062046
25%                          2005.0                                 1.535074
50%                          2010.0                                 2.661538
75%                          2014.0                                 4.496186
max                          2019.0                                24.113354

########################################################################################
Observamos los valores nulos en el conjunto de datos
entidad                                     0
codigo                                      0
año                                         0
gasto_publico_general_en_salud (prc_pib)    0
dtype: int64

########################################################################################
Calculamos el porcentaje de valores nulos en cada columna
entidad                                     0.0
codigo                                      0.0
año                                         0.0
gasto_publico_general_en_salud (prc_pib)    0.0
dtype: float64

########################################################################################